<meta http-equiv="cleartype" content="on">
<venda_tpcomment><!-- optimized for mobile, zoom/scaling disabled --></venda_tpcomment><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<venda_tpcomment><!-- status bar styles: default, black, or black-translucent --></venda_tpcomment><meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="format-detection" content="telephone=no" />