<html>
<head>
<title><venda_ebizname>Refer Site Testing</title>
</head>
<body>
<div id="emailBody">

<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Refer Site</h1>
	<div class="clear">&nbsp;</div>
</div>
<p>Dear <strong><venda_field1></strong></p>
<p>Message : <venda_field2></p>
<p><span><venda_custf1label></span>: <span><venda_custf1></span></p>
<p><span><venda_custf2label></span>: <span><venda_custf2></span></p>
</div>
</body>
</html>