<div id="category-container">
<venda_page page=toiletries>
</div>


<script type="text/javascript"> 
function showtab(a) {$(a).show();}function hidetab(a) {$(a).hide();}
$(document).ready(function(){$(".StoreArrow").show();$(".StoreArrow a:first").addClass("active");var a=$(".StoreCarousel").width();var b=$(".StoreCarouselSlider").size();var c=a*b;$(".StoreCarouselSlider").css({width:c});rotate=function(){var b=$active.attr("rel")-1;var c=b*a;$(".StoreArrow a").removeClass("active");$active.addClass("active");$(".StoreCarouselSlider").animate({left:-c},1e3)};rotateSwitch=function(){play=setInterval(function(){$active=$(".StoreArrow a.active").next();if($active.length===0){$active=$(".StoreArrow a:first")}rotate()},7e3)};rotateSwitch();$(".StoreCarouselSlider").hover(function(){clearInterval(play)},function(){rotateSwitch()});$(".StoreArrow a").click(function(){$active=$(this);clearInterval(play);rotate();rotateSwitch();return false})});(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src="https://apis.google.com/js/plusone.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()
</script>
