<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="shopbybrand_area">
<div class="block_toiletries">
<p class="border-top"><a href="<venda_dispview icat=bath_and_body>">Bath & Body</a></p>
<p><a href="<venda_dispview icat=fragrance>">Fragrance</a></p>
<p><a href="<venda_dispview icat=mens_grooming_toiletries>">Men's Grooming</a></p>
<p><a href="<venda_dispview icat=candles_room_fragrance>">Candles & Room Fragrance</a></p>
<p><a href="<venda_dispview icat=gift_sets>">Gift Sets</a></p>
<p><a href="<venda_dispview icat=stocking_fillers>">Novelty</a></p>
<p><a href="<venda_dispview icat=mother_and_baby>">Mother & Baby</a></p>
<p><a href="<venda_dispview icat=loungewear_accessories>">Loungewear & Accessories</a></p>
</div>
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_toiletries">
<venda_category temp=brand_categories,ref=toiletries_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bath_and_body>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bath_and_body>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=bath_and_body>">Bath & Body</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=fragrance>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=fragrance>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=fragrance>">Fragrance</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=mens_grooming_toiletries>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=mens_grooming_toiletries>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=mens_grooming_toiletries>">Men's Grooming</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=candles_room_fragrance>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=candles_room_fragrance>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=candles_room_fragrance>">Room Fragrance</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=gift_sets>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=gift_sets>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=gift_sets>">Gift Sets</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=stocking_fillers>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=stocking_fillers>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=stocking_fillers>">Novelty</a>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>_slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>_slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>