<div class="static-wrapper emailmeback">
	<div class="static-content">
		<div class="static-header borderBt">
			<h1><venda_text id=mobile.heading.email_when_in_stock></h1>
		</div>
		<div class="boxContent">
			<form action="<venda_codehttp>" method="post" id="emailmebackform" name="emailmebackform" data-ajax="false">
			<input type="hidden" name="ex" value="tl_emlinstock-emailme">
			<input type="hidden" name="bsref" value="<venda_bsref>">
			<input type="hidden" name="invtref" value="<venda_invtref>">
			<input type="hidden" name="dispviewref" value="<venda_invtref>">
			<input type="hidden" name="invt" value="<venda_invtref>">
			<input type="hidden" name="layout" id="layout" value="mobile">
			<input type="hidden" name="temp" value="thankyouMobile">
			<input type="hidden" name="htxt" value="<venda_htxt mode=make,foo=emailinstock>">
			<div data-role="fieldcontain" class="ui-hide-label">
				<label for="bisemail"><venda_text id=mobile.form.email></label>
				<input type="email" name="bisemail" value="<venda_block label=1,ustype=R><venda_userinfo><venda_sesusemail></venda_userinfo></venda_block label=1>" id="bisemail" maxlength="150" placeholder="<venda_text id=mobile.form.email> <venda_text id=mobile.form.required>" required />
			</div>

			<div class="ui-grid-a submitButton">
				<div class="ui-block-a"><a class="cancel" href="<venda_dispview invt=<venda_invtref>>" data-theme="c" data-mini="true" data-role="button"><venda_text id=mobile.button.cancel></a></div>
				<div class="ui-block-b"><input type="submit" alt="<venda_text id=mobile.button.continue>" value="<venda_text id=mobile.button.continue>" class="submitEMWBIS" data-mini="true" data-role="button"></div>
			</div>
			</form>
		</div><!-- /boxContent -->
	</div><!-- /static-content -->
</div><!-- /static-wrapper -->

<div id="email-when-in-stock-invtref" style="display: none;"><venda_invtref></div>
<div id="email-when-in-stock-invtname" style="display: none;"><venda_invtname></div>

<!-- tpxt used for crumbtrail -->
<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
<venda_tpxt mode=set,name=track,value=emailinstock>