<venda_inctemplate name=htmlEmailDetblocks,type=includes/email>
<html>
<head>
	<title><venda_ebizname> <venda_block label=76,ohreplnbr=null>Order Confirmation</venda_block label=76><venda_block label=77,ohreplnbr=notnull><venda_block label=78,ohpaytype=6>Free</venda_block label=78> Replacement Order</venda_block label=77> - <venda_ohordnum></title>
</head>
<body>
<div id="emailBody">

<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1><venda_block label=76,ohreplnbr=null>Order Confirmation</venda_block label=76><venda_block label=77,ohreplnbr=notnull><venda_block label=78,ohpaytype=6>Free</venda_block label=78> Replacement Order</venda_block label=77> - <venda_ohordnum></h1>
	<div class="clear"> </div>
</div>


<venda_inctemplate name=htmlEmailHeader,type=includes/email>

<!-- for standard orders -->
<venda_block label=66,ohreplnbr=null>
	<p>Thank you for ordering from Heals.co.uk</p>
	<p>The details of your order are shown below.</p>
	<p>Your order number is <strong>#<venda_ohordnum></strong>.  Please quote this number in any correspondence.</p>
	<p>Your order will be dispatched when every item is available.</p>
	<p>Please keep this e-mail for your records.</p>
</venda_block label=66>

<!-- for replacement orders -->
<venda_block label=67,ohreplnbr=notnull>
	<p>We would just like to let you know that your <venda_block label=68,ohpaytype=6>free </venda_block label=68>replacement has been processed and should be despatched shortly. Your order number is <strong>#<venda_ohordnum></strong>.</p>
</venda_block label=67>

<venda_inctemplate name=htmlEmailBody,type=includes/email>
<p>To check the current status of your order, to change your contact details or to view your order history, go to <a href="<venda_codehttps>?ex=co_disp-view&page=myaccount&bsref=<venda_bsref>">'My Account'</a> page.</p>

<p><strong>WHAT HAPPENS NEXT?</strong></p>

<p><strong>Delivery:</strong></p>

<p>If you have any queries regarding the delivery of your order, please check our Delivery FAQs <a href="<venda_dispview page=faqs>">www.heals.co.uk/pcat/faqs</a>. Alternatively you can contact our customer service team by email delivery <a href="mailto:delivery@heals.co.uk">delivery@heals.co.uk</a> or call 08700 240780</p>


<venda_block label=111,mode=value,<venda_tpxt mode=get,name=notfurniture>=yes,<venda_tpxt mode=get,name=furniture>=,operator=and>
<venda_page page=conditionnonfurniture>
</venda_block label=111>
<venda_block label=111,mode=value,<venda_tpxt mode=get,name=furniture>=yes,<venda_tpxt mode=get,name=notfurniture>=,operator=and>
<venda_page page=conditionfurniture>
</venda_block label=111>
<venda_block label=111,mode=value,<venda_tpxt mode=get,name=notfurniture>=yes,<venda_tpxt mode=get,name=furniture>=yes,operator=and>
<venda_page page=conditionmixed>
</venda_block label=111>

<p><strong>Payment:</strong></p> 

<p>All payments are pre-authorised with your bank to ensure that sufficient funds are available to place the order.</p>  
<p>Payment of non furniture items takes place when the items are dispatched.</p>  
<p>Payment of all furniture items and special order items takes place when the items are processed, generally this will be within 72 hours of placing your order.</p>  
<p>If we have any queries or require clarification about access details for large pieces of furniture, we will contact you directly. </p>

<p><strong>Changed your mind?</strong></p> 

<p>Returns and Refunds - returns and refunds are offered on any unsuitable items purchased unseen from our website and returned to us in the original packaging and in perfect condition.</p> 

<p>In order to arrange a refund, return or exchange, you will require a returns authorisation code. You can obtain this by simply emailing: <a href="mailto:returns@heals.co.uk">returns@heals.co.uk</a> or call 08700 240780. You will receive a reply with a returns authorisation code (RMA) that you will need to quote on all subsequent correspondence and instructions on how to proceed with the product return. We recommend using a registered service when returning items to us.</p>

<p>For non furniture items, the goods need to be returned to us within 28 days of receipt of the order. 
For items of furniture, the goods need to be returned to us within 7 days of receipt of the order. 
Refunds on unsuitable goods will exclude all delivery costs. 
</p>

<p>Please note that we are unable to accept returns and issue refunds on any 'Special Order' items unless they are proved to be faulty.</p>

<p>Cancellations - to cancel an order prior to dispatch, please contact our customer service team by email <a href="mailto:cancellations@heals.co.uk">cancellations@heals.co.uk</a> or call 08700 240780</p>

<p><strong>Product Faults and Damage:</strong></p> 

<p>After you have received your order, please carefully inspect the goods. If you have problems or queries relating to your order please contact our customer service team by email <a href="mailto:enquiries@heals.co.uk">enquiries@heals.co.uk</a> or call 08700 240780</p>

<p>To view our Terms and Condition of business, please visit  
<a href="<venda_dispview page=terms>">www.heals.co.uk/page/terms</a></p>

<p>Once again thank you for choosing to shop with Heals.co.uk</p>

<venda_inctemplate name=htmlEmailFooter,type=includes/email>
</div>
</body>
</html>