<venda_detblock1>
<venda_nameref>: <venda_emailref><br>
</venda_detblock1>
<html>
<head>
	<title><venda_ebizname> Refer A Friend</title>
</head>
<body>

<div id="emailBody">
<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Refer A Friend</h1>
	<div class="clear">&nbsp;</div>
</div>

<p>Dear <strong><venda_title> <venda_fname> <venda_lname></strong>,</p>
<p>Thank you for referring your friend(s) to Heals.co.uk. If they are not already registered on Heals.co.uk and purchase something from our site you will be entitled to a &pound;<venda_coamt> voucher!</p>
<p><venda_ebizname> would like to thank you for recommending us.  Don't forget that you can recommend as many friends as you wish, and continue to earn your &pound;<venda_coamt> vouchers.</p>
<p>Here are the details of the referals you have made:</p>
<p><venda_detail1></p>

<p><strong>How to redeem your voucher</strong></p>
<ul>
	<li>Go to <a href="<venda_serveradd>"><venda_ebizurl></a>.</li>
	<li>Select the items you wish to purchase and add them to your basket.</li>
	<li>Go through the checkout process until you get to the final order summary page.</li>
	<li>Click on the 'Redeem A Voucher' button and copy the voucher claim code exactly as shown above.</li>
	<li>Click 'Continue'. This will apply the voucher.</li>
</ul>

<p><strong>Terms and conditions of use</strong></p>
<ul>
	<li>Your Refer A Friend voucher can only be redeemed against a purchase with a minimum value of GBP &pound;10.00 excluding postage and packing, delivery and gift wrap charges.</li>
	<li>Vouchers can only be redeemed online at <a href="<venda_serveradd>"><venda_ebizurl></a> or by telephone, phone <strong><venda_ebizarea> <venda_ebizphone></strong>.</li>
	<li>The voucher is valid for three months from the date the voucher is emailed to you.</li>
	<li>This voucher has a face value of &pound;<venda_coamt>.</li>
	<li>The remaining balance must be paid using a credit or debit card.</li>  
	<li>Only one voucher can be redeemed per order.</li>
	<li>This voucher is not valid in conjunction with any other promotional offer.</li>
	<li>This voucher is not transferable or assignable and has a cash redemption value of GBP &pound;0.001 which can not be exchanged or part exchanged for cash payment.</li>
	<li>Normal <venda_ebizname> <a href="<venda_serveradd>/page/terms">terms and conditions</a> for using the <venda_ebizname> website apply except when they conflict with these terms and conditions.</li>
	<li>The voucher cannot be used to purchase gift certificates, or used against the value of postage and packing, delivery and gift wrap charges.</li>
	<li>The voucher cannot be used retrospectively to pay for orders already placed.</li>
</ul>
</div>
</body>
</html>