<div class="header-top"></div>
<div id="header">
<venda_inctemplate name=header-logo,type=menu>
<div id="header-right-block"> 
<venda_inctemplate name=header-center,type=menu>
<venda_inctemplate name=header-basket,type=menu>
</div>
<venda_inctemplate name=searchbox,type=menu> 
<div class="header-bottom"></div>
<venda_block label=notshopcart,mode=value,workflow!=shopcart>
<venda_inctemplate name=topnavcategories,type=cats>
<venda_inctemplate name=crumbtrail,type=includes>
</venda_block label=notshopcart>
<venda_block label=isshopcart,mode=value,workflow=shopcart>
<br /><br />
</venda_block label=isshopcart>
</div>