<venda_detblock_attribute>
	/*comment on update here
    to show if JSON is updated
    */
    Venda.Attributes.StoreJSON(<venda_atts>,{"atronhand":<venda_atronhand>,"atrreleaseyr":"<venda_atrreleaseyr>","atrmsrp":"<venda_atrmsrp>","atrlbl3":"<venda_atrlbl3>","atr2":"<venda_atr2>","atrsku":"<venda_atrsku>","atr3":"<venda_atr3>","atrlbl4":"<venda_atrlbl4>","atrwas":"<venda_atrwas>","atr4":"<venda_atr4>","atrsell":"<venda_atrsell>","atrlbl2":"<venda_atrlbl2>","atrsuplsku":"<venda_atrsuplsku>","atrreleasemn":"<venda_atrreleasemn>","atretayr":"<venda_atretayr>","invtuuid":"<venda_invtuuid>","atrreleasedy":"<venda_atrreleasedy>","atretady":"<venda_atretady>","atr1":"<venda_atr1>","atrdssku":"<venda_atrdssku>","atretamn":"<venda_atretamn>","atrpublish":"<venda_atrpublish>","atrcost":"","atrlbl1":"<venda_atrlbl1>"});
</venda_detblock_attribute>
<script type="text/javascript">
	<venda_detail_attribute>
</script>