<li>
<a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false">
	<venda_block label=10,med-small=notnull><venda_media rec=invt,type=movie-swf-pict,key=multi,dyn=yes,default=small></venda_block label=10>
	<venda_block label=11,med-small=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=mobile.info.no_product_image>"></venda_block label=11>
	<h3><venda_invtname></h3>
	<venda_inctemplate type=includes,name=priceFormatMobile>
	<p class="swatch"><venda_mediagrid template=swatchMobile></p>
</a>
</li>