<li>
<a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false">
<div id="prod_image">
	<venda_block label=10,med-small=notnull><venda_media rec=invt,type=movie-swf-pict,key=multi,dyn=yes,default=small></venda_block label=10>
	<venda_block label=11,med-small=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=mobile.info.no_product_image>"></venda_block label=11>
</div>
<!-- start:additonal product tags on top --->
<div class="product_info_ears_mobile">
<div class="newproduct_mobile">
	<venda_block label=8011,pdxtstatus=6>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/new.png">
	</venda_block label=8011>
</div>
<div class="heals_express_mobile">
	<venda_block label=8012,pdxtexpress=1>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/heals-express-square.png">
	</venda_block label=8012>
</div>
<div class="special_purchase_mobile">
    <venda_block label=8013,pdxtspecial=1>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/special.png">
	</venda_block label=8013>
</div>
<div class="discount50_mobile">
	<div class="discountWasPrice" style="display:none;"><venda_invtwas></div>
	<div class="discountSellPrice" style="display:none;"><venda_invtsell></div>
	<div class="discountLive" style="display:none;"><venda_serveradd>/</div>
	<div class="discountSkuInvt" style="display:none;">invt/<venda_invtref></div>
</div>
</div>
<!-- end:additonal product tags on top --->   
       
	<h3><venda_invtname></h3>
	<venda_inctemplate type=includes,name=priceFormatMobile>
	<p class="swatch"><venda_mediagrid template=swatchMobile></p>
    
<!-- start:additonal product tags on base --->
<venda_block label=900102,invtivtype=range,invtivtype=furniturerange,invtivtype=gardenfurniturerange,operator=or>
<div class="onlineonly_mobile2">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/more-options.gif">
</div>
</venda_block label=900102>

<venda_block label=801,pdxtstoreavail=1>
<div class="onlineonly_mobile">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/online_only.gif">
</div>
</venda_block label=801>
<!-- end:additonal product tags on base --->
    
</a>
</li>