<html>
<head>
	<title><venda_ebizname> Registration Confirmation</title>
</head>
<body>
<div id="emailBody">
<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Registration Confirmation</h1>
	<div class="clear"> </div>
</div>

<p>Dear <strong><venda_title> <venda_fname> <venda_lname></strong>,</p>
<p>Thank you for registering and welcome to Heals.co.uk, the simple, quick and secure way to shop at Heal’s</p>
<p>Using the “My Account” section of Heals.co.uk, you are now able manage your personal information, add or edit your delivery address details, view your order history and check on the current status of an order. You can also use our reminder service to make sure you never forget that special birthday or anniversary again... Furthermore, you can sign up or unsubscribe to the heals.co.uk email newsletters which include seasonal product updates, special offers and promotions. </p>
<p>To visit your '<a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>">My Account page, click here</a>' </p>
<p>Once again thank you for registering with heals.co.uk and we look forward to your visiting soon.</p>
<venda_inctemplate name=htmlEmailFooter,type=includes/email>

</div>
</body>
</html>


