<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">
	<h5 class="acc_trigger"><a href="<venda_text id=site.bathroom_storage>">Bathroom Storage</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_bathroom"> 
<p class="border-top"><a href="<venda_text id=site.cabinets>">Bathroom Cabinets</a></p>
<p><a href="<venda_text id=site.storage_boxes>">Storage Boxes & Baskets</a></p>
<p><a href="<venda_dispview icat=bathroom_storage>&pdxtbrowse=Bath+Bridges+and+Caddys">Bath Bridges & Caddys</a></p>
<p><a href="<venda_dispview icat=bathroom_storage>&pdxtbrowse=Storage+Jars+and+Organisers">Jars & Organisers</a></p>
<p><a href="<venda_text id=site.laundry_bins>">Laundry Bins</a></p>
		</div> 
	</div>

        <h5 class="acc_trigger"><a href="<venda_dispview icat=bathroom_lights_mirrors>">Lights & Mirrors</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_bathroom"> 
<p class="border-top"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Bathroom+Lights">Bathroom Lights</a></p>
<p><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Light+Pulls">Light Pulls</a></p>
<p><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Wall+Mirrors">Wall Mirrors</a></p>
<p><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Illuminated+Mirrors">Illuminated Mirrors</a></p>
<p><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Pedestal+Mirrors">Pedestal Mirrors</a></p>
		</div> 
	</div>

	<h5 class="acc_trigger"><a href="<venda_dispview icat=small_essentials>">Small Essentials</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_bathroom"> 
<p class="border-top"><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Small+Accessories">Small Accessories</a></p>
<p><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Toilet+Brushes">Toilet Brushes</a></p>
<p><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Toilet+Roll+Holders">Toilet Roll Holders</a></p>
<p><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Towel+Rails+and+Hooks">Towel Rails & Hooks</a></p>
<p><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Bathroom+Shelves">Bathroom Shelves</a></p>
		</div> 
	</div>
	
	<h5 class="acc_trigger"><a href="<venda_dispview icat=large_essentials>">Large Essentials</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_bathroom"> 
<p class="border-top"><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Bathroom+Bins">Bathroom Bins</a></p>
<p><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Toilet+Seats">Toilet Seats</a></p>
<p><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Shower+Curtains">Shower Curtains</a></p>
<p><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Non+Slip+Mats">Non-Slip Mats</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_dispview icat=bath_accessories>">Accessories</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_bathroom">
<p class="border-top"><a href="<venda_text id=site.bathroom_scales>">Bathroom Scales</a></p>
<p><a href="<venda_dispview icat=bath_accessories>&pdxtbrowse=Novelty">Novelty</a></p>
<p><a href="<venda_text id=site.wash_bags>">Wash Bags</a></p>
<p><a href="<venda_dispview icat=bath_accessories>&pdxtbrowse=Spa">Spa</a></p>
		</div> 
	</div>
	
	<h5 class="acc_trigger"><a href="<venda_text id=site.bath_linen>">Bath Linen</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_bathroom"> 
<p class="border-top"><a href="<venda_text id=site.towels>">Towels</a></p>
<p><a href="<venda_dispview icat=bath_linen>?pdxtbrowse=Bath+Mats+and+Boards">Bath Mats & Boards</a></p>
<p><a href="<venda_text id=site.robes>">Robes</a></p>
<p><a href="<venda_dispview icat=loungewear_accessories>&pdxtbrowse=Slippers">Slippers</a></p>
		</div> 
	</div>
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_bathroom">
<venda_category temp=brand_categories,ref=bathroom_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.bathroom_storage>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_bathroom_storage>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.bathroom_storage>">Bathroom Storage</a>
</div>
<div class="sub_category_sub_headings_bathroom">
<div class="sub_headings"><a href="<venda_text id=site.cabinets>">Bathroom Cabinets</a></div>
<div class="sub_headings"><a href="<venda_text id=site.storage_boxes>">Storage Boxes & Baskets</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_storage>&pdxtbrowse=Bath+Bridges+and+Caddys">Bath Bridges & Caddys</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_storage>&pdxtbrowse=Storage+Jars+and+Organisers">Jars & Organisers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.laundry_bins>">Laundry Bins</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_dispview icat=bathroom_lights_mirrors>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bathroom_lights_mirrors>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=bathroom_lights_mirrors>">Lights & Mirrors</a>
</div>
<div class="sub_category_sub_headings_bathroom">
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Bathroom+Lights">Bathroom Lights</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Light+Pulls">Light Pulls</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Wall+Mirrors">Wall Mirrors</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Illuminated+Mirrors">Illuminated Mirrors</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Pedestal+Mirrors">Pedestal Mirrors</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_dispview icat=small_essentials>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=small_essentials>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=small_essentials>">Small Essentials</a>
</div>
<div class="sub_category_sub_headings_bathroom">
<div class="sub_headings"><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Small+Accessories">Small Accessories</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Toilet+Brushes">Toilet Brushes</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Toilet+Roll+Holders">Toilet Roll Holders</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Towel+Rails+and+Hooks">Towel Rails & Hooks</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=small_essentials>&pdxtbrowse=Bathroom+Shelves">Bathroom Shelves</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_dispview icat=large_essentials>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=large_essentials>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=large_essentials>">Large Essentials</a>
</div>
<div class="sub_category_sub_headings_bathroom">
<div class="sub_headings"><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Bathroom+Bins">Bathroom Bins</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Toilet+Seats">Toilet Seats</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Shower+Curtains">Shower Curtains</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=large_essentials>?pdxtbrowse=Non+Slip+Mats">Non-Slip Mats</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_dispview icat=bath_accessories>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bath_accessories>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=bath_accessories>">Accessories</a>
</div>
<div class="sub_category_sub_headings_bathroom">
<div class="sub_headings"><a href="<venda_text id=site.bathroom_scales>">Bathroom Scales</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bath_accessories>&pdxtbrowse=Novelty">Novelty</a></div>
<div class="sub_headings"><a href="<venda_text id=site.wash_bags>">Wash Bags</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bath_accessories>&pdxtbrowse=Spa">Spa</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.bath_linen>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_bath_linen>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.bath_linen>">Bath Linen</a>
</div>
<div class="sub_category_sub_headings_bathroom">
<div class="sub_headings"><a href="<venda_text id=site.towels>">Towels</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bath_linen>?pdxtbrowse=Bath+Mats+and+Boards">Bath Mats & Boards</a></div>
<div class="sub_headings"><a href="<venda_text id=site.robes>">Robes</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=loungewear_accessories>&pdxtbrowse=Slippers">Slippers</a></div>
</div>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>