<div class="socialButtons">
	<div class="socialIcons">
		<a href="<venda_dispview invt=<venda_invtref>>&temp=tellafriendMobile" class="tellafriend"><span><venda_text id=mobile.button.tell_friend></span></a>
		<a class="fb_share fb" href="http://www.facebook.com/sharer.php?u=<venda_encode><venda_dispview invt=<venda_invtref>></venda_encode>&t=<venda_encode><venda_invtname></venda_encode>" target="_blank" title="<venda_text id=mobile.button.facebook><venda_text id=mobile.info.open_new_window>"><span><venda_text id=mobile.button.facebook></span></a>
		<a href="http://twitter.com/share" class="twitt twitter-share-button" data-count="none" target="_blank" title="<venda_text id=mobile.button.twitter><venda_text id=mobile.info.open_new_window>"><span><venda_text id=mobile.button.twitter></span></a>
	</div>
</div>