<div class="box checkoutMinicart">
<h3 class="header">Items in your order</h3>
<div class="boxContent">
	<venda_block label=52,mode=value,<venda_shopcart mode=getqty>!=0><venda_order shopcart=1,template=minicart_detail_checkout></venda_block label=52>
	<venda_block label=53,mode=value,<venda_shopcart mode=getqty>=0><p><venda_text id=desktop.info.shopping_cart_empty></p></venda_block label=53>
	<div id="checkoutMinicart_totals" class="checkoutMinicartTotals">
		<span><venda_text id=desktop.info.total>: </span> <span class="total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><span id="updatemdTotal" class="price"><venda_ohsubsell></span></a></span>
	</div>
	<venda_block label=101,workflow!=instore>
	<div class="checkoutMinicartButton">
		<a class="button" href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_text id=desktop.button.view_shopping_cart></a>
	</div>
	</venda_block label=101>
</div>
</div>