<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">
	<h5 class="acc_trigger"><a href="<venda_text id=site.upholstery>">Upholstery</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.sofas>">Sofas</a></p>
<p><a href="<venda_text id=site.armchairs>">Armchairs</a></p>
<p><a href="<venda_text id=site.loveseats>">Loveseats</a></p>
<p><a href="<venda_text id=site.sofabeds>">Sofabeds</a></p>
<p><a href="<venda_text id=site.modularsofas>">Modular Sofas</a></p>
		</div> 
	</div> 

	<h5 class="acc_trigger"><a href="<venda_text id=site.occasional_tables>">Occasional Tables</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.lamp_tables>">Lamp Tables</a></p>
<p><a href="<venda_text id=site.coffee_tables>">Coffee Tables</a></p>
<p><a href="<venda_text id=site.console_tables>">Console Tables</a></p>
<p><a href="<venda_text id=site.side_tables>">Side Tables</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.storage_shelving>">Storage & Shelving</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.shelving_units_bookcases>">Shelving Units & Bookcases</a></p>
<p><a href="<venda_text id=site.sideboards>">Sideboards</a></p>
<p><a href="<venda_text id=site.avunits>">AV Units</a></p>
<p><a href="<venda_text id=site.cupboards>">Cupboards</a></p>
<p><a href="<venda_text id=site.shoe_storage>">Shoe Storage</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.soft_furnishings>">Soft Furnishings</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.rugs>">Rugs</a></p>
<p><a href="<venda_text id=site.cushions>">Cushions</a></p>
<p><a href="<venda_text id=site.throws>">Throws</a></p>
<p><a href="<venda_text id=site.bean_bags>">Bean Bags</a></p>
<p><a href="<venda_text id=site.bedspreads_blankets>">Bedspreads & Blankets</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.decorative_accessories>">Decorative Accessories</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.mirrors>">Mirrors</a></p>
<p><a href="<venda_text id=site.clocks>">Clocks</a></p>
<p><a href="<venda_text id=site.fans>">Fans</a></p>
<p><a href="<venda_text id=site.vases_bowls_objets>">Vases, Bowls & Objets</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_dispview page=wallpaper_page>">Curtains & Wallpaper</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.curtains>">Curtains</a></p>
<p><a href="<venda_text id=site.curtain_poles>">Curtain Poles</a></p>
<p><a href="<venda_text id=site.blinds>">Blinds</a></p>
<p><a href="<venda_dispview icat=wallpaper>">Wallpaper</a></p>
<p><a href="<venda_dispview icat=wallpaper>&pdxtbrowse=Wall+Stickers">Wall Stickers</a></p>
		</div> 
	</div>
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_furniture">
<venda_category temp=brand_categories,ref=living_room_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.upholstery>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_upholstery>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.upholstery>">Upholstery</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.sofas>">Sofas</a></div>
<div class="sub_headings"><a href="<venda_text id=site.armchairs>">Armchairs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.loveseats>">Loveseats</a></div>
<div class="sub_headings"><a href="<venda_text id=site.sofabeds>">Sofabeds</a></div>
<div class="sub_headings"><a href="<venda_text id=site.modularsofas>">Modular Sofas</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.occasional_tables>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_occasional_tables>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.occasional_tables>">Occasional Tables</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.lamp_tables>">Lamp Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.coffee_tables>">Coffee Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.console_tables>">Console Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.side_tables>">Side Tables</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.storage_shelving>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_storage_shelving>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.storage_shelving>">Storage & Shelving</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.shelving_units_bookcases>">Shelving Units & Bookcases</a></div>
<div class="sub_headings"><a href="<venda_text id=site.sideboards>">Sideboards</a></div>
<div class="sub_headings"><a href="<venda_text id=site.avunits>">AV Units</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cupboards>">Cupboards</a></div>
<div class="sub_headings"><a href="<venda_text id=site.shoe_storage>">Shoe Storage</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.soft_furnishings>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_soft_furnishings>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.soft_furnishings>">Soft Furnishings</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.rugs>">Rugs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cushions>">Cushions</a></div>
<div class="sub_headings"><a href="<venda_text id=site.throws>">Throws</a></div>
<div class="sub_headings"><a href="<venda_text id=site.bean_bags>">Bean Bags</a></div>
<div class="sub_headings"><a href="<venda_text id=site.bedspreads_blankets>">Bedspreads & Blankets</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.decorative_accessories>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_decorative_accessories>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.decorative_accessories>">Home Decor </a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.mirrors>">Mirrors</a></div>
<div class="sub_headings"><a href="<venda_text id=site.clocks>">Clocks</a></div>
<div class="sub_headings"><a href="<venda_text id=site.fans>">Fans</a></div>
<div class="sub_headings"><a href="<venda_text id=site.vases_bowls_objets>">Vases, Bowls & Objets</a></div>
</div>
</div>


<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_dispview page=wallpaper_page>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview page=wallpaper_page>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview page=wallpaper_page>">Curtains & Walls</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.curtains>">Curtains</a></div>
<div class="sub_headings"><a href="<venda_text id=site.curtain_poles>">Curtain Poles</a></div>
<div class="sub_headings"><a href="<venda_text id=site.blinds>">Blinds</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=wallpaper>">Wallpaper</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=wallpaper>&pdxtbrowse=Wall+Stickers">Wall Stickers</a></div>
</div>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>