<venda_block label=911,workflow=checkoutmobile>
<ul class="checkoutStepIndicators">
<li class="checkoutStep1<venda_block label=124,mode=value,<venda_tpxt mode=get,name=curstep>=step1> onStep</venda_block label=124>"><venda_text id=mobile.info.step_1></li>
<li class="checkoutStep2<venda_block label=125,mode=value,<venda_tpxt mode=get,name=curstep>=step2> onStep</venda_block label=125>"><venda_text id=mobile.info.step_2></li>
<li class="checkoutStep3<venda_block label=126,mode=value,<venda_tpxt mode=get,name=curstep>=step3> onStep</venda_block label=126>"><venda_text id=mobile.info.step_3></li>
<li class="checkoutStep4<venda_block label=127,mode=value,<venda_tpxt mode=get,name=curstep>=step4> onStep</venda_block label=127>"> <venda_text id=mobile.info.step_4></li>
<li class="checkoutStep5<venda_block label=128,mode=value,<venda_tpxt mode=get,name=curstep>=step5> onStep</venda_block label=128>"><venda_text id=mobile.info.step_5></li>
</ul>
</venda_block label=911>