<html>
<head>
	<title>Your <venda_ebizname> Reminder</title>
</head>
<body>
<div id="emailBody">
<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Your <venda_ebizname> Reminder</h1>
	<div class="clear">&nbsp;</div>
</div>

<p>Dear <strong><venda_title> <venda_fname> <venda_lname></strong>,</p>
<p>It's <venda_recfname>'s <venda_remtype> on <venda_remday> <venda_remmonth>. You asked us to remind you so here it is.</p>
<p>Visit the Heals.co.uk site now for some great gift ideas!</p>

<venda_inctemplate name=htmlEmailFooter,type=includes/email>
</div>
</body>
</html>