<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/external/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda.js"></script>

<venda_tpcomment><!-- attributes.js --></venda_tpcomment>
<venda_block label=1,mode=value,<venda_tpxt mode=get,name=activekeyword>=notnull>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Attributes/attributes.js"></script>
</venda_block label=1>
<venda_block label=2,rtype=invt,rtype=notnull,workflow=quickshop,operator=or>
    <script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Attributes/attributes.js"></script>
</venda_block label=2>

<venda_tpcomment><!-- countrySelect.js and Tracking.js --></venda_tpcomment>
<venda_block label=3,workflow=checkout,workflow=register,workflow=myaccount,workflow=addresslookup,workflow=shopcart,operator=or>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/countrySelect.js"></script>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/Tracking.js"></script>
</venda_block label=3>
<venda_block label=4,mode=value,<venda_tpxt mode=get,name=trackingstep>=myaccount/user-myform>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/countrySelect.js"></script>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/Tracking.js"></script>
</venda_block label=4>

<venda_tpcomment><!-- delivery rate by postcode lookup  --></venda_tpcomment>
<venda_block label=5,workflow=checkout,workflow=checkout2,operator=or>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/postcodelookup.js"></script>
</venda_block label=5>
