<ul class="footer-links">
	<li class="login">
    <venda_block label=21,ustype!=R>
    <a href="<venda_codehttps>?ex=co_wizr-registermobile&bsref=<venda_bsref>" id="login"><venda_text id=mobile.button.log_in></a>
    </venda_block label=21>
    
    <venda_block label=22,ustype=R>
    <a href="<venda_dispview page=myaccount>" id="myaccount"><venda_text id=mobile.button.my_account>
    </a> / <a href="<venda_dispview page=home>&log=4" class="logout" id="logout">
    <venda_text id=mobile.button.log_out>
    </a>
    </venda_block label=22>
    </li>
	<li class="calls">
    <a href="tel:<venda_ebizarea><venda_ebizphone>" id="calls" title="<venda_text id=mobile.info.phone_information>"><venda_text id=mobile.button.phone>
    </a>
    </li>
	<li><a href="<venda_dispview pcat=contact>" id="contactus"><venda_text id=mobile.button.contact_us></a></li>
	<li><a href="<venda_dispview pcat=deliveryinformation>" id="deliveryrates"><venda_text id=mobile.button.order_tracking></a></li>
	<li><a href="<venda_dispview pcat=faqs>" id="faqs"><venda_text id=mobile.button.faqs></a></li>
	<!-- li><a href="<venda_dispview pcat=privacy>" id="privacypolicy"><venda_text id=mobile.button.privacy_policy></a></li -->
	<li><a href="<venda_dispview page=termsmobile>" id="termsconditions"><venda_text id=mobile.button.terms_and_conditions></a></li>
	<li><a href="<venda_dispview page=signupforemails>" id="newsletter"><venda_text id=mobile.button.email_sign_up></a></li>
	<li><a href="<venda_dispview page=home>" id="viewdesktop"><venda_text id=mobile.button.view_full_site></a></li>
</ul>
<div class="copyright"><venda_text id=mobile.info.copyright> <venda_dateformat date=now,format=yyyy> <venda_ebizname></div>
<div class="footer-logo">
	<div class="footer-pci"><a href="http://www.venda.com/pci-compliance-certificate?referer=<venda_serveradd>" id="pci" rel="external" target="_blank" title="<venda_text id=mobile.info.pci><venda_text id=mobile.info.open_new_window>"><img src="<venda_supportdir>/images/pcilogo/en_pcilogo_light.png" alt="<venda_text id=mobile.info.pci>" height="28" width="88" /></a></div>
	<div class="footer-venda"><a href="http://www.venda.com" id="venda" rel="external" target="_blank" title="<venda_text id=mobile.info.power_by_venda><venda_text id=mobile.info.open_new_window>"><img src="<venda_supportdir>/images/vendalogo/<venda_sessionlanguage>_logo_light.png" alt="<venda_text id=mobile.info.power_by_venda>" /></a></div>
</div>
