<li>
	<div class="image">
		<venda_block label=141,med-xsmall=notnull>
		<a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false"><venda_media rec=invt,type=movie-swf-pict,key=xsmall></a>
		</venda_block label=141>
		<venda_block label=142,med-xsmall=null>
		<a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=mobile.info.no_product_image>"></a>
		</venda_block label=142>
	</div>
	<div class="details">
		<h2><a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false"><venda_invtname></a></h2>
	</div>
</li>