<li>
	<div class="image">
		<venda_block label=141,med-<venda_setting type=ebiz,name=setaccessoryimagekey>=notnull>
		<a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false"><venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setaccessoryimagekey>></a>
		</venda_block label=141>
		<venda_block label=142,med-<venda_setting type=ebiz,name=setaccessoryimagekey>=null>
		<a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setaccessoryimagekey>.gif" alt="<venda_text id=mobile.info.no_product_image>"
		></a>
		</venda_block label=142>
	</div>
	<div class="details">
		<h3><a href="<venda_dispview invt=<venda_invtref>>" data-ajax="false"><venda_invtname></a></h3>
	</div>
</li>