<venda_block label=3001,mode=value,<venda_ohinvtqty ivtype=furniture>&gt;0,<venda_ohinvtqty ivtype=furniturerange>&gt;0,operator=or>
	<venda_block label=30011,mode=value<venda_ohinvtqty ivtype=normal>&gt;0,<venda_ohinvtqty ivtype=range>&gt;0,<venda_ohinvtqty ivtype=gardenfurniture>&gt;0,<venda_ohinvtqty ivtype=gardenfurniturerange>&gt;0,operator=or>Despatched</venda_block label=30011>
	<venda_block label=30012,mode=value,<venda_ohinvtqty ivtype=normal>=0,<venda_ohinvtqty ivtype=range>=0,<venda_ohinvtqty ivtype=gardenfurniture>=0,<venda_ohinvtqty ivtype=gardenfurniturerange>=0>Processed</venda_block label=30012>
</venda_block label=3001>

<venda_block label=3002,mode=value,<venda_ohinvtqty ivtype=furniture>=0,<venda_ohinvtqty ivtype=furniturerange>=0>Processed</venda_block label=3002>