<html>
<head>
	<title>Your <venda_ebizname> Voucher</title>
</head>
<body>
<div id="emailBody">
<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Your <venda_ebizname> Voucher</h1>
	<div class="clear">&nbsp;</div>
</div>


<p>Dear <strong><venda_name></strong> ,</p>
<p>Great news...</p>
<p>As your friend <strong><venda_fromname></strong> thought that you would be interested in seeing what Heals.co.uk has to offer, we're pleased to give you a voucher for a &pound;<venda_coamt> discount off your first order with us.</p>
<p>See below for the full details. Don't delete this message as it contains all the information you need to use your voucher.</p>
<ul>
	<li>To: <venda_name></li>
	<li>From: <venda_fromname></li>
	<li>Amount: &pound;<venda_coamt> off when you spend &pound;30 or more (excluding postage &amp; packing and gift wrap)</li>
	<li>Claim Code: <venda_copromo></li>
	<li>Expiry Date: <!-- <venda_codur> --> <venda_codurexp></li>
</ul>
<p><strong>How to redeem your voucher</strong></p>
<ul>
	<li>Go to <a href="<venda_serveradd>"><venda_ebizurl></a>.</li>
	<li>Select the items you wish to purchase and add them to your basket.</li>
	<li>Go through the checkout process until you get to the final order summary page.</li>
	<li>Click on the 'Redeem A Voucher' button and copy the voucher claim code exactly as shown above.</li>
	<li>Click 'Continue'. This will apply the voucher.</li>
</ul>

<venda_inctemplate name=htmlEmailFooter,type=includes/email>

<p><strong>Terms and conditions of use</strong></p>
<ul>
	<li>Your Refer A Friend voucher can only be redeemed against a purchase with a minimum value of GBP &pound;10.00 excluding postage and packing, delivery and gift wrap charges.</li>
	<li>Vouchers can only be redeemed online at <a href="<venda_serveradd>"><venda_ebizurl></a> or by telephone, phone <strong><venda_ebizarea> <venda_ebizphone></strong>.</li>
	<li>The voucher is valid for three months from the date the voucher is emailed to you.</li>
	<li>This voucher has a face value of &pound;<venda_coamt>.</li>
	<li>The remaining balance must be paid using a credit or debit card.</li>  
	<li>Only one voucher can be redeemed per order.</li>
	<li>This voucher is not valid in conjunction with any other promotional offer.</li>
	<li>This voucher is not transferable or assignable and has a cash redemption value of GBP &pound;0.001 which can not be exchanged or part exchanged for cash payment.</li>
	<li>Normal <venda_ebizname> <a href="<venda_serveradd>/page/terms">terms and conditions</a> for using the <venda_ebizname> website apply except when they conflict with these terms and conditions.</li>
	<li>The voucher cannot be used to purchase gift certificates, or used against the value of postage and packing, delivery and gift wrap charges.</li>
	<li>The voucher cannot be used retrospectively to pay for orders already placed.</li>
</ul>
</div>
</body>
</html>