	<style type="text/css">
	.Lcattree {display:none;}
	.topbreak {height:50px; display:block;}
	#footer {border-top: 0px solid #666666; margin-top:15px;}
	.footerLinksCols.left {display:none;}
	.mainFooter.container_24.clearfix, #footerLinks {border-top: 1px solid #666666;}
	h3:hover, fieldset:hover {text-decoration:none;}
	</style>
<venda_tpcomment><!--
Form param notes:
- param1: used to pass email address between this step and password reminder
- param2: used to determine if previous step was password reminder
Known issues:
- On error, layout is lost, unless passed through as a hidden field
- On error co_comn-login is used directly instead of as an include
- On error venda_wizurl tags are untranslated
--></venda_tpcomment>

<venda_block label=desktop,workflow!=checkoutmobile,workflow!=registermobile>
<div class="<venda_workflow> <venda_curstep> container signinContent loginType_d">

<h1 class="hideScreenReaderSafe"><venda_text id=desktop.heading.log_in></h1>
<venda_block label=errors,errors=notnull><div class="error" style="font-weight:bold; font-size:14px"><venda_errors></div></venda_block label=errors>

<venda_block label=sent,param2=passwordsent>
<div class="passwordsent">
        <p><venda_text id=desktop.info.password_reminder_info1></p>
</div>
</venda_block label=sent>

<venda_block label=facebookconnect,mode=value,<venda_setting type=ebiz,name=facebookappid>!=>
<div class="facebookConnect">
   <p><venda_text id=desktop.info.facebook_1>:</p>
   <a href="<venda_block label=ischeckout,workflow=shopcart>/bin/venda?ex=co_wizr-shopcart&bsref=<venda_bsref>&step=confirm</venda_block label=ischeckout><venda_block label=islogin,workflow=register><venda_dispview page=myaccount></venda_block label=islogin>&log=1&auth=facebook" class="button buttonFacebook"><venda_text id=desktop.button.log_in_facebook></a>
   <p><venda_text id=desktop.info.facebook_2>:</p>
</div>
</venda_block label=facebookconnect>

<div class="newcustbox">
<div class="<venda_block label=50,mode=value,<venda_workflow>!=checkout>grid_12</venda_block label=50><venda_block label=60,mode=value,<venda_workflow>=checkout>grid_8</venda_block label=60> box alpha">
        <form method="post" name="<venda_curstep>form-register" action="<venda_codehttps>" id="newcustomer">
        <venda_esat>
        <input type="hidden" name="ex" value="co_wizr-<venda_workflow>">
        <input type="hidden" name="workflowid" value="<venda_workflowid>">
        <input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>">
        <input type="hidden" name="log" value="2">
        <input type="hidden" name="trrfext" value="1">
        <input type="hidden" name="registered" value="0">
        <input type="hidden" name="glxt" value="<venda_glxt mode=make,glxtusertype=>"><venda_tpcomment><!-- To reset the glxt if the user was partially registered (guest checkout) --></venda_tpcomment>
        <input type="hidden" name="step" value="billingaddressadd">

<h3 id="register_header"><venda_text id=desktop.heading.new_customer></h3>
        <fieldset class="dontFloat f-loginiam notregister">
                <div class="boxContent">
                <div class="checkoutLoginEqH">
                        <!--<p class="newcusttxt"><venda_text id=desktop.info.new_customer_1></p>-->
                </div>
                <div class="notregisterbtn checkoutLoginAlR"><input type="submit"<venda_block label=691,workflow=checkout> data-trackEvent="Checkout"</venda_block label=691> value="<venda_text id=desktop.button.continue>" class="button buttonAlt submit" style="font-size: 12px"></div>
                </div>
        </fieldset>
        </form>
</div>
</div>

<div class="returncustbox">
<div class="<venda_block label=70,mode=value,<venda_workflow>!=checkout>grid_12 omega</venda_block label=70><venda_block label=80,mode=value,<venda_workflow>=checkout>grid_8</venda_block label=80> box alpha">
        <form method="post" name="<venda_curstep>form-existing" action="<venda_codehttps>" id="existingcustomer">
        <venda_esat>
        <input type="hidden" name="ex" value="co_wizr-<venda_workflow>">
        <input type="hidden" name="workflowid" value="<venda_workflowid>">
        <input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>">
        <input type="hidden" name="log" value="1">
        <input type="hidden" name="trrfext" value="1">
        <input type="hidden" name="registered" value="1">
        <venda_block label=register,workflow=register><venda_tpcomment><!-- Step selection for register workflow --></venda_tpcomment>
        <input type="hidden" name="layout" value="myaccount">
        <input type="hidden" name="step" value="--page-myaccount">
        <input type="hidden" name="curlayout" value="1column"><venda_tpcomment><!-- Preserve layout on error --></venda_tpcomment>
        </venda_block label=register>
        <venda_block label=checkout,workflow!=register><venda_tpcomment><!-- Step selection for checkout workflow --></venda_tpcomment>
        <input type="hidden" name="layout" value="checkout2">
        <input type="hidden" name="step" value="ordersummary">
        <input type="hidden" name="curlayout" value="checkout2"><venda_tpcomment><!-- Preserve layout on error --></venda_tpcomment>
        </venda_block label=checkout>
        <input type="hidden" name="glxt" value="<venda_glxt mode=make,glxtusertype=>"><venda_tpcomment><!-- To reset the glxt if the user was partially registered (guest checkout) --></venda_tpcomment>
                       <h3 id="register_header"><venda_text id=desktop.heading.returning_customer></h3>
        <fieldset class="dontFloat f-loginiam registered">
                <div class="boxContent">
                <div class="checkoutLoginEqH">
                        <p class="registertxt"><venda_text id=desktop.info.returning_customer_1></p>
                        <label for="email" id="lLoginEmail" style="width:80%;"><venda_text id=desktop.form.email>:</label>
                        <input type="text" class="textInput" name="email" id="email" value="<venda_block label=pwrm,param2=passwordsent,param2=passwordcancel,operator=or><venda_param1></venda_block label=pwrm><venda_block label=notpwrm,param2=null,ustype=R><venda_userinfo><venda_sesusemail></venda_userinfo></venda_block label=notpwrm>" size="20" maxlength="150" style="font-size:12px;">
                        <label for="password" id="lLoginRegisterPassword" style="width:80%;"><venda_text id=desktop.form.password>:</label> <input type="password" class="textInput" name="password" id="password" size="20" maxlength="150" style="font-size:12px;">
                        <div class="forgottenpassword" style="line-height:0; width: 300px; color: #333; font-size: 12px;"><a id="passwordreminder" href="<venda_codehttps>?ex=co_wizr-<venda_workflow>&workflowid=<venda_workflowid>&bsref=<venda_bsref>&step=passwordreminder" style="width: 300px;"><b><venda_text id=desktop.button.forgotten_password></b></a></div>
                        <div class="formSeparator"></div>
                <div class="checkoutLoginAlR"><input type="submit"<venda_block label=692,workflow=checkout> data-trackEvent="Checkout"</venda_block label=692> value="<venda_text id=desktop.button.log_in>" class="button buttonAlt submit" style="padding-bottom:20px; font-size: 12px;"></div>
                </div>
                </div>
        </fieldset>
        </form>
</div>

<venda_block label=69,mode=value,<venda_workflow>=checkout>
<div class="grid_8 alpha">
<div class="box expresscheckout">
        <h2 class="header"><venda_text id=desktop.heading.guest_customer></h2>
        <div class="boxContent">
                <div class="checkoutLoginEqH">
                        <p><venda_text id=desktop.info.checkout_without_registering_1></p>
                        <p class="msg2"><venda_text id=desktop.info.checkout_without_registering_2></p>
                </div>
                <div class="checkoutLoginAlR">
                        <a class="button buttonAlt" href="<venda_wizurl step=billingaddressadd,secure=yes>&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>" data-trackEvent="Checkout"><venda_text id=desktop.button.continue_without_registering></a>
                </div>
      </div> 
</div>
</div>
</venda_block label=69>

</div>
<venda_tpcomment><!-- Used for session expire message --></venda_tpcomment>
<venda_tpxt mode=set,name=login,value=1>
<venda_tpcomment><!-- trackingstep tpxt used in templates/tracking/shared  --></venda_tpcomment>
<venda_tpxt mode=set,name=trackingstep,value=login>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
</venda_block label=desktop>
<venda_block label=mobile,workflow=checkoutmobile,workflow=registermobile,operator=or>
	<venda_tpcomment><!-- content for mobile site version of login --></venda_tpcomment>
	<div class="<venda_workflow> <venda_curstep> checkoutmobile-wrapper loginForm">
		<div class="checkoutmobile-content">
			<div class="checkoutmobile-header">
				<venda_block label=750,workflow=checkoutmobile><h1><venda_text id=mobile.heading.checkout><span class="hdr-pci"></span></h1></venda_block label=750>
				<venda_block label=751,workflow=registermobile><h1><venda_text id=mobile.heading.register></h1></venda_block label=751>
				<venda_block label=errors,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=errors>
			</div>
			<venda_block label=850,workflow=checkoutmobile><p class="instruction"><venda_text id=mobile.info.checkout_options></p><hr></venda_block label=850>
			<div class="forms-content">
				<venda_block label=sent,param2=passwordsent>
					<div class="passwordsent"><p><venda_text id=mobile.info.password_sent_msg></p></div>
				</venda_block label=sent>

				<form method="post" name="<venda_curstep>form-existing" id="existingcustomer" action="<venda_codehttps>" data-ajax="false" class="<venda_curstep>form-existing">
				<venda_esat>
				<input type="hidden" name="ex" value="co_wizr-<venda_workflow>">
				<input type="hidden" name="workflowid" value="<venda_workflowid>">
				<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>">
				<input type="hidden" name="log" value="1">
				<input type="hidden" name="trrfext" value="1">
				<input type="hidden" name="registered" value="1">
				<input type="hidden" name="layout" value="checkoutmobile"><venda_tpcomment><!-- Preserve layout on error --></venda_tpcomment>
				<input type="hidden" name="glxt" value="<venda_glxt mode=make,glxtusertype=>"><venda_tpcomment><!-- To reset the glxt if the user was partially registered (guest checkout) --></venda_tpcomment>
					<venda_block label=register,workflow=registermobile>
						<venda_tpcomment><!-- Step selection for register workflow --></venda_tpcomment>
						<input type="hidden" name="step" value="--page-myaccountmobile">
					</venda_block label=register>
					<venda_block label=checkout,workflow!=registermobile>
						<venda_tpcomment><!-- Step selection for checkout workflow --></venda_tpcomment>
						<input type="hidden" name="step" value="ordersummary">
					</venda_block label=checkout>

					<div data-role="collapsible"<venda_block label=111,param2=passwordsent> data-collapsed="false"</venda_block label=111>>
						<h2 class="existing"><venda_text id=mobile.heading.existing_user></h2>
						<div class="existingLoginContent">
							<div data-role="fieldcontain">
								<label for="email"><venda_text id=mobile.form.email>:</label>
								<input type="email" name="email" placeholder="<venda_text id=mobile.form.enter_email>" value="<venda_block label=pwrm,param2=passwordsent,param2=passwordcancel,operator=or><venda_param1></venda_block label=pwrm><venda_block label=notpwrm,param2=null,ustype=R><venda_userinfo><venda_sesusemail></venda_userinfo></venda_block label=notpwrm>" id="email">
							</div>
							<div data-role="fieldcontain">
								<label for="password"><venda_text id=mobile.form.password>: </label>
								<input type="password" name="password" id="password" placeholder="<venda_text id=mobile.form.enter_password>">
							</div>
							<div class="forgottenpassword"><a href="<venda_codehttps>?ex=co_wizr-<venda_workflow>&bsref=<venda_bsref>&step=passwordreminder" id="passwordreminder"><venda_text id=mobile.button.forgotten_password></a></div>
							<div class="loginButtonDiv"><input type="submit" value="<venda_text id=mobile.button.login>" data-ajax="false" class="submit"></div>
						</div><!--/ existingLoginContent-->
					</div>
				</form>
				<hr>

				<form method="post" name="<venda_curstep>form-register" id="newcustomer" action="<venda_codehttps>" data-ajax="false" class="<venda_curstep>form-register">
				<venda_esat>
				<input type="hidden" name="ex" value="co_wizr-<venda_workflow>">
				<input type="hidden" name="workflowid" value="<venda_workflowid>">
				<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>">
				<input type="hidden" name="log" value="2">
				<input type="hidden" name="trrfext" value="1">
				<input type="hidden" name="registered" value="0">
				<input type="hidden" name="glxt" value="<venda_glxt mode=make,glxtusertype=>"><venda_tpcomment><!-- To reset the glxt if the user was partially registered (guest checkout) --></venda_tpcomment>

					<input type="hidden" name="step" value="billingaddressadd">
					<div class="newCustomerbuttonDiv<venda_block label=113,param2=passwordsent> greyButton</venda_block label=113>"><input type="submit" value="<venda_text id=mobile.heading.new_user>" data-ajax="false" class="submit"></div>
				</form>
				<hr>

				<!-- <venda_block label=77,workflow=checkoutmobile>
					<div class="guestCheckout<venda_block label=114,param2=passwordsent> greyButton</venda_block label=114>">
					<a href="<venda_wizurl step=billingaddressadd,secure=yes>&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>" data-role="button"><venda_text id=mobile.button.guest_checkout></a>
					</div>
					<hr>
				</venda_block label=77> -->

				<div class="cancelButtonDiv">
					<a href="<venda_dispview page=home>" data-role="button"><venda_text id=mobile.button.continue_shopping></a>
				</div>
			</div><venda_tpcomment><!-- End: forms-content --></venda_tpcomment>
		</div><!--end checkoutmobile-content -->
	</div>

	<venda_inctemplate name=workflowSteps,type=tracking/mobile/shared>
	<venda_tpcomment><!-- trackingstep tpxt used in templates/tracking/shared  --></venda_tpcomment>
	<venda_tpxt mode=set,name=trackingstep,value=login>
</venda_block label=mobile>