<venda_detblock_minify_js>
<venda_tpcomment><!-- required --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Platform.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.cookie.js"></script>

<venda_tpcomment><!-- sitewide and not always required --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/RegionLangSwitch.js"></script>

<venda_tpcomment><!-- Used to keep sitewide functions --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Ebiz.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/checkout.js"></script>

<venda_tpcomment><!-- validation --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.validate.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.validate.common.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.validate.rules.checkout.js"></script>
</venda_detblock_minify_js>

<venda_detail_minify_js>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.mobile-1.2.0.min.js"></script><!-- Not working in minification detblock -->