<div id="newsstorydetail">
	<div class="mainheader">
	<h1><venda_stryname></h1>
    </div>
    
    <!-- ACTIVE PAGE -->
    
    <div class="hero-lifestyle">
  <venda_block label=100, med-front=notnull>
    <venda_media rec=stry,type=movie-swf-pict,key=front>
    </venda_block label=100>
    </div>

    <div class="stryexclusive">   
    <venda_block label=200, stryexclusive=1>
    <h2>EXCLUSIVE TO HEALS</h2>
    </venda_block label=100>
    </div>  
 
    <div class="strydesc1">
    <venda_block label=300, strydesc1=notnull>  
	<p><venda_strydesc1></p>
    </div>
    </venda_block label=300>
    
	<p><venda_strydesc2></p>
	<p><venda_strydesc3></p>
<venda_block stryauthname=notnull><p><venda_text id=desktop.info.author><venda_stryauthname></p></venda_block>
<venda_block stxtdateadded=notnull><p><venda_stxtdateadded></p></venda_block>

</div>