<div class="grid_5"><venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"><venda_block label=112,pageref!=home></a></venda_block label=112></div>
<div class="grid_10 push_9"><div class="pcilogocheckout"><div id="pcilogo"><h3>Our Secure Checkout Is</h3><br/>
<a href="http://www.venda.com/pci-compliance-certificate?referer=<venda_serveradd>" rel="popup console 590 660" target="_blank" title="<venda_text id=pcilogotitle>">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/en_pcilogo.png" alt="<venda_text id=pcilogoalt>" height="58" width="327" /></a>
</div></div></div>

<ul class="mm_ul">
	<li class="checkoutHome"><venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><span><venda_text id=desktop.button.home></span><venda_block label=112,pageref!=home></a></venda_block label=112></li>
	<li style="float:right;width:100px;"><a href="<venda_dispview pcat=help>&layout=staticpopup" class="doDialog" rel="1000,450,help," target="_blank"><venda_text id=desktop.button.help_and_info></a></li>
</ul>
<venda_inctemplate name=checkoutStepIndicators,type=mainIncludes>