<div class="box Lmyacccontactdetails">
<h2 class="header"><venda_text id=desktop.heading.billing_details></h2>
<div class="boxContent">
    <venda_userinfo>
    <ul data-trackNav="My Account Navigation">
        <li class="first"><span class="addrName"><venda_sestitle> <venda_sesfname> <venda_seslname></span></li>
        <venda_block label=1000,mode=value,<venda_setting type=ebiz,name=showcompany>=1>
        <venda_block label=1001,sescompany=notnull><li><venda_sescompany></li></venda_block label=1001>
        </venda_block label=1000>
        <li><venda_sesnum> <venda_sesaddr1></li>
        <venda_block sesaddr2=notnull><li><venda_sesaddr2></li></venda_block>

        <!-- if country is US or US entities display this formatting -->
        <venda_block label=999,mode=value,<venda_sescntry>=United States,<venda_sescntry>=United States Non-48,<venda_sescntry>=United States Armed Forces,operator=or>
        <li><venda_sescity>, <venda_sesstate> <venda_seszipc></li>
        </venda_block label=999>

        <!-- if country is NOT US or US entities display this formatting -->
        <venda_block label=9991,mode=value,<venda_sescntry>!=United States,<venda_sescntry>!=United States Non-48,<venda_sescntry>!=United States Armed Forces,operator=and>
        <li><venda_sescity></li>
        <venda_block label=751,sesstate=notnull,seszipc=notnull,operator=or><li><venda_sesstate> <venda_seszipc></li></venda_block label=751>
        </venda_block label=9991>

        <li><venda_sescntry></li>
        <venda_block label=10,sesarea=notnull,sesphone=notnull,operator=or><li><span class="addrPhone"><venda_block label=100,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_block label=11,sesarea=notnull><venda_sesarea>&nbsp;</venda_block label=11></venda_block label=100><venda_block label=12,sesphone=notnull><venda_sesphone></venda_block label=12></span></li></venda_block label=10>
        <li class="last"><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>"><venda_text id=desktop.button.edit_billing_details></a></li>
    </ul>
    </venda_userinfo>
</div></div>

<div class="box Lmyaccorderhistory">
<h2 class="header"><venda_text id=desktop.heading.order_history></h2>
<div class="boxContent">
    <ul>
        <li class="first"><a href="<venda_codehttps>?ex=co_wizr-myaccount&bsref=<venda_bsref>&log=22&step=orderlist&layout=myaccount"><venda_text id=desktop.button.view_order_history></a></li>
        <li class="last"><a href="<venda_codehttps>?ex=co_wizr-myaccount&bsref=<venda_bsref>&log=22&step=orderlist&layout=myaccount"><venda_text id=desktop.button.view_remaining_store_credit></a></li>
    </ul>
</div></div>

<div class="box Lmyaccaccountdetails">
<h2 class="header"><venda_text id=desktop.heading.account_details></h2>
<div class="boxContent">
    <ul>
        <li class="first"><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>"><venda_text id=desktop.button.edit_email_password></a></li>
        <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>"><venda_text id=desktop.button.edit_communication_options></a></li>
        <li class="last"><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&param1=survey"><venda_text id=desktop.button.edit_profile></a></li>
    </ul>
</div></div>

<div class="box Lmyaccdeliverydetails">
<h2 class="header"><venda_text id=desktop.heading.address_book></h2>
<div class="boxContent">
    <ul>
        <li class="first"><a href="<venda_codehttps>?ex=co_wizr-myaccount&log=22&step=addressbook&bsref=<venda_bsref>"><venda_text id=desktop.button.view_address_book></a></li>
    </ul>
</div></div>

<venda_tpcomment><!--
<div class="box Lmyaccreferfriend">
<h2 class="header"><venda_text id=desktop.heading.refer_a_friend></h2>
<div class="boxContent">
        <ul>
        <li class="first"><a href="<venda_codehttps>?ex=co_wizr-referafriend&bsref=<venda_bsref>&layout=myaccount">Refer a friend</a></li>
        <li><a href="<venda_codehttp>?ex=co_disp-refer&bsref=<venda_bsref>&page=referlist&layout=myaccount">View Referred Friends</a></li>
        <li class="last"><a href="<venda_dispview page=terms>" class="doDialog" rel="550,450,terms" target="_blank">View Terms & Conditions</a></li>
        </ul>
</div></div>
--></venda_tpcomment>
