<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/base.css" type="text/css" media="all">
<venda_tpcomment>
<!--  
COLOUR SCHEME STYLE: PREFIX FILE NAME WITH TOP LEVEL CATEGORY REFERENCE
	href=<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/<venda_cattree index=1,value=catref>colourscheme.css" 
	media="screen, projector"

MEDIA TYPE: PRINT, SCREEN, PROJECTOR
--></venda_tpcomment>
 