#myaccountWrapper {width:940px;height:auto;float: left;padding-bottom: 20px;
border-bottom: 1px solid #747679;}
.myaccountLeftnav-header {float:left;border-bottom: 1px solid #747679;width: 90%;margin: 0 3%;}
.myaccountLeftnav {width:197px;background-color:#fff;float:left;clear:both;}
.myaccountLeftnav-contents {margin:5px;}
.myaccountLeftnav-contents img {margin-bottom:15px;}
.myaccountLeftnav-contents a {margin-left:15px;color:#333;}
.myaccountLeftnav-contents p {margin-left:15px;color:#333;}
.leftnavLine {margin:15px 0 10px 0;background-color:#747679;height:1px;width:187px;clear:both;}
.myaccountDetails {width:709px;background-color:#fff;height:100%;margin-left:10px;float:left;padding:10px;}
.myaccountDetails p {margin:0 0 10px 0;}
.myaccountDetails img {margin:10px 3px 0 0;float:left;background: #fff;}
.myaccountDetails-body {width:687px;height:auto;border:1px solid #747679;background-color:#fff;clear:both;}
.myaccountDetails-body {padding:10px;}
.f-myformdetail, .f-oradeadd {border:0;}
.f-myformemail {background:#fff; border:1px solid #747679;}
h2 {font-size:1.2em;}