/* STICKY NAV STYLES*/

.scrollernav {
height:auto;
width: 940px;
z-index:4000;
}


.fixed {
        position:fixed;
}

/* STICKY NAV STYLES*/

.Lcattree {margin-left:9px; color:#747679;}

.Lcattree a {color:#747679;}

.Ltopnavcats div.boxhighlight1a a, .Ltopnavcats div.boxhighlight2a a, .Ltopnavcats div.boxhighlight1b a, .Ltopnavcats div.boxhighlight2b a, .Ltopnavcats div.boxhighlight1c a, .Ltopnavcats div.boxhighlight2c a, .Ltopnavcats div.boxhighlight1d a, .Ltopnavcats div.boxhighlight2d a, .Ltopnavcats div.boxhighlight1e a, .Ltopnavcats div.boxhighlight2e a, .Ltopnavcats div.boxhighlight1f a, .Ltopnavcats div.boxhighlight2f a, .Ltopnavcats div.boxhighlight1g a, .Ltopnavcats div.boxhighlight2g a, .Ltopnavcats div.boxhighlight1h a, .Ltopnavcats div.boxhighlight2h a, .Ltopnavcats div.boxhighlight1i a, .Ltopnavcats div.boxhighlight2i a, .Ltopnavcats div.boxhighlight1j a, .Ltopnavcats div.boxhighlight2j a, .Ltopnavcats div.boxhighlight1k a, .Ltopnavcats div.boxhighlight2k a, .Ltopnavcats div.boxhighlight1l a, .Ltopnavcats div.boxhighlight2l a{display:block;  text-transform: uppercase;color: #ffffff !important;}
.container {clear: both; width:100%; padding:3px 0 0 0; margin:0;}

/*
.category{display: block; margin: 2px;}
.category a{display:block; color:#fff; background:#666666;}
.topnavsides {border:4px solid #666666;}
.topnavsideswhite {border:4px solid #ffffff;}
.topnav_menu {height:350px;left:0;color:#333333;top: 28px;padding-right: 1px; left:auto, right:auto; clear:both;]
*/

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    z-index: 2;
}

#topnavbg {
z-index:-1;
    position: fixed;
    width: 100%;
    height: 100%;
	top: 0;
    left: 0;
	background-color:none;
}

.menu_close {width:100%; text-align:right; display:block}

ul#topnav {margin:0 0 5px; padding:0;float: left;width: 100%;list-style: none;position: relative;z-index:990; border-top: 1px solid #747679; border-bottom: 0px solid #747679; font-weight:bold; background-color:#fff;}
ul#firstnav {margin:0 0; padding:5px 0;float: left;width: 100%;list-style: none;position: relative;z-index:1000; border-top: 0px solid #747679; border-bottom: 0px solid #747679; font-size:1.4em; font-weight:normal; background:#ffffff; display:block; font-family:"Times New Roman", Times, serif;}
ul#topnav li{float: left;padding: 0;border-right: 0px solid #747679; text-align:center;font-style: italic; font-family:"Times New Roman", Times, serif;font-size: 1.4em;}
ul#firstnav li{float: left;padding: 0 ;border-right: 0px solid #747679; text-align:center; padding: 0 15px 0 10px;font-size: 1em;}
ul#firstnav li a:hover{text-decoration:none; opacity:0.6;}
ul#topnav li:hover{ background:#747679;}
ul#topnav li.left {float: left;margin: 0; padding: 0;border-right: none;}
/*ul#firstnav li div.heritage a {display:block; padding:0 13px 0 9px;}*/
ul#topnav li a{display: block;color: #747679;text-decoration: none;text-align:left; padding-left:5px;}
ul#topnav li a:hover{display: block;color: #747679;text-decoration: none;}
ul#topnav li a:visited {display: block;color: #747679;text-decoration: none;}
.topnav-ad {float:left; padding:1%;}
ul#topnav li div.furniture span, ul#topnav li div.accessories span, ul#topnav li div.lighting span, ul#topnav li div.gifts span, ul#topnav li div.garden span, ul#topnav li div.bathroom span, ul#topnav li div.bedroom span, ul#topnav li div.dining span, ul#topnav li div.living span, ul#topnav li div.kitchen span, ul#topnav li div.office span, ul#topnav li div.brands span, ul#topnav li div.toiletries span, ul#topnav li div.offers span {float: left;padding: 2px 0;position: absolute;left: 0;top:19px;display: none;width: 100%;background: #fff;line-height:14px;margin:0;z-index:1000; border:0px solid #747679;}

ul#topnav li:hover span {display: block; line-height:14px;}

ul#topnav li span a {display:inline;}
ul#topnav li span a:hover {color:#fff;}

.box a {font-size:11px; text-align:left; text-transform:none; font-weight: normal; line-height: 18px;!important}

#boxmenu {min-height:130px;margin-bottom:20px;}
#boxmenu_bath {height:110px;margin-bottom:10px;}
#boxmenu_brands {margin-bottom:20px;height: 25px;
display: block; width:120px;}
#boxmenu_gifts {margin-top:10px;height: 85px;
margin-bottom: 20px;
margin-top: 13px;}
#menubase {width:100%;height:auto; background:#747679;display: block;
clear: both; margin:0 0 10px; text-align:center !important; border-top:1px solid #747679; border-bottom:1px solid #747679; clear:both; color:#fff;}
#menubase a{color:#fff!important;text-align:center!important;}
#menubase a:hover{background:#747679!important; opacity:0.6!important;}

/* Furniture START */
ul#topnav li div.furniture a {display:block; padding:6px 13px 6px 9px; color: #747679;}
ul#topnav li div.furniture a:hover {display: block; background:#FFF;}
ul#topnav li div.furniture span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_furn {width:154px;height:310px;float:right;border-right:0px solid #747679;margin-top: 8px;
border-left: 5px solid #ffffff;}
#subcat_col_one_furn div {}
#subcat_col_three_furn {width:156px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_five_furn {width:136px;height:310px;float:right;border-right:0px solid #747679; border-left: 5px solid #ffffff;;margin-top: 8px;}
#subcat_col_two_furn {width:150px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_four_furn {width:146px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_six_furn {width:147px;height:310px;float:right;background:#fff;padding-right:8px;border-left: 5px solid #ffffff;margin-top: 8px;}
/* Furniture END */

/* Decor START */
ul#topnav li div.accessories a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.accessories a:hover {display: block; background:#FFF;}
ul#topnav li div.accessories span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_acc {width:150px;height:310px;float:right;border-right:0px solid #747679;margin-top: 8px;border-left: 5px solid #ffffff;}
#subcat_col_three_acc {width:156px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_five_acc {width:140px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;;margin-top: 8px;}
#subcat_col_two_acc {width:148px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_four_acc {width:148px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_six_acc {width:147px;height:310px;float:right;background:#fff; padding-right:8px;border-left: 5px solid #ffffff;margin-top: 8px;}
/* Decor END */

/* Lighting START */
ul#topnav li div.lighting a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.lighting a:hover {display: block; background:#FFF;}
ul#topnav li div.lighting span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_light {width:140px;height:310px;float:left;border-right:0px solid #747679;margin-top: 8px;border-left: 5px solid #ffffff; margin-left:2%;}
#subcat_col_three_light, #subcat_col_five_light {width:150px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;} 
#subcat_col_two_light {width:144px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_four_light {width:147px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_six_light {width:147px;height:310px;float:right;background:#fff;padding-right:8px;color:#747679;border-left: 5px solid #ffffff;margin-top: 8px;}
/* Lighting END */

/* Gifts START */
ul#topnav li div.gifts a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.gifts a:hover {display: block; background:#FFF;}
ul#topnav li div.gifts span{height:362px;left:0;top: 28px; padding:0 1% 1%; width:98%;}
#subcat_col_one_gift {width:145px;height:auto;float:right; margin-left:10px;margin-bottom:5px; margin-top:0px; margin-right:5px;}
#subcat_col_two_gift {width:140px;height:auto;float:right; margin-left:0px;margin-bottom:5px; margin-top:0px; margin-right:0px;}
#subcat_col_three_gift, #subcat_col_four_gift {width:140px;height:auto;float:right; margin-left:5px;margin-bottom:5px; margin-top:0px; margin-right:5px;}
#subcat_col_five_gift {width:140px;height:auto;float:right; margin-left:10px;margin-bottom:5px; margin-top:0px;margin-right:10px;}
#subcat_col_six_gift {width:140px;height:auto;float:left; margin:0 0 0 10px;margin-bottom:10px;}
/* Gifts END */

/* Garden START */
ul#topnav li div.garden a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.garden a:hover {display: block; background:#FFF;}
ul#topnav li div.garden span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_gard {width:145px;height:310px;float:right; margin-left:10px;margin-bottom:10px; margin-top:10px;}
#subcat_col_five_gard {width:131px;height:310px;float:right; margin-left:10px;margin-bottom:10px; margin-top:10px;}
#subcat_col_three_gard {width:132px;height:310px;float:right; margin-left:10px;margin-bottom:10px; margin-top:10px;}
#subcat_col_two_gard{width:163px;height:300px; float:right;margin-left:10px;margin-bottom:10px; margin-top:10px;}
#subcat_col_four_gard {width:145px;height:300px; float:right;margin-left:10px;margin-bottom:10px; margin-top:10px;}
#subcat_col_six_gard {width:145px;height:310px;float:right; margin:10px;}
/* Garden END */

/* Spa START */
ul#topnav li div.bathroom a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.bathroom a:hover {display: block; background:#FFF;}
ul#topnav li div.bathroom span{height:362px;left:0;top: 28px; padding: 0 1% 1%;; width:98%;}
#subcat_col_one_bath {width:140px;height:auto;float:right; margin-left:10px;margin-bottom:10px; margin-top:0px; margin-right:10px;}
#subcat_col_two_bath {width:140px;height:auto;float:right; margin-left:0px;margin-bottom:10px; margin-top:0px; margin-right:0px;}
#subcat_col_three_bath, #subcat_col_four_bath {width:140px;height:auto;float:right; margin-left:5px;margin-bottom:10px; margin-top:0px; margin-right:5px;}
#subcat_col_five_bath {width:140px;height:auto;float:right; margin-left:10px;margin-bottom:10px; margin-top:0px;margin-right:5px;}
#subcat_col_six_bath {width:155px;height:auto;float:right; margin-left:10px;margin-bottom:10px; margin-top:0px;margin-right:0;}
.box_bath {display:block; margin-bottom:10px;}
.box_bath_base {display:block; margin-bottom:5px; margin-left:5px; margin-right:5px;}
/* Spa END */

/* Toiletries START */
ul#topnav li div.toiletries a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.toiletries a:hover {display: block; background:#FFF;}
ul#topnav li div.toiletries span{height:362px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_toil {width:156px;height:230px;float:left;border-right:1px solid #747679;}
#subcat_col_three_toil, #subcat_col_five_toil {width:156px;height:230px;float:left;border-right:1px solid #747679;}
#subcat_col_two_toil, #subcat_col_four_toil {width:156px;height:230px;float:left;background:#fff;border-right:1px solid #747679;}
#subcat_col_six_toil {width:155px;height:230px;float:right;background:#fff;}
/* Toiletries END */

/* Bedroom START */
ul#topnav li div.bedroom a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.bedroom a:hover {display: block; background:#FFF;}
ul#topnav li div.bedroom a:hover {display: block; background:#FFF;}
ul#topnav li div.bedroom span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_bed {width:156px;height:310px;float:right;border-right:0px solid #747679;margin-top: 8px;border-left: 5px solid #ffffff;}
#subcat_col_three_bed{width:156px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_five_bed {width:142px;height:310px;float:right;border-right:0px solid #747679; border-left: 5px solid #ffffff;;margin-top: 8px;}
#subcat_col_two_bed {width:148px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_four_bed {width:140px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_six_bed {width:147px;height:310px;float:right;background:#fff; font-size:12px; padding-right:8px;border-left: 5px solid #ffffff;margin-top: 8px;}
/* Bedroom END */

/* Dining Room START */
ul#topnav li div.dining a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.dining a:hover {display: block; background:#FFF;}
ul#topnav li div.dining span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_dining {width:156px;height:142px;float:left;border-right:1px solid #747679;}
#subcat_col_three_dining, #subcat_col_five_dining {width:156px;height:142px;float:left;border-right:1px solid #747679;}
#subcat_col_two_dining, #subcat_col_four_dining {width:156px;height:142px;float:left;background:#fff;border-right:1px solid #747679;}
#subcat_col_six_dining {width:155px;height:142px;float:right;background:#fff;}
/* Dining Room END */

/* Living Room START */
ul#topnav li div.living a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.living a:hover {display: block; background:#FFF;}
ul#topnav li div.living span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_living {width:156px;height:142px;float:left;border-right:1px solid #747679;}
#subcat_col_three_living, #subcat_col_five_living {width:156px;height:142px;float:left;border-right:1px solid #747679;}
#subcat_col_two_living, #subcat_col_four_living {width:156px;height:142px;float:left;background:#fff;border-right:1px solid #747679;}
#subcat_col_six_living {width:155px;height:142px;float:right;background:#fff;}
/* Living Room END */

/* Kitchen START */
ul#topnav li div.kitchen a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.kitchen a:hover {display: block; background:#FFF;}
ul#topnav li div.kitchen span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_kitch {width:140px;height:310px;float:left;border-right:0px solid #747679;margin-top: 8px;
border-left: 5px solid #ffffff;margin-left: 2%;}
#subcat_col_three_kitch{width:177px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_two_kitch {width:138px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_four_kitch {width:145px;height:310px;float:right;background:#fff;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_five_kitch {width:132px;height:310px;float:right;border-right:0px solid #747679;border-left: 5px solid #ffffff;margin-top: 8px;}
#subcat_col_six_kitch {width:147px;height:310px;float:right;background:#fff; font-size:12px; padding-right:8px;border-left: 5px solid #ffffff;margin-top: 8px;;}
/* Kitchen END */

/* Office START */
ul#topnav li div.office a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.office a:hover {display: block; background:#FFF;}
ul#topnav li div.office span{height:370px;left:0;top: 28px;padding-right: 1px;}
#subcat_col_one_office {width:156px;height:142px;float:left;border-right:1px solid #747679;}
#subcat_col_three_office, #subcat_col_five_office {width:156px;height:142px;float:left;border-right:1px solid 747679;}
#subcat_col_two_office, #subcat_col_four_office {width:156px;height:142px;float:left;background:#fff;border-right:1px solid #747679;}
#subcat_col_six_office {width:155px;height:142px;float:right;background:#fff;}
/* Office END */

/* Brands START */
ul#topnav li div.brands a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.brands a:hover {display: block; background:#FFF;}
ul#topnav li div.brands span{height:362px;left:0;top: 28px; padding:1%; width:98%;}
#subcat_col_one_brands {width:140px;height:auto;float:left; margin-left:10px;margin-bottom:10px; margin-top:0px;}
#subcat_col_two_brands {width:142px;height:auto;float:right; margin-left:0px;margin-bottom:10px; margin-top:0px; margin-right:0px;}
#subcat_col_three_brands, #subcat_col_four_brands {width:140px;height:auto;float:right; margin-left:10px;margin-bottom:10px; margin-top:0px; margin-right:5px;}
#subcat_col_five_brands {width:134px;height:auto;float:right; margin-left:10px;margin-bottom:10px; margin-top:0px;margin-right:10px;}
#subcat_col_six_brands {width:140px;height:auto;float:right; margin-left:10px;margin-bottom:10px; margin-top:0px;margin-right:10px;}
.another_country {background:url(../images/topnav/topnav-brands.png) -360px -300px;}
.aqua_di_parma {background:url(../images/topnav/topnav-brands.png) 0 0;}
.aldo_londi {background:url(../images/topnav/topnav-brands.png) -120px 0;}
.alessi {background:url(../images/topnav/topnav-brands.png) -240px 0;}
.alex_mccarthy {background:url(../images/topnav/topnav-brands.png) -360px 0;}
.ali_tomlin {background:url(../images/topnav/topnav-brands.png) -480px 0;}
.anglepoise {background:url(../images/topnav/topnav-brands.png) -600px 0;}
.blend_collective {background:url(../images/topnav/topnav-brands.png) -480px -275px;}
.blu_dot {background:url(../images/topnav/topnav-brands.png) -720px 0;}
.bodum {background:url(../images/topnav/topnav-brands.png) -0 -25px;}
.bramley {background:url(../images/topnav/topnav-brands.png) -120px -300px;}
.brink_and_campman {background:url(../images/topnav/topnav-brands.png) -120px -25px;}
.brinkhaus {background:url(../images/topnav/topnav-brands.png) -240px -25px;}
.calligaris {background:url(../images/topnav/topnav-brands.png) -360px -25px;}
.cantori {background:url(../images/topnav/topnav-brands.png) -480px -25px;}
.chisel_and_mouse {background:url(../images/topnav/topnav-brands.png) -600px -25px;}
.cire_trudon {background:url(../images/topnav/topnav-brands.png) -720px -25px;}
.clarissa_hulse {background:url(../images/topnav/topnav-brands.png) 0 -50px;}
.cole_and_son {background:url(../images/topnav/topnav-brands.png) -120px -50px;}
.contempo {background:url(../images/topnav/topnav-brands.png) -240px -50px;}
.cowshed {background:url(../images/topnav/topnav-brands.png) -360px -50px;}
.culti {background:url(../images/topnav/topnav-brands.png) -480px -50px;}
.cumbria_crystal {background:url(../images/topnav/topnav-brands.png) -600px -50px;}
.dartington {background:url(../images/topnav/topnav-brands.png) -480px -250px;}
.deknudt_decora {background:url(../images/topnav/topnav-brands.png) -720px -50px;}
.de_la_espada {background:url(../images/topnav/topnav-brands.png) 0 -75px;}
.designers_guild {background:url(../images/topnav/topnav-brands.png) -120px -75px;}
.discipline {background:url(../images/topnav/topnav-brands.png) -720px -275px;}
.dualit {background:url(../images/topnav/topnav-brands.png) -240px -75px;}
.egizia {background:url(../images/topnav/topnav-brands.png) -360px -75px;}
.eleanor_lakelin {background:url(../images/topnav/topnav-brands.png) -480px -75px;}
.ercol {background:url(../images/topnav/topnav-brands.png) -600px -75px;}
.esteban {background:url(../images/topnav/topnav-brands.png) -720px -75px;}
.finnsdottir {background:url(../images/topnav/topnav-brands.png) -600px -250px;}
.fissler {background:url(../images/topnav/topnav-brands.png) 0 -100px;}
.gaggia {background:url(../images/topnav/topnav-brands.png) -120px -100px;}
.georg_jensen {background:url(../images/topnav/topnav-brands.png) -240px -100px;}
.gervasoni {background:url(../images/topnav/topnav-brands.png) -360px -100px;}
.getty_images {background:url(../images/topnav/topnav-brands.png) -480px -100px;}
.harlequin {background:url(../images/topnav/topnav-brands.png) -600px -100px;}
.heals {background:url(../images/topnav/topnav-brands.png) -720px -100px;}
.iittala {background:url(../images/topnav/topnav-brands.png) -120px -300px;}
.imperfect_design {background:url(../images/topnav/topnav-brands.png) -240px -300px;}
.jonathan_adler {background:url(../images/topnav/topnav-brands.png) 0 -125px;}
.kartell {background:url(../images/topnav/topnav-brands.png) -120px -125px;}
.kathryn_roberts {background:url(../images/topnav/topnav-brands.png) -240px -125px;}
.kay_and_stemmer {background:url(../images/topnav/topnav-brands.png) -360px -125px;}
.kitchenaid {background:url(../images/topnav/topnav-brands.png) -480px -125px;}
.lokum {background:url(../images/topnav/topnav-brands.png) -600px -275px;}
.le_creuset {background:url(../images/topnav/topnav-brands.png) -600px -125px;}
.le_jacquard_francais {background:url(../images/topnav/topnav-brands.png) -240px -250px;}
.ligne_roset {background:url(../images/topnav/topnav-brands.png) -720px -125px;}
.linari {background:url(../images/topnav/topnav-brands.png) 0 -150px;}
.lobjet {background:url(../images/topnav/topnav-brands.png) -120px -150px;}
.lsa {background:url(../images/topnav/topnav-brands.png) -240px -150px;}
.marimekko {background:url(../images/topnav/topnav-brands.png) -360px -150px;}
.mauviel {background:url(../images/topnav/topnav-brands.png) -480px -150px;}
.michael_aram {background:url(../images/topnav/topnav-brands.png) -600px -150px;}
.missoni {background:url(../images/topnav/topnav-brands.png) -720px -150px;}
.missoni_home {background:url(../images/topnav/topnav-brands.png) 0 -175px;}
.molton_brown {background:url(../images/topnav/topnav-brands.png) -120px -175px;}
.neals_yard {background:url(../images/topnav/topnav-brands.png) -240px -175px;}
.neom {background:url(../images/topnav/topnav-brands.png) -360px -175px;}
.nespresso {background:url(../images/topnav/topnav-brands.png) -480px -175px;}
.newgate {background:url(../images/topnav/topnav-brands.png) -600px -175px;}
.noble_isle {background:url(../images/topnav/topnav-brands.png) -240px -275px;}
.normann_copenhagen {background:url(../images/topnav/topnav-brands.png) -720px -175px;}
.original_btc {background:url(../images/topnav/topnav-brands.png) 0 -200px;}
.orla_kiely {background:url(../images/topnav/topnav-brands.png) -120px -200px;}
.ortigia {background:url(../images/topnav/topnav-brands.png) -240px -200px;}
.osborne_and_little {background:url(../images/topnav/topnav-brands.png) -360px -200px;}
.penhaligons {background:url(../images/topnav/topnav-brands.png) -480px -200px;}
.pols_potten {background:url(../images/topnav/topnav-brands.png) 0 -275px;}
.poole_pottery {background:url(../images/topnav/topnav-brands.png) -600px -200px;}
.race {background:url(../images/topnav/topnav-brands.png) -480px -300px;}
.sabina_savage {background:url(../images/topnav/topnav-brands.png) -720px  -250px;}
.sanderson {background:url(../images/topnav/topnav-brands.png) -720px -200px;}
.scanpan {background:url(../images/topnav/topnav-brands.png) 0 -225px;}
.scp {background:url(../images/topnav/topnav-brands.png) -120px -225px;}
.seletti {background:url(../images/topnav/topnav-brands.png) -240px -225px;}
.sophie_woodrow {background:url(../images/topnav/topnav-brands.png) -360px -225px;}
.tempur {background:url(../images/topnav/topnav-brands.png) -480px -225px;}
.this_works {background:url(../images/topnav/topnav-brands.png) -600px -225px;}
.tom_dixon {background:url(../images/topnav/topnav-brands.png) -720px -225px;}
.vitra {background:url(../images/topnav/topnav-brands.png) 0 -250px;}
.vi_spring {background:url(../images/topnav/topnav-brands.png) -360px -250px;}
.waterford_crystals {background:url(../images/topnav/topnav-brands.png) 0 -300px;}
.wireworks {background:url(../images/topnav/topnav-brands.png) -360px -275px;}
.wusthof {background:url(../images/topnav/topnav-brands.png) -120px -250px;}


/* Brands END */

/* Offers / Sale START */
ul#topnav li div.offers a {display:block; padding:6px 13px 6px 9px;}
ul#topnav li div.offers a:hover {display: block; background:#FFF;}
ul#topnav li div.offers span {height:370px;left:0;top: 28px;padding-right: 1px; width:100%;}
#subcat_col_one_offers {width:156px;height:100px;float:left;border-right:1px solid #747679;}
#subcat_col_three_offers, #subcat_col_five_offers {width:156px;height:100px;float:left;border-right:1px solid #747679;}
#subcat_col_two_offers, #subcat_col_four_offers {width:156px;height:100px;float:left;background:#fff;border-right:1px solid #747679;}
#subcat_col_six_offers {width:155px;height:100px;float:right;background:#fff;}
/* Offers / Sale END */

ul#topnav li span div.boxall a{display:block;margin:0;padding: 5px 0;
text-align: center;color:#ffffff;font-size:11px;text-transform:uppercase; background:#747679;}
.boxall:hover {cursor:pointer;}
ul#topnav li span div.boxall a:hover {text-decoration:none;}
ul#topnav li span div.newitems a{display:block;width:100%;margin:5px 0 0 0;padding:3px 0 3px 0;text-align:center;font-size:12px;text-transform:uppercase; background:#efe9e5; left:auto; right:auto;}
.boxall:hover {cursor:pointer;}
ul#topnav li span div.newitems a:hover {text-decoration:underline;}
ul#topnav li span div.boxhighlight a{display:block;width:auto;padding:7px 0 5px 2px;text-align:left;margin:0; font-weight:bold;border-bottom:}
.boxhighlight {background-color:#fff;border-bottom: 1px solid #747679;margin-bottom: 5px;width: 90%;padding-bottom: 2px;}
.boxhighlight_brands {background-color:#fff;border-bottom: 0px solid #747679;margin-bottom: 20px;width: 90%;height: 20px;display: block;}
.boxhighlight_gifts {background-color:#fff; border-bottom: 0px solid #747679;margin-bottom: 5px;width: 90%;}
.boxhighlight a{}
.boxhighlight:hover, .boxhighlight2a:hover{display:block;text-align:left;cursor:pointer;text-decoration:underline;}
.box:hover, .boxall1:hover, .boxall2:hover, .boxall3:hover, .boxall4:hover, .boxall5:hover, .boxall6:hover, .boxall7:hover, .boxall8:hover, .boxall9:hover, .boxall10:hover, .boxall11:hover, .boxall12:hover {text-decoration:underline;cursor:pointer;display:block;}
ul#topnav li span div.box a, ul#topnav li span div.boxall1 a, ul#topnav li span div.boxall2 a, ul#topnav li span div.boxall3 a, ul#topnav li span div.boxall4 a, ul#topnav li span div.boxall5 a, ul#topnav li span div.boxall6 a, ul#topnav li span div.boxall7 a, ul#topnav li span div.boxall8 a, ul#topnav li span div.boxall9 a, ul#topnav li span div.boxall10 a, ul#topnav li span div.boxall11 a, ul#topnav li span div.boxall12 a{
display:block;width:90%px;margin:2px 0 0 0;padding:2px 0 2px 5px;text-align:left;text-transform:none; font-weight:normal;line-height: 12px; font-style: normal;}
ul#topnav li span div.box {}