<div id="content-search">
	<div id="searchResults" class="searchResults">
		<venda_block label=isKeyword,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
			<div class="static-header borderBt"><h1><venda_text id=mobile.heading.search_results></h1></div>
		</venda_block label=isKeyword>
		<venda_block label=isCategory,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
			<div class="static-header borderBt"><h1><venda_tpxt mode=get,name=parentCatName></h1></div>
		</venda_block label=isCategory>
		<venda_tpcomment><!-- start: results found content --></venda_tpcomment>
		<venda_block label=345,mode=value,<venda_totalresults>!=0>
		<div class="searchOptions searchTop">
			<div class="resultMsg">
				<venda_block label=isKeyword,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
					<venda_block label=suggest,suggestion=notnull><h4><venda_text id=mobile.info.search_no_results> <venda_block label=410,primarysearchtext=notnull,primarysearchtext!=*:*><span class="primarysearchtext">"<span id="paramq" class="keywordsearchtext"><venda_primarysearchtext></span>"</span></venda_block label=410>, <venda_text id=mobile.info.search_match> <span class="correctedquery">"<span class="correctedquerytext"><venda_suggestion></span>"</span></h4></venda_block label=suggest>
                </venda_block label=isKeyword>
			</div>
			<venda_tpcomment><!-- start: refine list --></venda_tpcomment>
			<div class="refine" data-role="collapsible" data-iconpos="right">
				<h2><venda_text id=mobile.heading.refine><span class="searchIcon"></span></h2>
				<venda_inctemplate name=refineListMobile,type=search>
			</div>
			<venda_tpcomment><!-- end: refine list --></venda_tpcomment>

			<venda_tpcomment><!-- start: search results - product - pagination --></venda_tpcomment>
			<div class="pagn pagnTop">
				<venda_pagination template=searchPaginationMobile>
			</div>
			<venda_tpcomment><!-- end: search results - product/page/story - pagination --></venda_tpcomment>
			<venda_tpcomment><!-- Grid/List view switch: Disabled by default -->
			<div class="viewStyle">
				<a href="#"><span class="viewProduct iconGrid" data-viewstyle="Grid"><venda_text id=mobile.button.grid_view></span></a>
				<a href="#"><span class="viewProduct iconList" data-viewstyle="List"><venda_text id=mobile.button.list_view></span></a>
			</div>
			</venda_tpcomment>
			<venda_tpcomment><!-- start: sort by options --></venda_tpcomment>
			<div class="sortby sortbyTop ui-hide-label">
				<form name="sortformTop">
				<label for="sortby" style="margin-bottom:4%;"><venda_text id=mobile.info.sortby></label>
				<select name="sortby" id="sortby" onchange="window.location = document.sortformTop.sortby.options[document.sortformTop.sortby.selectedIndex].value;">
					<venda_tpcomment><!-- Known issue: venda_searchurl is not translating as required for 'Most Relevant' option. New tag needed like venda_baseurl without params &sort &order --></venda_tpcomment>
                    <option value="<venda_searchurl sort=release:name,order=desc:asc,setpagenum=1>">Most Recent First<!-- venda_text id=site.search_results.option.mobile.release_desc --></option>
					<option value="<venda_searchurl sort=release:name,order=asc:asc,setpagenum=1>">Most Recent Last<!-- venda_text id=site.search_results.option.mobile.release_asc --></option>
					<venda_block label=12,mode=value,<venda_setting type=ebiz,name=sortrelevantfirst>=1><option value="<venda_searchurl sort=,setpagenum=1>"><venda_text id=mobile.form.most_relevant></option></venda_block label=12>
					<venda_detail_sortedby options=price~desc:asc;name~asc:desc>
				</select>
				<venda_detblock_sortedby>
					<option value="<venda_url>"<venda_block sortedon=notnull> selected="selected"</venda_block>><venda_option></option>
				</venda_detblock_sortedby>
				</form>
			</div>
			<venda_tpcomment><!-- end: sort by options --></venda_tpcomment>
		</div>

		<venda_detblock_results>
			<venda_inventory ref=<venda_ref>,temp=productPanelMobile,displayunpublished=1>
		</venda_detblock_results>

		<ul data-role="listview" class="prods"><venda_detail_results></ul>
		<div class="searchOptions searchBottom">
		<venda_tpcomment><!-- start: search results - product - pagination --></venda_tpcomment>
		<div class="pagn pagnBottom">
			<venda_pagination template=searchPaginationMobile>
		</div>
		<venda_tpcomment><!-- end: search results - product/page/story - pagination --></venda_tpcomment>
			<venda_tpcomment><!-- start: sort by options --></venda_tpcomment>
			<div class="sortby sortbyTop ui-hide-label">
				<form name="sortformBottom">
				<label for="sortby" style="margin-bottom: 4%;"><venda_text id=mobile.info.sortby></label>
				<select name="sortby" id="sortby" onchange="window.location = document.sortformBottom.sortby.options[document.sortformBottom.sortby.selectedIndex].value;">
					<venda_tpcomment><!-- Known issue: venda_searchurl is not translating as required for 'Most Relevant' option. New tag needed like venda_baseurl without params &sort &order --></venda_tpcomment>
					<venda_block label=12,mode=value,<venda_setting type=ebiz,name=sortrelevantfirst>=1><option value="<venda_searchurl sort=,setpagenum=1>"><venda_text id=mobile.form.most_relevant></option></venda_block label=12>
					<venda_detail_sortedby options=price~desc:asc;name~asc:desc>
				</select>
				</form>
				<venda_detblock_sortedby>
					<option value="<venda_url>"<venda_block sortedon=notnull> selected="selected"</venda_block>><venda_option></option>
				</venda_detblock_sortedby>
			</div>
			<venda_tpcomment><!-- end: sort by options --></venda_tpcomment>
		</div>
		</venda_block label=345>
		<venda_tpcomment><!-- end: results found content --></venda_tpcomment>

		<venda_tpcomment><!-- start: results not found query text --></venda_tpcomment>
		<venda_block label=346,totalresults=0>
		<div class="noResults emptyBox">
		<venda_block label=3461,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
		<p><venda_text id=mobile.info.your_search> <venda_block label=95,primarysearchtext=notnull><venda_text id=mobile.info.for> <span class="primarysearchtext">"<span class="keywordsearchtext"><venda_primarysearchtext></span>"</span> </venda_block label=95><venda_text id=mobile.info.returned_no_results>.</p>
		</venda_block label=3461>

		<venda_block label=3462,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
		<p><venda_text id=mobile.info.returned_no_results> <venda_text id=mobile.info.in> <span class="parentCatRefSearchtext"><venda_category rec=icat,ref=<venda_tpxt mode=get,name=categorySearch>,temp=categorynameMobile,cacheall=1></span>.</p>
		</venda_block label=3462>
		</div>
		</venda_block label=346>
		<venda_tpcomment><!-- end: results not found query text --></venda_tpcomment>
	</div>

	<!-- <venda_glxt mode=set,name=searchurl,value=<venda_searchurl>> -->
	<venda_tpcomment><!-- TPXTs are set for webtrends meta tag --></venda_tpcomment>
	<venda_tpxt mode=set,name=totalresults,value=<venda_totalresults>>
	<venda_tpxt mode=set,name=primarysearchtext,value=<venda_primarysearchtext>>

	<venda_tpcomment><!-- Tags for JS --></venda_tpcomment>
	<div style="display:none;" id="tag-error"><venda_text id=mobile.info.ajaxerror></div>
</div>

<!--script for discount label. NOTE might need to be relovated to searchresults template -->

<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.history.js'></script>

<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jquery.viewport.mini.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/jsuri-1.1.1.min.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/mobile/Search.js'></script>
<script>
jQuery(Venda.Search.start);
</script>

<script>
$("#content-search").bind("search-loading-end",function(a){$(".discount50_mobile").each(function(c){var b="";$(this).find(".discountWasPrice").each(function(f){b=$(this).text()});var e="";$(this).find(".discountSellPrice").each(function(f){e=$(this).text()});var h="";$(this).find(".discountSkuInvt").each(function(f){h=$(this).text()});var g="";$(this).find(".discountLive").each(function(f){g=$(this).text()});var d=1-(e/b);percent=(d*100).toFixed(2);
if((percent>4.99)&&(percent<10)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/5percent.png"></a>')}
if((percent>9.99)&&(percent<15)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/10percent.png"></a>')}
if((percent>14.99)&&(percent<20)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/15percent.png"></a>')}
if((percent>19.99)&&(percent<25)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/20percent.png"></a>')}
if((percent>24.99)&&(percent<30)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/25percent.png"></a>')}
if((percent>29.99)&&(percent<35)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/30percent.png"></a>')}
if((percent>34.99)&&(percent<40)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/35percent.png"></a>')}
if((percent>39.99)&&(percent<45)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/40percent.png"></a>')}
if((percent>44.99)&&(percent<50)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/45percent.png"></a>')}
if((percent>49.99)&&(percent<60)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/50percent.png"></a>')}
if((percent>59.99)&&(percent<70)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/60percent.png"></a>')}
if((percent>69.99)&&(percent<75)){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/70percent.png"></a>')}
if(percent>74.99){$(this).html('<a href="'+g+h+'" class="availlink"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/mobile/product-detail/70percentplus.png"></a>')}})});
</script>
