<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">
	<h5 class="acc_trigger"><a href="<venda_text id=site.cookware>">Cookware</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_dispview icat=cookware>&pdxtbrowse=Saucepans&pdxtbrowse=Stock+Pots">Saucepans & Stock Pots</a></p>
<p><a href="<venda_dispview icat=cookware>&pdxtbrowse=Fry+and+Saute+Pans&pdxtbrowse=Grills+and+Griddles">Frying Pans</a></p>
<p><a href="<venda_text id=site.woks>">Woks</a></p>
<p><a href="<venda_text id=site.roasters>">Roasters</a></p>
<p><a href="<venda_dispview icat=cookware>&pdxtbrowse=Steamers">Steamers</a></p>
		</div> 
	</div> 

	<h5 class="acc_trigger"><a href="<venda_text id=site.oven_to_table>">Oven To Table</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_dispview icat=oven_to_table>&pdxtbrowse=Casserole+Dishes">Casserole Dishes</a></p>
<p><a href="<venda_text id=site.tagines>">Tagines</a></p>
<p><a href="<venda_text id=site.baking_dishes>">Baking Dishes</a></p>
<p><a href="<venda_text id=site.ramekins>">Ramekins</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.bakeware>">Bakeware</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.baking_tins>">Baking Tins</a></p>
<p><a href="<venda_text id=site.oven_trays>">Oven Trays</a></p>
<p><a href="<venda_dispview icat=kitchen_prep>&pdxtbrowse=Mixing+Bowls">Mixing Bowls</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.kitchen_storage>">Kitchen Storage</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_dispview icat=kitchen_storage>&pdxtbrowse=Kitchen+Bins&pdxtbrowse=Recycle+Bins+and+Composters">kitchen Bins</a></p>
<p><a href="<venda_text id=site.wine_plate_racks>">wine & Plate Racks</a></p>
<p><a href="<venda_text id=site.storage_jars_containers>">Storage Jars & Containers</a></p>
<p><a href="<venda_text id=site.bread_bins_cake_tins>">Bread Bins & Cake Tins</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.tea_coffee>">Tea & Coffee</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.mugs>">Mugs</a></p>
<p><a href="<venda_dispview icat=tea_coffee>&pdxtbrowse=Teapots">Teapots</a></p>
<p><a href="<venda_text id=site.cafetieres>">Cafetieres</a></p>
<p><a href="<venda_text id=site.espresso_cups>">Espresso Cups</a></p>
<p><a href="<venda_dispview icat=tea_coffee>&pdxtbrowse=Tea+and+Coffee+Accessories">Tea & Coffee Accessories</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.food_preparation>">Food Preparation</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.kitchen_scales>">Kitchen Scales</a></p>
<p><a href="<venda_text id=site.condiments>">Condiments</a></p>
<p><a href="<venda_text id=site.knives_blocks>">Knives & Blocks</a></p>
<p><a href="<venda_text id=site.chopping_worktop_boards>">Chopping/Worktop Boards</a></p>
		</div> 
	</div>

	<h5 class="acc_trigger"><a href="<venda_text id=site.kitchen_electricals>">Kitchen Electricals</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.kettles>">Kettles</a></p>
<p><a href="<venda_text id=site.toasters>">Toasters</a></p>
<p><a href="<venda_text id=site.coffee_makers>">Coffee Makers</a></p>
<p><a href="<venda_text id=site.food_mixers_blenders>">Food Mixers & Blenders</a></p>
<p><a href="<venda_text id=site.electrical_gadgets>">Electrical Gadgets</a></p>
		</div> 
	</div> 

	<h5 class="acc_trigger"><a href="<venda_text id=site.gadgets_utensils>">Gadgets & Utensils</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.gadgets>">Gadgets</a></p>
<p><a href="<venda_text id=site.utensils>">Utensils</a></p>
<p><a href="<venda_text id=site.graters>">Graters</a></p>
<p><a href="<venda_text id=site.pestle_mortar>">Pestle & Mortar</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.kitchen_linen>">Kitchen Linen</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.oven_gloves>">Oven Gloves</a></p>
<p><a href="<venda_text id=site.aprons>">Aprons</a></p>
<p><a href="<venda_text id=site.tea_towels>">Tea Towels</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.serveware>">Serveware</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Cake+Stands">Cake Stands</a></p>
<p><a href="<venda_text id=site.cheese_boards>">Cheese & Bread Boards</a></p>
<p><a href="<venda_dispview icat=serveware>&pdxtbrowse=Small+Serving+Bowls&pdxtbrowse=Salad+and+Fruit+Bowls">Serving Bowls</a></p>
<p><a href="<venda_dispview icat=serveware>&pdxtbrowse=Breakfast&pdxtbrowse=Butter+Dishes">Breakfast</a></p>
<p><a href="<venda_dispview icat=serveware>&pdxtbrowse=Trays&pdxtbrowse=Platters">Trays & Platters</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_dispview icat=dining_room>">Dining</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.all_tableware>">Tableware</a></p>
<p><a href="<venda_text id=site.all_glassware>">Glassware</a></p>
<p><a href="<venda_text id=site.cutlery>">Cutlery</a></p>
<p><a href="<venda_text id=site.all_table_decor>">Table Decor</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.gourmet_food_drink>">Gourmet Food & Drink</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.deli>">Deli</a></p>
<p><a href="<venda_text id=site.chocolate>">Chocolate</a></p>
<p><a href="<venda_text id=site.alcohol_beverages>">Alcohol & Beverages</a></p>
<p><a href="<venda_text id=site.confectionery>">Confectionery</a></p>
<p><a href="<venda_text id=site.bakery>">Bakery</a></p>
		</div> 
	</div>
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_dining">
<venda_category temp=brand_categories,ref=kitchen_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.cookware>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_cookware>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.cookware>">Cookware</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_dispview icat=cookware>&pdxtbrowse=Saucepans&pdxtbrowse=Stock+Pots">Saucepans & Stock Pots</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=cookware>&pdxtbrowse=Fry+and+Saute+Pans&pdxtbrowse=Grills+and+Griddles">Frying Pans</a></div>
<div class="sub_headings"><a href="<venda_text id=site.woks>">Woks</a></div>
<div class="sub_headings"><a href="<venda_text id=site.roasters>">Roasters</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=cookware>&pdxtbrowse=Steamers">Steamers</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.oven_to_table>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_oven_to_table>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.oven_to_table>">Oven To Table</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_dispview icat=oven_to_table>&pdxtbrowse=Casserole+Dishes">Casserole Dishes</a></div>
<div class="sub_headings"><a href="<venda_text id=site.tagines>">Tagines</a></div>
<div class="sub_headings"><a href="<venda_text id=site.baking_dishes>">Baking Dishes</a></div>
<div class="sub_headings"><a href="<venda_text id=site.ramekins>">Ramekins</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.bakeware>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_bakeware>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.bakeware>">Bakeware</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.baking_tins>">Baking Tins</a></div>
<div class="sub_headings"><a href="<venda_text id=site.oven_trays>">Oven Trays</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=kitchen_prep>&pdxtbrowse=Mixing+Bowls">Mixing Bowls</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.kitchen_storage>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_kitchen_storage>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.kitchen_storage>">Kitchen Storage</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_dispview icat=kitchen_storage>&pdxtbrowse=Kitchen+Bins&pdxtbrowse=Recycle+Bins+and+Composters">Kitchen Bins</a></div>
<div class="sub_headings"><a href="<venda_text id=site.wine_plate_racks>">Wine & Plate Racks</a></div>
<div class="sub_headings"><a href="<venda_text id=site.storage_jars_containers>">Storage Jars & Containers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.bread_bins_cake_tins>">Bread Bins & Cake Tins</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.tea_coffee>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_tea_coffee>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.tea_coffee>">Tea & Coffee</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.mugs>">Mugs</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=tea_coffee>&pdxtbrowse=Teapots">Teapots</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cafetieres>">Cafetieres</a></div>
<div class="sub_headings"><a href="<venda_text id=site.espresso_cups>">Espresso Cups</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=tea_coffee>&pdxtbrowse=Tea+and+Coffee+Accessories">Tea & Coffee Accessories</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.food_preparation>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_food_preparation>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.food_preparation>">Food Preparation</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.kitchen_scales>">Kitchen Scales</a></div>
<div class="sub_headings"><a href="<venda_text id=site.condiments>">Condiments</a></div>
<div class="sub_headings"><a href="<venda_text id=site.knives_blocks>">Knives & Blocks</a></div>
<div class="sub_headings"><a href="<venda_text id=site.chopping_worktop_boards>">Chopping Boards & Worktop Savers</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.kitchen_electricals>"><venda_media rec=icat,type=movie-swf-pict,key=seventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_kitchen_electricals>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.kitchen_electricals>">Kitchen Electricals</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.kettles>">Kettles</a></div>
<div class="sub_headings"><a href="<venda_text id=site.toasters>">Toasters</a></div>
<div class="sub_headings"><a href="<venda_text id=site.coffee_makers>">Coffee Makers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.food_mixers_blenders>">Food Mixers & Blenders</a></div>
<div class="sub_headings"><a href="<venda_text id=site.electrical_gadgets>">Electrical Gadgets</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.gadgets_utensils>"><venda_media rec=icat,type=movie-swf-pict,key=eighth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_gadgets_utensils>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.gadgets_utensils>">Gadgets & Utensils</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.gadgets>">Gadgets</a></div>
<div class="sub_headings"><a href="<venda_text id=site.utensils>">Utensils</a></div>
<div class="sub_headings"><a href="<venda_text id=site.graters>">Graters</a></div>
<div class="sub_headings"><a href="<venda_text id=site.pestle_mortar>">Pestle & Mortar</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.kitchen_linen>"><venda_media rec=icat,type=movie-swf-pict,key=ninth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_kitchen_linen>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.kitchen_linen>">Kitchen Linen</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.oven_gloves>">Oven Gloves</a></div>
<div class="sub_headings"><a href="<venda_text id=site.aprons>">Aprons</a></div>
<div class="sub_headings"><a href="<venda_text id=site.tea_towels>">Tea Towels</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.serveware>"><venda_media rec=icat,type=movie-swf-pict,key=tenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_serveware>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.serveware>">Serveware</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Cake+Stands">Cake Stands</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cheese_boards>">Cheese & Bread Boards</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Small+Serving+Bowls&pdxtbrowse=Salad+and+Fruit+Bowls">Serving Bowls</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Breakfast&pdxtbrowse=Butter+Dishes">Breakfast</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Trays&pdxtbrowse=Platters">Trays & Platters</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_dispview icat=dining_room>"><venda_media rec=icat,type=movie-swf-pict,key=eleventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=dining_room>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=dining_room>">Dining</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.all_tableware>">Tableware</a></div>
<div class="sub_headings"><a href="<venda_text id=site.all_glassware>">Glassware</a></div>
<div class="sub_headings"><a href="<venda_text id=site.all_cutlery>">Cutlery</a></div>
<div class="sub_headings"><a href="<venda_text id=site.all_table_decor>">Table Decor</a></div>
<div class="sub_headings"><a href="<venda_text id=site.barware>">Barware</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.gourmet_food_drink>"><venda_media rec=icat,type=movie-swf-pict,key=twelfth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_food_gift>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.gourmet_food_drink>">Food & Drink</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.deli>">Deli</a></div>
<div class="sub_headings"><a href="<venda_text id=site.chocolate>">Chocolate</a></div>
<div class="sub_headings"><a href="<venda_text id=site.alcohol_beverages>">Alcohol & Beverages</a></div>
<div class="sub_headings"><a href="<venda_text id=site.confectionery>">Confectionery</a></div>
<div class="sub_headings"><a href="<venda_text id=site.bakery>">Bakery</a></div>
</div>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>