<div class="header-right">
<ul class="basket-contents">
<li class="basket-items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_order shopcart=1,template=totalItems></a></li>
<li class="basket-price"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22">Total: <b><venda_ohsubsell></b></a></li>
</ul>

<div class="clear-all"></div>
<ul id="basket_links">
<li class="viewbasket-button"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/header/my-basket.gif" alt="My Basket"></a></li>
<li class="checkout-button">
<venda_block label=11,carttotal!=0>
<venda_block label=100,ustype=R>
<venda_block label=210,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=confirm&param1=login"></venda_block label=210>
<venda_block label=211,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=211>
</venda_block label=100>
<venda_block label=101,ustype!=R><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=101>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/header/checkout.gif" alt="Go to Checkout"></a>
</venda_block label=11>

<venda_block label=12,carttotal=0>
<a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/header/checkout.gif" alt="Go to Checkout"></a>
</venda_block label=12>
</li>
</ul>
</div>