<venda_detblock1>
<div>Heal's Returns Authorisation Code (RMA): <venda_com>.</div>
<p>
The order number relating to the products you are returning is <venda_ohordnum>.</p> 

<p>Please write both the RMA number and your order number clearly on the outside of the parcel.</p>

<p>If you are returning goods for a refund please note that all goods returned must be in a perfect and saleable condition with original product packaging and instructions where appropriate or your right to a full refund may be affected. You must also ensure that you return the goods to us within 28 days of receipt of the goods.</p>

<p>If you have requested a replacement item to be sent out to you, then you will receive an email advising you of your replacement order number shortly.

</p>

<div>Return Address:</div>
<div>Heal's Distribution Centre</div>
<div>Internet Returns</div>
<div>10 Ardra Road</div>
<div>London</div>
<div>N9 0BD</div> 
<div>To check the status of this order, to change your contact details or to view your order history, go to your 
<a href="<venda_dispview page=myaccount>">My Account</a> page.</div>
<div>The following product(s) are to be returned:</div>
<ul><venda_detail2></ul>

</venda_detblock1>

<venda_detblock2><li><venda_oiivname> (<venda_status>)</li></venda_detblock2>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<title><venda_ebizname> Return Authorization Code for Order Number (<venda_ohordnum>)</title>
</head>
<body>
<div id="emailBody">
<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Return Authorization Code for (<venda_ohordnum>)</h1>
	<div class="clear"> </div>
</div>
<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<venda_inctemplate name=htmlEmailHeader,type=includes/email>

<venda_detail1>

<!-- Footer -->
<p>Regards,</p>
<div>Heal's Customer Services</div>
<div><a href="<venda_ebizurl>"><venda_ebizurl></a></div>
<div>Contact Us - <a href="mailto:returns@heals.co.uk">returns@heals.co.uk</a> or 08700 240 780</div>
<div>Heal & Son Limited, 196 Tottenham Court Road, London W1T 7LQ</div>
<div>VAT Number: GB 524 3006 89</div>
<!-- Footer -->


</div>
</body>
</html>