<style>#content-default_nocoltwothree {background:none;}</style>
<div id="tag-loadmessage" style="display:none;"><venda_text id=site.loadmessage></div>
<div id="tag-qtymsg" style="display:none;"><venda_text id=site.productdetail.validate.qty></div>
<div id="tag-ebizref" style="display:none;"><venda_setting type=ebiz,name=ref></div>
<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<div id="tag-invtname" style="display:none;"><venda_invtname></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>
<venda_tpcomment><!-- Jotis Attribute Design Translations --></venda_tpcomment>
<div id="attributes-stockNA" style="display:none;">Sorry, the selection you have made is not available</div>
<div id="pdxtVideoUrl" style="display:none;"><venda_pdxtvideo></div>
<div id="pdxtVideo-play" style="display:none;"><venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/pdxtvideo-play.png</div>
<div id="attributes-stockOut" style="display:none;">The selection you have made is out of stock</div>
<div id="attributes-productselected" style="display:none;"></div>
<div id="attributes-productstatus" style="display:none;">Please choose: </div>
<div id="attributes-only" style="display:none;"></div>
<div id="attributes-left" style="display:none;"> available</div>
<div id="attributes-optionDefault" style="display:none;">Please Select...</div>
<div id="attributes-tooltip" style="display:none;"> is currently out of stock</div>
<div id="attributes-backorder" style="display:none;">Awaiting Stock</div>
<div id="attributes-backorder2" style="display:none;">Delivery Due</div>
<div id="attributes-order" style="display:none;">Special Order</div>
<div id="attributes-order2" style="display:none;">Item Lead Time</div>
<div id="attributes-preorder" style="display:none;">Available for Pre-order - Release Date: </div>
<div id="attributes-quantity" style="display:none;">Please enter a quantity</div>
<div id="attributes-chooseVariant" style="display:none;">Please choose a varient of the product(s) you are adding to the basket</div>
<div id="attributes-addThisProduct" style="display:none;">Add this Product</div>
<div id="attributes-addAllProduct" style="display:none;">Add all products</div>
<div id="attributes-noneChecked" style="display:none;">Please add at least one product</div>
<venda_tpcomment><!-- VCP switch settings required for attributes JS --></venda_tpcomment>
<div id="OutOfStockThreshold" style="display: none;"><venda_setting type=ebiz,name=emailmebackthreshold></div><venda_tpcomment><!-- Out of Stock Threshold --></venda_tpcomment>
<div id="DoNotBackorder" style="display: none;"><venda_setting type=ebiz,name=nobackorderedinclude></div><venda_tpcomment><!-- Do not dispatch backordered items (checked == no backorder)--></venda_tpcomment>
<div id="emwbisType" style="display: none;"><venda_setting type=ebiz,name=emailmebackcriteria></div><venda_tpcomment><!-- Email me when back in stock criteria (ETA / Release Dates): 4 options: none, eta, release, eta and etarelease --></venda_tpcomment>
<venda_block label=50,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
<venda_tpcomment><!-- Required for PowerReviews --></venda_tpcomment>
<script type="text/javascript">
<venda_inctemplate type=includes,name=powerreviewscripts>
var pr_page_id = '<venda_invtref>'; 
var pr_write_review='<venda_dispview invt=<venda_invtref>>&temp=submitpowerreview&pageId=<venda_invtref>&layout=2column';
var pr_read_review='javascript:readReview()';
function readReview(){
	jQuery("#readreviewdisplay").toggle();
	location.hash = '#readreview';
}
</script>
</venda_block label=50>
<!-- Avail Search Keyword Tracking -->
<script type="text/javascript" src="http://service.avail.net/2009-02-13/dynamic/8f6b6820-5425-11de-92c7-12313b0039c1/emark.js"></script>
<script type="text/javascript">
	function availsetcookie(){
var availsearchKeyWord = "<venda_htxt mode=get,name=availsrch>";
var searchWordHtxt = Venda.Platform.getUrlParam(window.location.href,'htxt');
if (availsearchKeyWord != "") {
		var CJ_COOKIE_NAME="availsearchterm";
		var CJ_COOKIE_NAME2="availinvtref";
			var cj = new CookieJar({expires: 3600 * 24 * 21, path: '/'});  
			cj.put(CJ_COOKIE_NAME, "<venda_htxt mode=get,name=availsrch>");    
			cj.put(CJ_COOKIE_NAME2, "<venda_invtref>");   
}
}
function vendaAvailSaveSearch(){
<!--availSearch Term captured here-->
var CJ_COOKIE_NAME = 'availsearchterm';
var cj = new CookieJar({expires: 3600 * 24 * 21, path: '/'});  
var searchKeyWord = cj.get(CJ_COOKIE_NAME);
	if (searchKeyWord != "" && searchKeyWord != null) {
			//saveSearch(searchKeyWord,'<venda_invtref>');
			var emark = new Emark();
			var saveSearch = emark.saveSearch(searchKeyWord,'<venda_invtref>');
			emark.commit();
			//alert(searchKeyWord+','+'<venda_invtref>');
			cj.remove(CJ_COOKIE_NAME);
		}
}
</script>
<!-- End Avail Search Keyword Tracking -->
<div itemscope itemtype="http://schema.org/Product">
<div id="productdetail">
<div class="zoomableImages">
<div id="productdetail-image">
<venda_block label=10,med-medium=notnull>
<a itemprop="image" <venda_block label=40,med-large=notnull>href="<venda_media rec=invt,type=movie-swf-pict,key=large,img=no>" onclick="return false;"</venda_block label=40><venda_block label=41,med-large=null>href="<venda_dispview invt=<venda_invtref>>" onclick="return false;"</venda_block label=41> rel="adjustX: 0, adjustY:0" class='cloud-zoom' id='zoom1' data-track="open-largeimage" title="<venda_invtname>">
<venda_media rec=invt,type=movie-swf-pict,key=multi,dyn=yes,default=medium,width=270,height=270>
<!-- show "medium" key by default -->
</a>
</venda_block label=10>

<venda_block label=11,med-medium=null>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/no_image_m.gif" alt="<venda_text id=site.link.alt.no_image.invt>">
</venda_block label=11>

<div id="rolloverzoomText" style="position:absolute;top:385px;left:160px;"></div>

</div>
<div id="productdetail-swap" style="display:none;"></div>

<!-- start: Jotis Alternate Images -->
<div class="alternative_images_slide">
<venda_inctemplate name=alternateviewArrows,type=invt>
   <div class="window_alternative_view">
        <div class="image_reel_alternative_view">
        <div class="move_width"></div>
<ul>
<div id="productdetail-altview" class="altImageList"></div>
<venda_inctemplate name=alternateviewScript,type=invt>
</ul>
        </div>
  </div>
</div>
<!-- end: Jotis Alternate Images -->
</div>
<div id="detailzone">
<div class="product-detailATabs">
<venda_block invtivtype!=furniturerange>
<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><div id="tag-addedmsgref" style="text-align:center;border:1px solid #B4B4B4;padding:5px;background-color:#F1F1F1;"><venda_addedmsg msg=You have added addedqty x addedname to your basket></div></venda_block label=32>
</venda_block>
<venda_block errors=notnull><h2 class="error"><venda_errors></h2></venda_block>
<venda_block label=332,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><script type="text/javascript">vendaAvailSaveSearch()</script></venda_block label=332>
<div id="productdetail-info">
<div id="productdetail-product">
<div class="product-title_price">
<div class="product-title">
<h1 itemprop="name" id="comp-name<venda_invtref>"><venda_invtname></h1>
</div>
<div class="product-price">
<venda_block label=attributes0,chkatt=null>
<venda_block label=wasprice0,invtwas=null>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div id="parentprice"><span itemprop="price"><venda_currsym><venda_invtsell></span></div>
</div>
</venda_block label=wasprice0>
<venda_block label=wasprice1,invtwas=notnull>
<div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
<div id="parentprice" class="pricenow"><span itemprop="lowPrice"><venda_currsym><venda_invtsell></span></div>
<div class="productdetail_was">WAS <span id="was"><span itemprop="highPrice"><venda_currsym><venda_invtwas></span></span></div>
</div>
</venda_block label=wasprice1>
</venda_block label=attributes0>
<venda_block label=attributes1,chkatt=notnull>
<venda_block label=wasprice00,invtwas=null>
<venda_block label=minmax1,mode=value,<venda_invtatrminsubsell>=<venda_invtatrmaxsubsell>>
<div id="parentprice"><venda_currsym><venda_invtatrmaxsubsell></div>
</venda_block label=minmax1>
<venda_block label=minmax0,mode=value,<venda_invtatrminsubsell>!=<venda_invtatrmaxsubsell>>
<div id="parentprice"><venda_currsym><venda_invtatrminsubsell> - <venda_currsym><venda_invtatrmaxsubsell></div>
</venda_block label=minmax0>
</venda_block label=wasprice00>
<venda_block label=wasprice11,invtwas=notnull>
<venda_block label=minmax11,mode=value,<venda_invtatrminsubsell>=<venda_invtatrmaxsubsell>>
<div id="parentprice" style="color:#C1392D;"><venda_currsym><venda_invtatrmaxsubsell></div>
</venda_block label=minmax11>
<venda_block label=minmax00,mode=value,<venda_invtatrminsubsell>!=<venda_invtatrmaxsubsell>>
<div id="parentprice" style="color:#C1392D;"><venda_currsym><venda_invtatrminsubsell> - <venda_currsym><venda_invtatrmaxsubsell></div>
</venda_block label=minmax00>
</venda_block label=wasprice11>
</venda_block label=attributes1>
</div>
</div>
<div class="product-brand_more">
<div class="product-brand-image">
<venda_block label=brandlogo1,pdxtbrandlogo=notnull>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/brand/<venda_pdxtbrandlogo>">
</venda_block label=brandlogo1>
</div>
<div class="product-more">
<ul>
<venda_block label=brand1,pdxtbrandtext=notnull>
<li itemscope itemtype="http://schema.org/Organization">More from <span itemprop="name"><venda_pdxtbrandtext></span></li>
</venda_block label=brand1>
<venda_block label=designer1,pdxtdesignertext=notnull>
<li itemscope itemtype="http://schema.org/Person">About <span itemprop="name"><venda_pdxtdesignertext></span></li>
</venda_block label=designer1>
<venda_block label=range1,pdxtrange!=,pdxtrange=notnull,operator=or>
<li>More from <a href="<venda_dispview icat=<venda_invtcatref0>>&parentCategoryRef=<venda_invtcatref0>&pdxtrange=<venda_pdxtrange>"><venda_pdxtrange></a></li>
</venda_block label=range1>
<venda_block label=catbrowse1,pdxtbrowse!=,pdxtbrowse=notnull,operator=or>
<li>More <a href="<venda_dispview icat=<venda_invtcatref0>>?pdxtbrowse=<venda_pdxtbrowse>"><venda_pdxtbrowse></a></li>
</venda_block label=catbrowse1>
</ul>
</div>
</div>
</div>

<div class="avail-wallpaper">
<div class="prod-availability">
<venda_block label=availabilityrange,mode=value,<venda_invtivtype>=normal,<venda_invtivtype>=gardenfurniture,<venda_invtivtype>=furniture,operator=or>
<div class="availability-badge">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/availability-badge.gif">
</div>
<div class="availability-logic">
<venda_inventory ref=<venda_invtref>,temp=availability>
</div>
</venda_block label=availabilityrange>
</div>
<div class="wallpaper-calculator">
<venda_block label=wallpaper,pdxtbrowse=Wallpaper,pdxtbrowse=Kid's Wallpaper,operator=or>
<div class="wallpaper-calculator-badge">
<venda_inventory ref=<venda_invtref>,temp=wallpaper-calculator>
</div>
</venda_block label=wallpaper>
<venda_block label=madein,pdxtmadein=1>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/made-in-britain.gif" style="margin:0 0 8px 0;">
</venda_block label=madein>
<venda_block label=designedin,pdxtdesignedin=1>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/designed-in-britain.gif" style="margin:0 0 8px 0;">
</venda_block label=designedin>
</div>
</div>

<div id="productdetail-shipping">
<div class="prod-shipping">
<div class="shipping-badge">
<venda_block label=parcel1,invtwunits=Standard>
<a href="http://www.heals.co.uk/page/parcel_delivery&layout=popups&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/parcel-delivery-badge.gif"></a>
</venda_block label=parcel1>
<venda_block label=specialist1,invtwunits=Fragile>
<a href="<venda_dispview page=specialist_delivery>&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/specialist-delivery-badge.gif"></a>
</venda_block label=specialist1>
<venda_block label=furniture1,invtwunits=Furniture>
<a href="<venda_dispview page=furniture_delivery>&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/furniture-delivery-badge.gif"></a>
</venda_block label=furniture1>
</div>
<div class="shipping-logic">
<venda_block label=parcel11,invtwunits=Standard>
<venda_page page=deliverycondition>
</venda_block label=parcel11>
<venda_block label=specialist11,invtwunits=Fragile>
<venda_page page=deliverycondition100>
</venda_block label=specialist11>
<venda_block label=furniturefree,invtsell&gt;999,invtwunits=Furniture,operator=and>
<venda_page page=deliverycondition0>
</venda_block label=furniturefree>
<venda_block label=furniturecost,invtsell&lt;1000,invtwunits=Furniture,operator=and>
<venda_page page=deliverycondition50>
</venda_block label=furniturecost>
</div>
</div>

<div class="european-shipping">
<venda_block label=intshipping,invtcntrygrpref0!=300>
<div class="european-shipping-badge">
<a href="http://www.heals.co.uk/page/international_shipping&layout=popups&layout=popups" rel="popup console 740 520" alt="<venda_text id=site.link.title.delivery_charge_from>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/international-delivery-badge.gif" border="0" style="margin:0 0 10px 0;"></a>
</div>
<div class="european-shipping-logic">
<a href="http://www.heals.co.uk/page/international_shipping&layout=popups&layout=popups" rel="popup console 740 520" alt="<venda_text id=site.link.title.delivery_charge_from>">
European: 2-5 Working Days £8.95
</a>
</div>
</venda_block label=intshipping>
</div>
</div>

<venda_block label=nonrange,invtivtype=normal,invtivtype=gardenfurniture,invtivtype=furniture,operator=or>
<div class="box productDetailGradientBox buyControls" style="clear:both;text-decoration:none;">
<form name="form" action="<venda_codehttp>" method="get" name="addproductform" id="addproductform">
<input type="hidden" name="ex" value="co_disp-shopc">
<input type="hidden" name="curpage" value="">
<input type="hidden" name="buy" value="<venda_invtref>">
<input type="hidden" name="invt" value="<venda_invtref>">
<input type="hidden" name="ivref" value="<venda_invtref>">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="log" value="22">
<input type="hidden" name="mode" value="add">
<input type="hidden" name="next" value="">
<input type="hidden" name="bklist" value="<venda_bklist>">
<input type="hidden" name="layout" value="default">
<venda_block label=11211,mode=value,<venda_htxt mode=get,name=avail>!=true>
<input type="hidden" id="availHTXT" name="htxt" value="<venda_htxt mode=make,addtobasket=<venda_invtref>>"><!-- Avail  HTXT without avail=true-->
</venda_block label=11211>
<venda_block label=11212,mode=value,<venda_htxt mode=get,name=avail>=true>	
<input type="hidden" id="availHTXT" name="htxt" value="<venda_htxt mode=make,avail=true,addtobasket=<venda_invtref>,recadded=<venda_invtref>>">
</venda_block label=11212>
<venda_block label=250,invtavail&gt;0,etadyleft&gt;0,operator=or>
<!-- start: button link image -->
<venda_block label=700,chkatt=null>
<script>
$(function(){$("#addproductform").submit(function(){if(jQuery(".qty").val()>0){return true}else{alert(jQuery("#attributes-quantity").text());return false}})})
</script>
<div id="addproductbox" class="addproductbox" style="padding: 20px 0 0 0;">
<div id="qtybox" class="qtybox"><label for="qty"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/quantity.gif" alt="Quantity"></label><input name="qty" id="qty" type="text" value="1" size="3" maxlength="3" class="qty textInput"></div>
<venda_tpcomment><!-- Add to basket, PreOrder --></venda_tpcomment>
<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/add-to-basket.gif" alt="Add to Basket" value="<venda_text id=site.button.add_to_basket>" data-track="addtobasket" class="preorder">
<venda_block label=353456,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
<venda_block label=ustyper1,ustype=R>
<a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=confirm&param1=login"></venda_block label=ustyper1><venda_block label=ustyper0,ustype!=R><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=ustyper0><img style="padding:0 0 0 7px;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/checkout.gif" alt="Go To Checkout" onClick="availsetcookie();"></a>
</venda_block label=353456>
</div>
</venda_block label=700>
</venda_block label=250>
<venda_block label=nostocknonfurnrange1,invtavail&lt;0,invtavail=0,invtavail=null,operator=or>
<venda_block label=nostocknonfurnrange2,etadyleft=null,etadyleft&lt;1,operator=or>
<div style="padding: 10px 0 0 0;">
<a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=site.link.title.email_when_in_stock.invt>" id="emwbis_link" class="emwbisLink button" data-track="open-emwbis"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/emwbis.gif" alt="Email Me When Back In Stock" /></a>
</div>
</venda_block label=nostocknonfurnrange2>
</venda_block label=nostocknonfurnrange1>
<!-- end: buyControl div -->
</form>
</div>
</venda_block label=nonrange>

<venda_block label=furniturerange-attribute1,invtivtype=furniturerange>
<div class="oneProduct" id="oneProduct_<venda_invtuuid>" style="clear:both;">
<div class="oneProductContent hide">
<form name="form" action="<venda_codehttp>" method="get" name="addproductform" id="addproductform">
<input type="hidden" name="ex" value="co_disp-shopc">
<input type="hidden" name="curpage" value="">
<input type="hidden" name="buy" value="<venda_invtref>">
<input type="hidden" name="invt" value="<venda_invtref>">
<input type="hidden" name="ivref" value="<venda_invtref>">
<input type="hidden" name="bsref" value="<venda_bsref>">
<input type="hidden" name="log" value="22">
<input type="hidden" name="mode" value="add">
<input type="hidden" name="next" value="">
<input type="hidden" name="bklist" value="<venda_bklist>">
<input type="hidden" name="layout" value="default">
<venda_block label=11211,mode=value,<venda_htxt mode=get,name=avail>!=true>
<input type="hidden" id="availHTXT" name="htxt" value="<venda_htxt mode=make,addtobasket=<venda_invtref>>"><!-- Avail  HTXT without avail=true-->
</venda_block label=11211>
<venda_block label=11212,mode=value,<venda_htxt mode=get,name=avail>=true>	
<input type="hidden" id="availHTXT" name="htxt" value="<venda_htxt mode=make,avail=true,addtobasket=<venda_invtref>,recadded=<venda_invtref>>">
</venda_block label=11212>

<div id="attribute-options">
<div class="attribute-options-badge">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/more-options-tab.gif">
</div>
<div class="attribute-options-window">
<div class="attribute-options-container">
<div class="attributes">

<!-- start: attributes dropdown -->
<div id="attributeInputs" class="attributeInputs">
<venda_block label=21,selatt1=notnull>
<div<venda_block label=selatt1true1,pdxtattrname=Colour,pdxtattrname=Material,operator=or> style="margin:5px 0 0 0;"</venda_block label=selatt1true1>>
<label for="att1">Select <venda_pdxtattrname></label> 
<select name="att1" id="att1_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att1></option><venda_selatt1></select>
</div>
</venda_block label=21>

<venda_block label=22,selatt2=notnull>
<div>
<label for="att2">Select <venda_att2></label>
<select name="att2" id="att2_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att2></option><venda_selatt2></select>
</div>
</venda_block label=22>
                    
<venda_block label=23,selatt3=notnull>
<div>
<label for="att3">Select <venda_att3><venda_text id=site.product_detail.attribute.label_colon></label>
<select name="att3" id="att3_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att3></option><venda_selatt3></select>
</div>
</venda_block label=23>
                    
<venda_block label=24,selatt4=notnull>
<div>
<label for="att4">Select <venda_att4><venda_text id=site.product_detail.attribute.label_colon></label>
<select name="att4" id="att4_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att4></option><venda_selatt4></select>
</div>
</venda_block label=24>

<div class="attrFeedback productselectedwrapper" style="float:left;clear:none;width:444px;margin:5px 0 0 0;">
<span id="productselected"></span>
</div>

<div class="attribute-price-container" style="float:left;clear:none;margin:10px 0 0 0;">
<label>Price</label>
<div class="attribute-price">
            <div class="atributesPrice attrFeedback" itemprop="offers" itemscope itemtype="http://schema.org/Offer" style="padding: 4px 0 0 0;">
<meta itemprop="priceCurrency" content="<venda_currencycode>">
				<venda_block label=instock,invtatrinstock&gt;0><link itemprop="availability" href="http://schema.org/InStock"></venda_block label=instock><venda_block label=outofstock,invtatrinstock&lt;1><link itemprop="availability" href="http://schema.org/OutOfStock"></venda_block label=outofstock>
<venda_inctemplate type=includes,name=priceFormat>
</div>
	</div>
</div>

<div class="availability-logic-container" style="float:left;clear:none;margin:10px 0 5px 0;">
<label>Availability</label>
<div class="productDetailGradientBox attrFeedback stockFeedbackBox">
<span id="productstatus"><venda_text id=site.attributes.product_detail.please_make_selection></span>
<span id="stockstatus"></span> <span id="atrononhandholder" class="hide"><venda_text id=site.attributes.product_detail.only><span id="atronhand"></span><venda_text id=site.attributes.product_detail.left></span>
</div>
</div>

</div>
				
<div style="clear: both;"></div>
<!-- end: attributes dropdown -->
		
<!-- ATTRIBUTES SETTINGS -->
<venda_block label=1000,chkatt=notnull>
<div id="attributesForm" style="display: none;"><venda_block label=selatt1true,mode=value,<venda_pdxtattrname>=Colour,<venda_pdxtattrname>=Material,operator=or>halfswatch</venda_block label=selatt1true><venda_block label=selatt1false,mode=value,<venda_att1>!=Colour,<venda_att1>!=Material>dropdown</venda_block label=selatt1false></div><venda_tpcomment><!-- dropdown, halfswatch, swatch, grid, multiAdd2 --></venda_tpcomment>
<div id="invtref" style="display: none;"><venda_invtref></div>
<div id="attributeNames">
<div class="att1" style="display: none;"><venda_att1></div>
<div class="att2" style="display: none;"><venda_att2></div>
<div class="att3" style="display: none;"><venda_att3></div>
<div class="att4" style="display: none;"><venda_att4></div>
<div id="pdxtAttrName" style="display: none;"><venda_pdxtattrname></div>
</div>
<div id="invtrelease" style="display: none;"><venda_invtrelease></div>
</venda_block label=1000>

<!-- eo ATTRIBUTES SETTINGS -->
	
			</div>
		</div>
<!-- eo ONE PRODUCT -->
</div>
</div>

<venda_block invtivtype=furniturerange>
<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><div id="tag-addedmsgref" style="text-align:center;border:1px solid #B4B4B4;padding:5px;background-color:#F1F1F1;margin:10px 0 0 0;"><venda_addedmsg msg=You have added addedqty x addedname to your basket></div></venda_block label=32>
</venda_block>
<div class="box productDetailGradientBox buyControls" style="text-decoration:none;">
<venda_block label=701,chkatt=notnull>
<script>
$(function(){$("#addproductform").submit(function(){if(jQuery(".qty").val()>0){return true}else{alert(jQuery("#attributes-quantity").text());return false}})})
</script>
<div id="addproductbox" class="addproductbox">
<div id="qtybox" class="qtybox"><label for="qty"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/quantity.gif" alt="Quantity"></label><input name="qty" id="qty" type="text" value="1" size="3" maxlength="3" class="qty textInput"></div>
<input type="image" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/add-to-basket.gif" alt="Add to Basket" value="<venda_text id=site.button.add_to_basket>" data-track="addtobasket" class="preorder">
<venda_block label=353456,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
<venda_block label=ustyper11,ustype=R>
<a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=confirm&param1=login"></venda_block label=ustyper11><venda_block label=ustyper00,ustype!=R><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=ustyper00><img style="padding:0 0 0 7px;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/checkout.gif" alt="Go To Checkout" onClick="availsetcookie();"></a>
</venda_block label=353456>
</div>		
</venda_block label=701>
<a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=site.link.title.email_when_in_stock.invt>" id="emwbis_link" class="emwbisLink button" data-track="open-emwbis"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/emwbis.gif" alt="Email Me When Back In Stock" /></a>
</div>
</form>
</div>
</div>
</venda_block label=furniturerange-attribute1>
<venda_block label=219,chkatt=notnull> 
<venda_inctemplate name=attributeData,type=invt>
<venda_tpcomment><!-- Used to load attribute product data--></venda_tpcomment>
<venda_mediagrid template=alternateviewGrid>
<venda_tpcomment><!-- Used to load attribute media image and image data --></venda_tpcomment>
</venda_block label=219>
</div>
<div class="clear-all"></div>
</div>
<script>
$(document).ready(function(){
    var imageArea = $('.zoomableImages').height();
	var productDetailAtabs = $('.product-detailATabs').height();
	var productTabs = (imageArea - productDetailAtabs) - 118;
	$('.description-text,.details-text,.reviews-text').css('min-height', productTabs);
});
$(window).load(function() {
	var imageArea = $('.zoomableImages').height();
	var productDetailAtabs = $('.product-detailATabs').height();
	var productTabs = (imageArea - productDetailAtabs) - 118;
	$('.description-text,.details-text,.reviews-text').css('min-height', productTabs);
});
</script>
<!-- Start Including TAB -->
<venda_inctemplate name=productdetail_tab,type=invt>
<!-- End Including TAB -->
</div>
<div class="clear-all"></div>
</div>

<venda_block invtacctot&gt;0>
<script>
$(".multiList").css('padding','10px 0 35px 0');
</script>
<div id="productdetail_bottom">
<div class="relatesection">
<div id="availprodrecs" style="width:955px;font-size:1.1em;">
<div id="avail-emarkid" style="display:none;">8f6b6820-5425-11de-92c7-12313b0039c1</div>
<div class="recommendedProducts" style="display:block" id="h2availpd">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/tab-clicked-recommended-products.gif" alt="Recommended Products" style="margin:0 0 -1px 0;">
</div>
<script type="text/javascript"> var accessorySKU = ""; </script>
<venda_invtacc template=avaccessories>
<venda_inctemplate name=availpd,type=includes>
</div></div>
<br class="clear-all">
</div>
</venda_block>

<!-- tag values used to append crumbtrail with product name. -->
<div id="tags_invtName" class="hide"><venda_invtname></div>

<!-- tpxt for Meta tag -->
<div class="hide"><venda_category rec=icat,ref=<venda_invtcatref0>,temp=categoryname></div>

<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
<venda_tpxt mode=set,name=invtmainref,value=<venda_invtref>>
<venda_tpxt mode=set,name=pdxtbrowseby,value=<venda_pdxtbrowse>>
<venda_tpxt mode=set,name=parent,value=<venda_invtcatref0>>
<venda_tpxt mode=set,name=invtref,value=<venda_invtref>>