<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="shopbybrand_area">
<div class="block_sale">
<p class="border-top"><a href="<venda_dispview icat=kitchen_dining_offers>">Kitchen & Dining Offers</a></p>
<p><a href="<venda_dispview icat=outdoor_offers>">Outdoor Offers</a></p>
<p><a href="<venda_dispview icat=furniture_offers>">Furniture Offers</a></p>
<!--<p><a href="<venda_dispview icat=20offers>">20% Offers</a></p>-->
<p><a href="<venda_dispview icat=50offers>">50% Offers</a></p>
<p><a href="<venda_dispview icat=70offers>">70% Offers</a></p>
<!--<p><a href="<venda_dispview icat=alessi_offers>">Alessi Offers</a></p>
<p><a href="<venda_dispview icat=joseph_offers>">Joseph Joseph Offers</a></p>
<p><a href="<venda_dispview icat=lsa_offers>">LSA Offers</a></p>
<p><a href="<venda_dispview icat=orla_offers>">Orla Kiely Offers</a></p>
<p><a href="<venda_dispview icat=dualit_offers>">Dualit Offers</a></p>
<p><a href="<venda_dispview icat=lecreuset_offers>">Le Creuset Offers</a></p>
<p><a href="<venda_dispview icat=marimekko_offers>">Marimekko Offers</a></p>
<p><a href="<venda_dispview icat=normann_offers>">Normann Copenhagen Offers</a></p>
<p><a href="<venda_dispview icat=mason_offers>">Mason Cash Offers</a></p>-->
<p><a href="<venda_dispview icat=home_accessories_offers>">Home Accessories Offers</a></p>
<p><a href="<venda_dispview icat=lighting_offers>">Lighting Offers</a></p>
<p><a href="<venda_dispview icat=bathroom_offers>">Bathroom Offers</a></p>
<p><a href="<venda_dispview icat=bedroom_offers>">Bedroom Offers</a></p>
<p><a href="<venda_dispview icat=gift_offers>">Gift Offers</a></p>
<!--<p><a href="<venda_dispview page=nespresso_gift_card>">Nespresso Gift Card</a></p>-->



</div>
</div>
<br clear="all" /><br /><br />
<div class="leftnav-header">
<p>Gift Vouchers</p>
</div>
<div class="shopbybrand_area" style="height:210px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) bottom no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content" style="width: 740px !important; float: right !important;">
<div class="category-top-banner" style="margin: 0; background-color: #eeeeee; padding: 5px;">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=kitchen_dining_offers>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=kitchen_dining_offers>">Kitchen & Dining Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=outdoor_offers>"><venda_media rec=icat,type=movie-swf-pict,key=thirteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=outdoor_offers>">Outdoor Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=furniture_offers>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=furniture_offers>">Furniture Offers</a>
</div>
</div>

<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=20offers>"><venda_media rec=icat,type=movie-swf-pict,key=ninth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=20offers>">20% Offers</a>
</div>
</div>-->


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=50offers>"><venda_media rec=icat,type=movie-swf-pict,key=sixteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=50offers>">50% Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=70offers>"><venda_media rec=icat,type=movie-swf-pict,key=seventeenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=70offers>">70% Offers</a>
</div>
</div>


<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=alessi_offers>"><venda_media rec=icat,type=movie-swf-pict,key=eleventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=alessi_offers>">Alessi Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=joseph_offers>"><venda_media rec=icat,type=movie-swf-pict,key=twelfth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=joseph_offers>">Joseph Joseph Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=lsa_offers>"><venda_media rec=icat,type=movie-swf-pict,key=fourteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=lsa_offers>">LSA Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=orla_offers>"><venda_media rec=icat,type=movie-swf-pict,key=fifteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=orla_offers>">Orla Kiely Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=dualit_offers>"><venda_media rec=icat,type=movie-swf-pict,key=eighth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=dualit_offers>">Dualit Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=lecreuset_offers>"><venda_media rec=icat,type=movie-swf-pict,key=eighteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=lecreuset_offers>">Le Creuset Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=marimekko_offers>"><venda_media rec=icat,type=movie-swf-pict,key=nineteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=marimekko_offers>">Marimekko Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=normann_offers>"><venda_media rec=icat,type=movie-swf-pict,key=twentieth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=normann_offers>">Normann Copenhagen</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=mason_offers>"><venda_media rec=icat,type=movie-swf-pict,key=twentyfirst,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=mason_offers>">Mason Cash Offers</a>
</div>
</div>-->


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=home_accessories_offers>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=home_accessories_offers>">Home Accessories Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=lighting_offers>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=lighting_offers>">Lighting Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bathroom_offers>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bathroom_offers>">Bathroom Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bedroom_offers>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bedroom_offers>">Bedroom Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=gift_offers>"><venda_media rec=icat,type=movie-swf-pict,key=seventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=gift_offers>">Gift Offers</a>
</div>
</div>



<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview page=nespresso_gift_card>"><venda_media rec=icat,type=movie-swf-pict,key=tenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview page=nespresso_gift_card>">Nespresso Gift Card</a>
</div>
</div>-->





<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
