<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="shopbybrand_area">
<div class="block_sale">
<p class="border-top"><a href="<venda_dispview icat=furniture_offers>">Furniture Offers</a></p>
<p><a href="<venda_dispview icat=home_accessories_offers>">Home Accessories Offers</a></p>
<p><a href="<venda_dispview icat=lighting_offers>">Lighting Offers</a></p>
<p><a href="<venda_dispview icat=bathroom_offers>">Bathroom Offers</a></p>
<p><a href="<venda_dispview icat=bedroom_offers>">Bedroom Offers</a></p>
<p><a href="<venda_dispview icat=kitchen_dining_offers>">Kitchen & Dining Offers</a></p>
<p><a href="<venda_dispview icat=gift_offers>">Gift Offers</a></p>
<p><a href="<venda_dispview icat=outdoor_offers>">Outdoor Offers</a></p>
<p><a href="<venda_dispview icat=storage_offers>">Storage Offers</a></p>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=furniture_offers>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=furniture_offers>">Furniture Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=home_accessories_offers>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=home_accessories_offers>">Home Accessories Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=lighting_offers>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=lighting_offers>">Lighting Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bathroom_offers>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bathroom_offers>">Bathroom Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bedroom_offers>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bedroom_offers>">Bedroom Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=kitchen_dining_offers>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=kitchen_dining_offers>">Kitchen & Dining Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=gift_offers>"><venda_media rec=icat,type=movie-swf-pict,key=seventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=gift_offers>">Gift Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=outdoor_offers>"><venda_media rec=icat,type=movie-swf-pict,key=eighth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=outdoor_offers>">Outdoor Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=storage_offers>"><venda_media rec=icat,type=movie-swf-pict,key=ninth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=storage_offers>">Storage Offers</a>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>