<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="shopbybrand_area">
<div class="block_sale">
<p class="border-top"><a href="<venda_dispview icat=sofa_sale>">Sofa Offers</a></p>
<p><a href="<venda_dispview icat=living_furn_sale>">Living Room Furniture Offers</a></p>
<p><a href="<venda_dispview icat=dining_furn_sale>">Dining Furniture Offers</a></p>
<p><a href="<venda_dispview icat=bed_furn_sale>">Bedroom Furniture Offers</a></p>
<p><a href="<venda_dispview icat=mattress_sale>">Mattress Offers</a></p>
<p><a href="<venda_dispview icat=bedroom_sale>">Bedding Offers</a></p>
<p><a href="<venda_dispview icat=brand_ligne_roset>">Ligne Roset Offers</a></p>
<p><a href="<venda_dispview icat=lighting_sale>">Lighting Offers</a></p>
<!--<p><a href="<venda_dispview icat=brand_kartell>">Kartell Offers</a></p>-->
<!--<p><a href="<venda_dispview icat=brand_anglepoise>">Anglepoise Offers</a></p>-->
<!--<p><a href="<venda_dispview icat=brand_calligaris>">Calligaris Offers</a></p>-->
<!--<p><a href="<venda_dispview icat=brand_vitra>">Vitra Offers</a></p>-->
<!--<p><a href="<venda_dispview icat=brand_tom_dixon>">Tom Dixon Offers</a></p>-->
<p><a href="<venda_dispview icat=soft_furnishings_sale>">Soft Furnishings Offers</a></p>
<p><a href="<venda_dispview icat=accessories_sale>">Accessories Offers</a></p>
<p><a href="<venda_dispview icat=wallpaper_sale>">Wallpaper Offers</a></p>
<p><a href="<venda_dispview icat=dining_sale>">Dining Room Offers</a></p>
<p><a href="<venda_dispview icat=kitchen_sale>">Kitchen Offers</a></p>
<!--<p><a href="<venda_dispview icat=kitchen_30>">Up to 30% Off Kitchen</a></p>-->
<!--<p><a href="<venda_dispview icat=utility_electricals_sale>">Kitchen Electricals</a></p>-->
<p><a href="<venda_dispview icat=bathroom_sale>">Bathroom Offers</a></p>
<p><a href="<venda_dispview icat=office_sale>">Office Offers</a></p>
<p><a href="<venda_dispview icat=gifts_sale>">Gift Offers</a></p>
<p><a href="<venda_dispview icat=toiletries_sale>">Spa Offers</a></p>
<!--<p><a href="<venda_dispview icat=outdoor_sale>">Garden Sale</a></p>-->
<!--<p><a href="<venda_dispview icat=orla_sale>">Orla Kiely Sale</a></p>-->
<!--<p><a href="<venda_dispview icat=brand_sale>">Brand Sale</a></p>-->
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content" style="width: 740px !important; float: right !important;">
<div class="category-top-banner" style="margin: 0; background-color: #eeeeee; padding: 5px;">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=sofa_sale>"><venda_media rec=icat,type=movie-swf-pict,key=eighteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=sofa_sale>">Sofa Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=living_furn_sale>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=living_furn_sale>">Living Room Furniture Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=dining_furn_sale>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=dining_furn_sale>">Dining Furniture Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bed_furn_sale>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bed_furn_sale>">Bedroom Furniture Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=mattress_sale>"><venda_media rec=icat,type=movie-swf-pict,key=twentysecond,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=mattress_sale>">Mattress Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bedroom_sale>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bedroom_sale>">Bedding Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=brand_ligne_roset>"><venda_media rec=icat,type=movie-swf-pict,key=twentyfourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=brand_ligne_roset>">Ligne Roset Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=lighting_sale>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=lighting_sale>">Lighting Offers</a>
</div>
</div>



<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=brand_anglepoise>"><venda_media rec=icat,type=movie-swf-pict,key=twentieth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=brand_anglepoise>">Anglepoise Offers</a>
</div>
</div>-->

<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=brand_calligaris>"><venda_media rec=icat,type=movie-swf-pict,key=twentyfirst,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=brand_calligaris>">Calligaris Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=brand_vitra>"><venda_media rec=icat,type=movie-swf-pict,key=twentyfifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=brand_vitra>">Vitra Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=brand_tom_dixon>"><venda_media rec=icat,type=movie-swf-pict,key=twentysixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=brand_tom_dixon>">Tom Dixon Offers</a>
</div>
</div>-->


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=soft_furnishings_sale>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=soft_furnishings_sale>">Soft Furnishings Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=accessories_sale>"><venda_media rec=icat,type=movie-swf-pict,key=twentythird,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=accessories_sale>">Accessories Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=wallpaper_sale>"><venda_media rec=icat,type=movie-swf-pict,key=eighth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=wallpaper_sale>">Wallpaper Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=dining_sale>"><venda_media rec=icat,type=movie-swf-pict,key=eleventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=dining_sale>">Dining Room Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=kitchen_sale>"><venda_media rec=icat,type=movie-swf-pict,key=ninth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=kitchen_sale>">Kitchen Offers</a>
</div>
</div>


<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=bathroom_sale>"><venda_media rec=icat,type=movie-swf-pict,key=tenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=bathroom_sale>">Bathroom Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=office_sale>"><venda_media rec=icat,type=movie-swf-pict,key=seventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=office_sale>">Office Offers</a>
</div>
</div>





<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=utility_electricals_sale>"><venda_media rec=icat,type=movie-swf-pict,key=twentyseventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=utility_electricals_sale>">Kitchen Electricals</a>
</div>
</div>-->





<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=gifts_sale>"><venda_media rec=icat,type=movie-swf-pict,key=sixteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=gifts_sale>">Gift Offers</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=toiletries_sale>"><venda_media rec=icat,type=movie-swf-pict,key=twelfth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=toiletries_sale>">Spa Offers</a>
</div>
</div>


<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=outdoor_sale>"><venda_media rec=icat,type=movie-swf-pict,key=fifteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=outdoor_sale>">Garden Sale</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=orla_sale>"><venda_media rec=icat,type=movie-swf-pict,key=nineteenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=orla_sale>">Orla Kiely Sale</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=brand_sale>"><venda_media rec=icat,type=movie-swf-pict,key=seventeenth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=brand_sale>">Brand Sale</a>
</div>
</div>-->

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
