<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">

	<h5 class="acc_trigger_gift"><a href="<venda_text id=site.womens_gifts>">Women's Gifts</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_gifts"> 
<p class="border-top"><a href="<venda_text id=site.womens_fashion_accessories>">Women's Fashion</a></p>
<p><a href="<venda_text id=site.bath_body_perfume>">Bath, Body & Perfume</a></p>
<p><a href="<venda_text id=site.womens_food_alcohol_gifts>">Women's Food & Alcohol Gifts</a></p>
<p><a href="<venda_dispview icat=handbags_and_purses>">Handbags & Purses</a></p>
<p><a href="<venda_text id=site.womens_stocking_fillers>">Women's Novelty Gifts</a></p>
<p><a href="<venda_dispview icat=tech_and_gadgets>">Technology & Gadgets</a></p>
<p><a href="<venda_text id=site.candles_home_fragrance>">Candles & Home Fragrance</a></p>
<p><a href="<venda_text id=site.loungewear_slippers>">Loungewear & Slippers</a></p>
<p><a href="<venda_text id=site.gifts_for_home>">Gifts For The Home</a></p>
<p><a href="<venda_text id=site.womens_books>">Women's Books</a></p>
<p><a href="<venda_text id=site.womens_stationery_gifts>">Women's Stationery Gifts</a></p>
<p><a href="<venda_text id=site.womens_heals_favourites>">Women's Heal's Favourites</a></p>		
</div> 
	</div>

	<h5 class="acc_trigger_gift"><a href="<venda_text id=site.mens_gifts>">Men's Gifts</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_gifts"> 
<p class="border-top"><a href="<venda_text id=site.mens_fashion_accessories>">Men's Fashion Accessories</a></p>
<p><a href="<venda_text id=site.mens_food_alcohol_gifts>">Men's Food & Alcohol Gifts</a></p>
<p><a href="<venda_text id=site.mens_grooming>">Men's Grooming</a></p>
<p><a href="<venda_text id=site.mens_stocking_fillers>">Men's Novelty Gifts</a></p>
<p><a href="<venda_dispview icat=watches_and_cufflinks>">Watches & Cufflinks</a></p>
<p><a href="<venda_dispview icat=tech_and_gadgets>">Technology & Gadgets</a></p>
<p><a href="<venda_text id=site.luggage_bags_wallets>">Luggage Bags & Wallets</a></p>
<p><a href="<venda_text id=site.mens_stationery_gifts>">Men's Stationery Gifts</a></p>
<p><a href="<venda_text id=site.mens_games>">Men's Games</a></p>
<p><a href="<venda_text id=site.mens_books>">Men's Books</a></p>
<p><a href="<venda_text id=site.mens_robes_slippers>">Men's Robes & Slippers</a></p>
<p><a href="<venda_text id=site.mens_heals_favourites>">Men's Heal's Favourites</a></p>
		</div> 
	</div> 

    
	<h5 class="acc_trigger_gift"><a href="<venda_text id=site.kids_gifts>">Kid's Gifts</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_gifts"> 
<p class="border-top"><a href="<venda_text id=site.kids_stocking_fillers>">Kid's Novelty Gifts</a></p>
<p><a href="<venda_text id=site.kids_food_gifts>">Kid's Food Gifts</a></p>
<p><a href="<venda_text id=site.things_to_make_do>">Things To Make & Do</a></p>
<p><a href="<venda_text id=site.kids_bathtime_fun>">Kid's Bathtime Fun</a></p>
<p><a href="<venda_text id=site.kids_games>">Kid's Games</a></p>
<p><a href="<venda_text id=site.kids_stationery>">Kid's Stationery</a></p>
<p><a href="<venda_text id=site.soft_toys_baby_gifts>">Soft Toys & Baby Gifts</a></p>
<p><a href="<venda_text id=site.kids_room>">Kid's Room</a></p>
<p><a href="<venda_text id=site.kids_books>">Kid's Books</a></p>
<p><a href="<venda_text id=site.girls_gifts>">Girl's Gifts</a></p>
<p><a href="<venda_text id=site.boys_gifts>">Boy's Gifts</a></p>
<p><a href="<venda_text id=site.kids_heals_favourites>">Kid's Heal's Favourites</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger_gift"><a href="<venda_text id=site.home_gifts>">Gifts For The Home</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_gifts"> 
<p class="border-top"><a href="<venda_text id=site.candles_home_fragrance>">Candles & Home Fragrance</a></p>
<p><a href="<venda_text id=site.gift_art>">Gift Art</a></p>
<p><a href="<venda_text id=site.gift_objets>">Gift Objets</a></p>
<p><a href="<venda_text id=site.gift_vases_bowls>">Vases & Bowls</a></p>
<p><a href="<venda_text id=site.gift_frames>">Frames</a></p>
<p><a href="<venda_text id=site.gifts_for_cooks>">Gifts For Cooks</a></p>
<p><a href="<venda_text id=site.gift_soft_furnishings>">Soft Furnishings</a></p>
<p><a href="<venda_text id=site.gift_office_stationery>">Office & Stationery Gifts</a></p>
<p><a href="<venda_text id=site.gift_books>">Books</a></p>
<p><a href="<venda_text id=site.christmas_party>">Dinner Party</a></p>
<p><a href="<venda_text id=site.kids_room>">Kid's Room</a></p>
<p><a href="<venda_text id=site.home_gifts_heals_favourites>">Heal's Favourites</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger_gift"><a href="<venda_text id=site.gift_toiletries>">Toiletries</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_gifts"> 
<p class="border-top"><a href="<venda_text id=site.gift_toiletries_gift_sets>">Toiletries Gift Sets</a></p>
<p><a href="<venda_text id=site.bath_body_perfume>">Bath, Body & Perfume</a></p>
<p><a href="<venda_text id=site.candles_home_fragrance>">Candles & Home Fragrance</a></p>
<p><a href="<venda_text id=site.mens_grooming>">Men's Grooming</a></p>
<p><a href="<venda_text id=site.kids_bathtime_fun>">Kid's Bathtime Fun</a></p>
<p><a href="<venda_text id=site.gift_toiletries_stocking_fillers>">Novelty Toiletries</a></p>
<p><a href="<venda_text id=site.loungewear_accessories>">Loungewear & Accessories</a></p>
<p><a href="<venda_text id=site.gift_spa_gifts>">Spa Gifts</a></p>
<p><a href="<venda_text id=site.gift_hot_water_bottles>">Hot Water Bottles</a></p>
<p><a href="<venda_text id=site.gift_toiletries_heals_favourites>">Heal's Favourites</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger_gift"><a href="<venda_text id=site.gourmet_food_drink>">Gourmet Food & Drink</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_gifts"> 
<p class="border-top"><a href="<venda_text id=site.deli>">Deli</a></p>
<p><a href="<venda_text id=site.chocolate>">Chocolate</a></p>
<p><a href="<venda_text id=site.alcohol_beverages>">Alcohol & Beverages</a></p>
<p><a href="<venda_text id=site.confectionery>">Confectionery</a></p>
<p><a href="<venda_text id=site.food_stocking_fillers>">Food Stocking Fillers</a></p>
<p><a href="<venda_text id=site.food_alcohol_gift_sets>">Food & Alcohol Gift Sets</a></p>
<p><a href="<venda_text id=site.womens_food_alcohol_gifts>">Women's Food & Alcohol Gifts</a></p>
<p><a href="<venda_text id=site.mens_food_alcohol_gifts>">Men's Food & Alcohol Gifts</a></p>
<p><a href="<venda_text id=site.kids_food_gifts>">Kid's Food Gifts</a></p>
<p><a href="<venda_text id=site.gifts_for_cooks>">Gifts For Cooks</a></p>
<p><a href="<venda_text id=site.gourmet_food_drink_heals_favourites>">Heal's Favourites</a></p>
		</div> 
	</div>

<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>

</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_text id=site.womens_gifts>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_womens_gift>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.womens_gifts>">Women's Gifts</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_text id=site.mens_gifts>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_mens_gift>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.mens_gifts>">Men's Gifts</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_text id=site.kids_gifts>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_kids_gift>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.kids_gifts>">Kid's Gifts</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_text id=site.home_gifts>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_home_gift>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.home_gifts>">Gifts For The Home</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_text id=site.gifts_toiletries>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_gift_toiletries>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.gifts_toiletries>">Toiletries</a>
</div>
</div>

<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_text id=site.gourmet_food_drink>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=all_food_gift>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.gourmet_food_drink>">Food & Drink</a>
</div>
</div>

<!--<div class="sub_category_grid" style="height:174px;">
<div class="sub_category_image">
<a href="<venda_dispview icat=easter>"><venda_media rec=icat,type=movie-swf-pict,key=seventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_dispview icat=easter>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_dispview icat=easter>">Easter</a>
</div>
</div>-->

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>