<venda_block label=rolloverimage1,med-medium1=notnull>
<script type="text/javascript">

	Venda.Attributes.StoreImageSwaps({
		"param": "",
		"images": {
			imgS: ["<venda_media rec=invt,type=pict,key=medium,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium1,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium2,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium3,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium4,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium5,img=no,width=120,height=120>"],
			imgM: ["<venda_media rec=invt,type=pict,key=medium,img=no>","<venda_media rec=invt,type=pict,key=medium1,img=no>","<venda_media rec=invt,type=pict,key=medium2,img=no>","<venda_media rec=invt,type=pict,key=medium3,img=no>","<venda_media rec=invt,type=pict,key=medium4,img=no>","<venda_media rec=invt,type=pict,key=medium5,img=no>"],
			imgL: ["<venda_media rec=invt,type=pict,key=large,img=no>","<venda_media rec=invt,type=pict,key=large1,img=no>","<venda_media rec=invt,type=pict,key=large2,img=no>","<venda_media rec=invt,type=pict,key=large3,img=no>","<venda_media rec=invt,type=pict,key=large4,img=no>","<venda_media rec=invt,type=pict,key=large5,img=no>"]
		}
	});
</script>
</venda_block label=rolloverimage1>
<venda_block label=rolloverimage0,med-medium1=null>
<script type="text/javascript">

	Venda.Attributes.StoreImageSwaps({ 
		"param": "",
		"images": {
			imgS: ["<venda_media rec=invt,type=pict,key=medium,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium2,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium3,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium4,img=no,width=120,height=120>","<venda_media rec=invt,type=pict,key=medium5,img=no,width=120,height=120>"],
			imgM: ["<venda_media rec=invt,type=pict,key=medium,img=no>","<venda_media rec=invt,type=pict,key=medium2,img=no>","<venda_media rec=invt,type=pict,key=medium3,img=no>","<venda_media rec=invt,type=pict,key=medium4,img=no>","<venda_media rec=invt,type=pict,key=medium5,img=no>"],
			imgL: ["<venda_media rec=invt,type=pict,key=large,img=no>","<venda_media rec=invt,type=pict,key=large2,img=no>","<venda_media rec=invt,type=pict,key=large3,img=no>","<venda_media rec=invt,type=pict,key=large4,img=no>","<venda_media rec=invt,type=pict,key=large5,img=no>"]
		}
	});
</script>
</venda_block label=rolloverimage0>