<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">
	<h5 class="acc_trigger"><a href="<venda_text id=site.dining_furniture>">Dining Furniture</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.dining_tables>">Dining Tables</a></p>
<p><a href="<venda_text id=site.dining_chairs>">Dining Chairs</a></p>
<p><a href="<venda_text id=site.stools>">Stools</a></p>
<p><a href="<venda_text id=site.benches>">Benches</a></p>
		</div> 
	</div> 

	<h5 class="acc_trigger"><a href="<venda_text id=site.tableware>">Tableware</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.plain_tableware>">Plain Tableware</a></p>
<p><a href="<venda_text id=site.decorative_tableware>">Decorative Tableware</a></p>
<p><a href="<venda_text id=site.childrens_tableware>">Children's Tableware</a></p>
<p><a href="<venda_text id=site.dinnerware_boxed_sets>">Tableware Boxed Sets</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.cutlery>">Cutlery</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.cutlery_sets>">Cutlery Sets</a></p>
<p><a href="<venda_text id=site.serving_cutlery>">Serving Cutlery</a></p>
<p><a href="<venda_text id=site.steak_knives>">Steak Knives</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.serveware>">Serveware</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Breakfast&pdxtbrowse=Butter+Dishes">Breakfast</a></p>
<p><a href="<venda_dispview icat=serveware>&pdxtbrowse=Small+Serving+Bowls&pdxtbrowse=Salad+and+Fruit+Bowls">Serving Bowls</a></p>
<p><a href="<venda_text id=site.cheese_boards>">Cheese Boards</a></p>
<p><a href="<venda_dispview icat=serveware>&pdxtbrowse=Cake+Stands">Cake Stands</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.glassware>">Glassware</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.wine_glasses>">Wine Glasses</a></p>
<p><a href="<venda_text id=site.high_balls_tumblers>">High Balls & Tumblers</a></p>
<p><a href="<venda_text id=site.champagne_glasses>">Champagne Glasses</a></p>
<p><a href="<venda_dispview icat=glassware>&pdxtbrowse=Decanters%2C+Jugs+and+Carafes">Decanters, Jugs & Carafes</a></p>
<p><a href="<venda_text id=site.speciality_glasses>">Speciality Glasses</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.table_decor>">Table Decor</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_dining"> 
<p class="border-top"><a href="<venda_text id=site.dining_candle_holders>">Candle Holders</a></p>
<p><a href="<venda_dispview icat=table_decor>?pdxtbrowse=Candelabras">Candelabras</a></p>
<p><a href="<venda_text id=site.dinner_candles>">Dinner Candles</a></p>
<p><a href="<venda_text id=site.placemats_coasters>">Placemats & Coasters</a></p>
<p><a href="<venda_dispview icat=table_decor>&pdxtbrowse=Tablecloths&pdxtbrowse=Napkins+and+Napkin+Rings">Table Linen</a></p>
		</div> 
	</div>
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_dining">
<venda_category temp=brand_categories,ref=dining_room_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.dining_furniture>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_dining_furniture>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.dining_furniture>">Dining Furniture</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.dining_tables>">Dining Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.dining_chairs>">Dining Chairs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.stools>">Stools</a></div>
<div class="sub_headings"><a href="<venda_text id=site.benches>">Benches</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.tableware>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_tableware>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.tableware>">Tableware</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.plain_tableware>">Plain Tableware</a></div>
<div class="sub_headings"><a href="<venda_text id=site.decorative_tableware>">Decorative Tableware</a></div>
<div class="sub_headings"><a href="<venda_text id=site.childrens_tableware>">Children's Tableware</a></div>
<div class="sub_headings"><a href="<venda_text id=site.dinnerware_boxed_sets>">Tableware Boxed Sets</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.cutlery>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_cutlery>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.cutlery>">Cutlery</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.cutlery_sets>">Cutlery Sets</a></div>
<div class="sub_headings"><a href="<venda_text id=site.serving_cutlery>">Serving Cutlery</a></div>
<div class="sub_headings"><a href="<venda_text id=site.steak_knives>">Steak Knives</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.serveware>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_serveware>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.serveware>">Serveware</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Breakfast&pdxtbrowse=Butter+Dishes">Breakfast</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=serveware>&pdxtbrowse=Small+Serving+Bowls&pdxtbrowse=Salad+and+Fruit+Bowls">Serving Bowls</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cheese_boards>">Cheese Boards</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cakestands>">Cakestands</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.glassware>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_glassware>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.glassware>">Glassware</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.wine_glasses>">Wine Glasses</a></div>
<div class="sub_headings"><a href="<venda_text id=site.high_balls_tumblers>">High Balls & Tumblers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.champagne_glasses>">Champagne Glasses</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=glassware>&pdxtbrowse=Decanters%2C+Jugs+and+Carafes">Decanters, Jugs & Carafes</a></div>
<div class="sub_headings"><a href="<venda_text id=site.speciality_glasses>">Speciality Glasses</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.table_decor>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_table_decor>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.table_decor>">Table Decor</a>
</div>
<div class="sub_category_sub_headings_dining">
<div class="sub_headings"><a href="<venda_text id=site.dining_candle_holders>">Candle Holders</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=table_decor>?pdxtbrowse=Candelabras">Candelabras</a></div>
<div class="sub_headings"><a href="<venda_text id=site.dinner_candles>">Dinner Candles</a></div>
<div class="sub_headings"><a href="<venda_text id=site.placemats_coasters>">Placemats & Coasters</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=table_decor>&pdxtbrowse=Tablecloths&pdxtbrowse=Napkins+and+Napkin+Rings">Table Linen</a></div>
</div>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>