<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Favourite Designers</p>
</div>
<div class="shopbybrand_area" style="margin-bottom:20px;">
<div class="block_sbb">
<venda_category temp=designer_categories,ref=favourite_designers,rec=pcat></div>
</div>
<div class="leftnav-header">
<p>Heal's Discovers</p>
</div>
<div class="shopbybrand_area">
<div class="block_sbb">
<venda_category temp=designer_categories,ref=heals_discovers_designers,rec=pcat>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_pcatldesc></p>
</div>
<venda_media rec=pcat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=a,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row1">
<venda_category temp=sbd,ref=designers_a,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=b,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row1">
<venda_category temp=sbd,ref=designers_b,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=c,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row1">
<venda_category temp=sbd,ref=designers_c,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=d,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row2">
<venda_category temp=sbd,ref=designers_d,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=e,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row2">
<venda_category temp=sbd,ref=designers_e,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=f,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row2">
<venda_category temp=sbd,ref=designers_f,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=g,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row3">
<venda_category temp=sbd,ref=designers_g,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=h,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row3">
<venda_category temp=sbd,ref=designers_h,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=i,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row3">
<venda_category temp=sbd,ref=designers_i,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=j,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row4">
<venda_category temp=sbd,ref=designers_j,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=k,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row4">
<venda_category temp=sbd,ref=designers_k,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=l,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row4">
<venda_category temp=sbd,ref=designers_l,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=m,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row5">
<venda_category temp=sbd,ref=designers_m,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=n,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row5">
<venda_category temp=sbd,ref=designers_n,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=o,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row5">
<venda_category temp=sbd,ref=designers_o,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=p,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row6">
<venda_category temp=sbd,ref=designers_p,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=r,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row6">
<venda_category temp=sbd,ref=designers_r,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=s,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row6">
<venda_category temp=sbd,ref=designers_s,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=t,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row7">
<venda_category temp=sbd,ref=designers_t,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=v,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row7">
<venda_category temp=sbd,ref=designers_v,rec=pcat>
</div>
</div>

<div class="sub_category_grid_sbb">
<div class="sub_category_sbb_letter">
<venda_media rec=pcat,type=movie-swf-pict,key=w,border=0>
</div>
<div class="sub_category_sub_headings_sbb_row7">
<venda_category temp=sbd,ref=designers_w,rec=pcat>
</div>
</div>

</div>
</div>
</div>