<!-- added from js Head -->
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/external/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda.js"></script>

<venda_tpcomment><!-- attributes.js --></venda_tpcomment>
<venda_block label=1,mode=value,<venda_tpxt mode=get,name=activekeyword>=notnull>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Attributes/attributes.js"></script>
</venda_block label=1>
<venda_block label=2,rtype=invt,rtype=notnull,workflow=quickshop,operator=or>
    <script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Attributes/attributes.js"></script>
</venda_block label=2>

<venda_tpcomment><!-- countrySelect.js and Tracking.js --></venda_tpcomment>
<venda_block label=3,workflow=checkout,workflow=register,workflow=myaccount,workflow=addresslookup,workflow=shopcart,operator=or>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/countrySelect.js"></script>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/Tracking.js"></script>
</venda_block label=3>
<venda_block label=4,mode=value,<venda_tpxt mode=get,name=trackingstep>=myaccount/user-myform>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/countrySelect.js"></script>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/Tracking.js"></script>
</venda_block label=4>

<venda_tpcomment><!-- delivery rate by postcode lookup  --></venda_tpcomment>
<venda_block label=5,workflow=checkout,workflow=checkout2,operator=or>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/postcodelookup.js"></script>
</venda_block label=5>


<venda_detblock_minify_js>

<venda_tpcomment><!-- required --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/external/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/external/cookiejar.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Platform.js"></script>

<venda_tpcomment><!-- sitewide and not always required --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/external/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/highlight.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/MegaMenu.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/Touch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/RegionLangSwitch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Widget/TextboxCount.js"></script>

<venda_tpcomment><!-- Used to keep sitewide functions --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/checkout/js/Ebiz.js"></script>

<venda_tpcomment><!-- validation --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/external/jquery.validate.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Validate/jquery.validate.common.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Validate/jquery.validate.rules.site.js"></script>

<venda_tpcomment><!-- Used by workflow steps that are not using the isolated checkout layout e.g. shopcart, all of the register workflow --></venda_tpcomment>
<venda_block label=3,workflow=shopcart,workflow=register,operator=or>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/Venda/Validate/jquery.validate.rules.checkout.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout/checkout.js"></script>
</venda_block label=3>
</venda_detblock_minify_js>

<venda_detail_minify_js>
<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>




