<venda_page page=footerlinkscheckout>

<div class="grid_4"><venda_inctemplate name=pciLogo,type=widgets></div>
<div class="grid_4 push_16"><venda_inctemplate name=vendaLogo,type=widgets></div>
<p class=" grid_10 pull_1 footerText">

<font style="width:300px;float:left;">&copy; Heal's 2000-<venda_time time=now,format=yyyy>. All Rights Reserved.</font><font style="float:right; font-weight:normal;"><a href="<venda_dispview pcat=privacy>" style="padding:0 10px;"target="_blank">Cookies & Privacy Policy</a> | <a href="<venda_dispview pcat=security>" style="padding:0 10px;"target="_blank">Security</a> | <a href="<venda_dispview pcat=terms>" style="padding:0 10px;"target="_blank">Terms & Conditions</a></font>
</p>

<div id="footerLogos">
<ul id="footericons">
  <li id="footercards"></li>
  <li id="footersecure"><a href="https://seal.verisign.com/splash?form_file=fdf/splash.fdf&dn=WWW.HEALS.CO.UK&lang=en" rel="popup console 535 500" target="_blank"></a></li>
  <li id="footerpci"><a rel="popup console 500 650" target="_blank" href="http://www.venda.com/pci-compliance-certificate?referer=www.heals.co.uk"></a></li>
  <li id="footervenda"><a href="http://www.venda.com" rel="popup" target="_blank"></a></li>
</ul>
</div>
</div>
