<venda_detblock_package>
<tr id="tableReturn">
<th id="tableHeader" scope="row" align="right" valign="top">
Delivery Details:</th><td style="line-height:20px;"><venda_pktitle> <venda_pkfname> <venda_pklname><br /><venda_pkaddr1><br /><venda_pkcity><venda_block label=pkstate1,pkstate=notnull><br /><venda_pkstate></venda_block label=pkstate1><br /><venda_pkzipc></td></tr>
</venda_detblock_package>
<tr id="tableReturnPrice">
<th id="tableHeader" scope="row" align="right" valign="top">
Delivery Price:</th><td><venda_ohcursym><venda_ohship></td></tr>
<tr id="tableReturnPrice">
<th id="tableHeader" scope="row" align="right" valign="top">
Discount:</th><td><venda_block label=ohdisc1,ohdisc&gt;0>-</venda_block label=ohdisc1><venda_ohcursym><venda_ohdisc></td></tr>
<tr id="tableReturnPrice">
<th id="tableHeader" scope="row" align="right" valign="top"><font style="color:#333;">Order Total:</font></th><td><font style="color:#333;"><b><venda_ohcursym><venda_ohtot></b></font></td></tr>
<venda_detail_package>