<!DOCTYPE html>
<html lang="<venda_block label=40,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=40><venda_block label=41,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=41>">
<head>
	<venda_inctemplate name=titleMobile,type=mainIncludes>
	<venda_inctemplate name=metatagsMobile,type=mainIncludes>
	<venda_inctemplate name=jsHeadMobile,type=mainIncludes>
	<venda_inctemplate name=cssMobile,type=mainIncludes>
</head>

<body>
	<venda_inctemplate name=regionLanguageSwitchMobile,type=widgets>

	<div id="mobile" data-role="page" data-theme="a">
	    <div data-role="header" class="header">
			<venda_inctemplate name=headerMobile,type=mainIncludes>
		</div><!-- /header -->
		
	    <div data-role="content" class="main-content">
			<div class="static-wrapper">
				<div class="static-content <venda_pageref>">
					<div class="static-header borderBt">
						<h1><venda_pagename></h1>
					</div>
		        	<div class="boxContent"><venda_content></div>
		        </div>
	        </div>
	    </div><!-- End: main-content -->

		<div data-role="footer">
			<venda_inctemplate name=footerMobile,type=mainIncludes>
		</div><!-- /footer -->
	</div><!-- /page -->

	<venda_tpcomment><!-- validation defs --></venda_tpcomment>
	<venda_inctemplate name=validationMobile,type=includes>
	<venda_inctemplate name=jsMobile,type=mainIncludes>
	<venda_inctemplate name=bodyBottom,type=tracking/mobile/shared>
</body>
</html>
