<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/myaccount.css" type="text/css" media="screen, projector">
<div style="width:199px;background-color:#ffffff;float:left;padding-bottom:32767px;margin-bottom:-32767px;clear:both;">
<div class="myaccountLeftnav-header" style="overflow:hidden;">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-tab.gif" border="0">
</div>
<div class="myaccountLeftnav">
<div class="myaccountLeftnav-contents">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-contact-details.gif" border="0">
<venda_userinfo>
   <p><venda_sestitle> <venda_sesfname> <venda_seslname><br>
   <venda_sesaddr1><br>
   <venda_block label=address2,sesaddr2=notnull>
   <venda_sesaddr2><br>
   </venda_block label=address2>
   <venda_sescity><br>
   <venda_block label=state2,sesstate=notnull>
   <venda_sesstate><br>
   </venda_block label=state2>
   <venda_seszipc><br>
   <venda_sescntry><br>
   <br><venda_sesarea>&nbsp;<venda_sesphone></p>
</venda_userinfo>
<div class="leftnavLine"></div>
<venda_block label=fullyregistered1,ustype=R>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-order-history.gif" border="0">
<a href="<venda_codehttps>?ex=co_wizr-ordlookup&bsref=<venda_bsref>&template=wz_orpo-screen&layout=myaccount">View Order History</a>
<div class="leftnavLine"></div>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-brochure-request.gif" border="0">
<a href="<venda_dispview page=orderfurniturebrochure>">Request a Brochure</a>
<div class="leftnavLine"></div>
</venda_block label=fullyregistered1>
</div>
</div>
</div>