<venda_detblock>
	<li class="<venda_pcatref1>"><a href="<venda_dispview pcat=<venda_pcatref1>>"><venda_pcatname1></a>
			<ul><venda_detail2></ul>
	</li>
</venda_detblock>

<venda_detblock2>
	<li class="<venda_pcatref1>"><a href="<venda_dispview pcat=<venda_pcatref1>>"><venda_pcatname1></a></li>
</venda_detblock2>

<div class="Lcat_colone">
	<div class="Lcatnav pagecategorynavigation">
		<ul>
			<li class="pcatlevelone"><a href="<venda_dispview pcat=<venda_pcatref>>"><venda_pcatname></a>
				<ul class="<venda_pcatref>">
					<venda_detail>
				</ul>
			</li>
		</ul>
	</div>
</div>