<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">
	<h5 class="acc_trigger"><a href="#">Upholstery</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.sofas>">Sofas</a></p>
<p><a href="<venda_text id=site.armchairs>">Armchairs</a></p>
<p><a href="<venda_text id=site.loveseats>">Loveseats</a></p>
<p><a href="<venda_text id=site.sofabeds>">Sofabeds</a></p>
<p><a href="<venda_text id=site.modularsofas>">Modular Sofas</a></p>
		</div> 
	</div> 

	<h5 class="acc_trigger"><a href="#">Occasional Tables</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.lamp_tables>">Lamp Tables</a></p>
<p><a href="<venda_text id=site.coffee_tables>">Coffee Tables</a></p>
<p><a href="<venda_text id=site.console_tables>">Console Tables</a></p>
<p><a href="<venda_text id=site.side_tables>">Side Tables</a></p>		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="#">Storage & Shelving</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.shelving_units_bookcases>">Shelving Units & Bookcases</a></p>
<p><a href="<venda_text id=site.sideboards>">Sideboards</a></p>
<p><a href="<venda_text id=site.avunits>">AV Units</a></p>
<p><a href="<venda_text id=site.cupboards>">Cupboards</a></p>
<p><a href="<venda_text id=site.shoe_storage>">Shoe Storage</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="#">Dining Furniture</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.dining_tables>">Dining Tables</a></p>
<p><a href="<venda_text id=site.dining_chairs>">Dining Chairs</a></p>
<p><a href="<venda_text id=site.stools>">Stools</a></p>
<p><a href="<venda_text id=site.benches>">Benches</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="#">Bedroom Furniture</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.beds>">Beds</a></p>
<p><a href="<venda_dispview icat=mattress>">Mattresses</a></p>
<p><a href="<venda_text id=site.wardrobes>">Wardrobes</a></p>
<p><a href="<venda_text id=site.chest_of_drawers>">Chests Of Drawers</a></p>
<p><a href="<venda_text id=site.bedside_cabinets>">Bedside Cabinets</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="#">Office Furniture</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.desks>">Desks</a></p>
<p><a href="<venda_text id=site.office_chairs>">Office Chairs</a></p>
<p><a href="<venda_text id=site.pedestals>">Pedestals</a></p>
<p><a href="<venda_text id=site.filing_cabinets>">Filing Cabinets</a></p>
<p><a href="<venda_text id=site.office_cupboards>">Office Cupboards</a></p>
		</div> 
	</div>

	<h5 class="acc_trigger"><a href="<venda_text id=site.garden_furniture>">Garden Furniture</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_furniture"> 
<p class="border-top"><a href="<venda_text id=site.garden_tables>">Garden Tables</a></p>
<p><a href="<venda_text id=site.garden_chairs>">Garden Chairs</a></p>
<p><a href="<venda_text id=site.loungers>">Loungers</a></p>
<p><a href="<venda_text id=site.conservatory_furniture>">Conservatory Furniture</a></p>
		</div> 
	</div> 
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_furniture">
<venda_category temp=brand_categories,ref=furniture_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.upholstery>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_upholstery>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.upholstery>">Upholstery</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.sofas>">Sofas</a></div>
<div class="sub_headings"><a href="<venda_text id=site.armchairs>">Armchairs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.loveseats>">Loveseats</a></div>
<div class="sub_headings"><a href="<venda_text id=site.sofabeds>">Sofabeds</a></div>
<div class="sub_headings"><a href="<venda_text id=site.modularsofas>">Modular Sofas</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.occasional_tables>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_occasional_tables>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.occasional_tables>">Occasional Tables</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.lamp_tables>">Lamp Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.coffee_tables>">Coffee Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.console_tables>">Console Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.side_tables>">Side Tables</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.storage_shelving>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_storage_shelving>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.storage_shelving>">Storage & Shelving</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.shelving_units_bookcases>">Shelving Units & Bookcases</a></div>
<div class="sub_headings"><a href="<venda_text id=site.sideboards>">Sideboards</a></div>
<div class="sub_headings"><a href="<venda_text id=site.avunits>">AV Units</a></div>
<div class="sub_headings"><a href="<venda_text id=site.cupboards>">Cupboards</a></div>
<div class="sub_headings"><a href="<venda_text id=site.shoe_storage>">Shoe Storage</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.dining_furniture>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_dining_furniture>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.dining_furniture>">Dining Furniture</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.dining_tables>">Dining Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.dining_chairs>">Dining Chairs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.stools>">Stools</a></div>
<div class="sub_headings"><a href="<venda_text id=site.benches>">Benches</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.bedroom_furniture>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_bedroom_furniture>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.bedroom_furniture>">Bedroom Furniture</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.beds>">Beds</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=mattress>">Mattresses</a></div>
<div class="sub_headings"><a href="<venda_text id=site.wardrobes>">Wardrobes</a></div>
<div class="sub_headings"><a href="<venda_text id=site.chest_of_drawers>">Chests Of Drawers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.bedside_cabinets>">Bedside Cabinets</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.office_furniture>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_office_furniture>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.office_furniture>">Office Furniture</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.desks>">Desks</a></div>
<div class="sub_headings"><a href="<venda_text id=site.office_chairs>">Office Chairs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.pedestals>">Pedestals</a></div>
<div class="sub_headings"><a href="<venda_text id=site.filing_cabinets>">Filing Cabinets</a></div>
<div class="sub_headings"><a href="<venda_text id=site.office_cupboards>">Office Cupboards</a></div>
</div>
</div>


<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.garden_furniture>"><venda_media rec=icat,type=movie-swf-pict,key=seventh,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_garden_furniture>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.garden_furniture>">Garden Furniture</a>
</div>
<div class="sub_category_sub_headings_furniture">
<div class="sub_headings"><a href="<venda_text id=site.garden_tables>">Garden Tables</a></div>
<div class="sub_headings"><a href="<venda_text id=site.garden_chairs>">Garden Chairs</a></div>
<div class="sub_headings"><a href="<venda_text id=site.loungers>">Loungers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.conservatory_furniture>">Conservatory Furniture</a></div>
</div>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>