<!-- pull in seperate template -->
<div class="shopcartdeliveryinfo">
	<venda_block label=1000,mode=value,<venda_shopcart mode=getqty,ivtype=furniture>&gt;0,<venda_shopcart mode=getqty,ivtype=furniturerange>&gt;0,operator=or>	
	<!-- Furniture and other types-->
		<venda_block label=10010,mode=value,<venda_shopcart mode=getqty,ivtype=normal>&gt;0,<venda_shopcart mode=getqty,ivtype=range>&gt;0,<venda_shopcart mode=getqty,ivtype=gardenfurniture>&gt;0,<venda_shopcart mode=getqty,ivtype=gardenfurniturerange>&gt;0,operator=or>
		<p><a href="<venda_dispview page=furnituredelivery>&layout=popups" rel="popup console 620 560" class="blacklink" title="Standard Delivery - opens in a new window">Standard Delivery <venda_currsym>50</a></p>
		</venda_block label=10010>
	<!-- Furniture Only-->
		<venda_block label=10020,mode=value,<venda_shopcart mode=getqty,ivtype=normal>=0,<venda_shopcart mode=getqty,ivtype=range>=0,<venda_shopcart mode=getqty,ivtype=gardenfurniture>=0,<venda_shopcart mode=getqty,ivtype=gardenfurniturerange>=0>
		<p><a href="<venda_dispview page=furnituredelivery>&layout=popups" rel="popup console 620 560" class="blacklink" title="Standard Furniture - opens in a new window">Standard Furniture Delivery from Free</a></p>
		</venda_block label=10020>
	</venda_block label=1000>
			
	<venda_block label=1001,mode=value,<venda_shopcart mode=getqty,ivtype=furniture>=0,<venda_shopcart mode=getqty,ivtype=furniturerange>=0>
	<p><a href="<venda_dispview page=deliveryinformation>&layout=popups" rel="popup console 620 560" alt="<venda_text id=site.link.title.delivery_charge_from>">Standard Delivery <venda_currsym>4.95</a></p>
	</venda_block label=1001>
</div>