<venda_block label=notcheckout,workflow!=checkout>

<venda_block label=gtmbasket,workflow=shopcart2>
<venda_inctemplate name=basket,type=includes/tracking/gtm>
</venda_block label=gtmbasket>

</venda_block label=notcheckout>


<venda_block label=checkout,workflow=checkout>

<venda_block mode=value,<venda_tpxt mode=get,name=curstep>=step1>
<venda_inctemplate name=step1,type=includes/tracking/gtm>
</venda_block>

<venda_block mode=value,<venda_tpxt mode=get,name=curstep>=step2>
<venda_inctemplate name=step2,type=includes/tracking/gtm>
</venda_block>

<venda_block mode=value,<venda_tpxt mode=get,name=curstep>=step3>
<venda_inctemplate name=step3,type=includes/tracking/gtm>
</venda_block>

<venda_block mode=value,<venda_tpxt mode=get,name=curstep>=step4>
<venda_inctemplate name=step4,type=includes/tracking/gtm>
</venda_block>

<venda_block mode=value,<venda_tpxt mode=get,name=curstep>=step5>
<venda_inctemplate name=orderreceipt,type=includes/tracking/gtm>
</venda_block>

</venda_block label=checkout>



