<venda_detblock_pageslist>
	<venda_block label=1111,mode=value,<venda_currentpage>=<venda_number>>
		<span class="pagnCurrent"><venda_number></span>
	</venda_block label=1111>	
	<venda_block label=1112,mode=value,<venda_currentpage>!=<venda_number>>           
		<a href="<venda_searchurl>&setpagenum=<venda_number><venda_block label=1128,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1128>&perpage=<venda_perpage>" title="<venda_text id=mobile.button.gotopag>"><venda_number></a>
	</venda_block label=1112>
</venda_detblock_pageslist>

<div class="pagnFirstRow">
	<venda_block label=1139,mode=value,<venda_setting type=ebiz,name=viewpagedisplaysearch>=1>
		<div class="pagnPageInfo<venda_block label=1140,mode=value,<venda_setting type=ebiz,name=alwaysshowpagenumsearch>!=1,<venda_pgn_totalpages>=1> alwaysShowPageNum</venda_block label=1140>"><venda_text id=mobile.info.showpaged></div>	
	</venda_block label=1139>
	<venda_block label=1121,mode=value,<venda_setting type=ebiz,name=viewitemsdisplaysearch>=1>
		<div class="pagnItemInfo"><venda_text id=mobile.info.viewingitem></div>	
	</venda_block label=1121>
	<div class="pagnLinkNavigate">
		<div class="pagnNumList">
			<venda_block label=4,mode=value,<venda_pgn_totalpages>&gt;1>
				<!-- show the previous link-->
				<venda_block label=1117,mode=value,<venda_pgn_currentpage>&gt;1>
					<span class="pagnPrev"><a href="<venda_pgn_baseurl><venda_block label=1129,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1129>&perpage=<venda_pgn_perpage>&setpagenum=<venda_pgn_previouspage>"  title="<venda_text id=mobile.button.pagn.previous>"><span class="preIcon"></span><venda_text id=mobile.button.pagn.previous></a></span>
				</venda_block label=1117>
				<venda_block label=11171,mode=value,<venda_pgn_currentpage>=1>
					<span class="pagnPrev-off"><span class="preIcon"></span><venda_text id=mobile.button.pagn.previous></span>
				</venda_block label=11171>
				
				<!-- show the first page link-->
				<venda_block label=1115,mode=value,<venda_pgn_windowstartpage>&gt;1>
					<span class="pagnFirst">
					<a href="<venda_pgn_baseurl>&setpagenum=1<venda_block label=1130,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1130>&perpage=<venda_pgn_perpage>" title="<venda_text id=mobile.info.gotofirstpage>">1</a></span>
				</venda_block label=1115>
						
				<venda_block label=1113,mode=value,<venda_pgn_leftgap>&gt;1>
					<!-- show the left ... -->
					<span class="pagnEllipsis"><venda_text id=mobile.info.ellipsis></span>
				</venda_block label=1113>
				
				<span class="pagnNumbers"><venda_detail_pageslist pgn_window_size=<venda_setting type=ebiz,name=windowsizesearch>></span>	
		
				<venda_block label=1114,mode=value,<venda_pgn_rightgap>&gt;1>
					<!-- show the right ... -->
					<span class="pagnEllipsis"><venda_text id=mobile.info.ellipsis></span>
				</venda_block label=1114>
		
				<!-- show the last link -->	
				<venda_block label=1118,mode=value,<venda_pgn_windowendpage>&lt;<venda_pgn_totalpages>>			
					<span class="pagnLast"><a href="<venda_pgn_baseurl>&setpagenum=<venda_pgn_totalpages><venda_block label=1131,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1131>&perpage=<venda_pgn_perpage>" title="<venda_text id=mobile.info.gotolastpage>"><venda_pgn_totalpages></a></span>
				</venda_block label=1118>
				
				<!--show the next page -->	
				<venda_block label=1116,mode=value,<venda_pgn_currentpage>&lt;<venda_pgn_totalpages>>	
					<span class="pagnNext"><a href="<venda_pgn_baseurl><venda_block label=1132,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1132>&perpage=<venda_pgn_perpage>&setpagenum=<venda_pgn_nextpage>" title="<venda_text id=mobile.button.pagn.next>"><venda_text id=mobile.button.pagn.next><span class="nextIcon"></span></a></span>
				</venda_block label=1116>
				<venda_block label=11161,mode=value,<venda_pgn_currentpage>=<venda_pgn_totalpages>>
					<span class="pagnNext-off"><venda_text id=mobile.button.pagn.next></span><span class="nextIcon"></span>
				</venda_block label=11161>
		
				<venda_block label=999,mode=value,<venda_pgn_isviewall>!=1>
					<venda_block label=1122,mode=value,<venda_setting type=ebiz,name=showsearchviewall>=1,<venda_pgn_totalpages>&gt;1>
						<venda_tpcomment><!-- show 'view all' link --></venda_tpcomment>
						<span class="pagnViewAll">
							<venda_block label=1125,mode=value,<venda_setting type=ebiz,name=setsearchviewallvalue>=notnull>
								<venda_block label=1123,mode=value,<venda_pgn_totalitems>&lt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
									<a href="<venda_pgn_baseurl>&setpagenum=1&isviewall=1&perpage=<venda_pgn_totalitems>" title="<venda_text id=mobile.button.viewall>"><venda_text id=mobile.button.viewall></a>
								</venda_block label=1123>
								<venda_block label=1124,mode=value,<venda_pgn_totalitems>&gt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
									<a href="<venda_pgn_baseurl>&setpagenum=1&isviewall=1&perpage=<venda_setting type=ebiz,name=setsearchviewallvalue>" title="<venda_text id=mobile.button.viewallmax>"><venda_text id=mobile.button.viewallmax></a>
								</venda_block label=1124>
							</venda_block label=1125>	
						</span>
					</venda_block label=1122>
				</venda_block label=999>
			</venda_block label=4>
		</div>
	</div>
	<venda_block label=1120,mode=value,<venda_pgn_isviewall>=1>
			<!-- show paged view -->
			<span class="pagnShowViewByPaged<venda_block label=1136,mode=value,<venda_pgn_totalpages>=1> setMarginPagedView</venda_block label=1136>"><a href="/bin/venda?ex=co_wizr-locayta&<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setsearchviewbypagevalue>" title="<venda_text id=mobile.button.viewbypage>"><venda_text id=mobile.button.viewbypage></a></span>
		</venda_block label=1120>
	<venda_block label=1119,mode=value,<venda_pgn_isviewall>!=1>
		<venda_tpcomment><!-- perpage dropdown disabled by default-->
		<div class="pagnPerpage" data-role="fieldcontain">
			<form><label for="perpagedpd"><span class="pagnTextView"><venda_text id=mobile.info.view></span></label>
				<select name="perpagedpd" id="perpagedpd" onchange="location = this.options[this.selectedIndex].value;" data-inline="true">	
				<option value=""> - </option>
				<option value="<venda_pgn_baseurl>&setpagenum=1&perpage=10"<venda_block label=71,mode=value,<venda_pgn_perpage>=10> selected</venda_block label=71>>10</option>
				<option value="<venda_pgn_baseurl>&setpagenum=1&perpage=20"<venda_block label=72,mode=value,<venda_pgn_perpage>=20> selected</venda_block label=72>>20</option>
				<option value="<venda_pgn_baseurl>&setpagenum=1&perpage=30"<venda_block label=73,mode=value,<venda_pgn_perpage>=30> selected</venda_block label=73>>30</option>
				</select>
			</form>
		</div>
		</venda_tpcomment>
		<venda_tpcomment><!-- perpage textlinks disabled by default-->
		<div class="pagnPerpage">
			<ul class="pagnItemPerPage">
				<li class="pagnTextView"><venda_text id=mobile.info.view></li>
				<li class="<venda_block label=91,mode=value,<venda_pgn_perpage>=10>setperpage_active</venda_block label=91>"><a href="<venda_pgn_baseurl>&setpagenum=1&perpage=10">10</a></li>
				<li class="<venda_block label=92,mode=value,<venda_pgn_perpage>=20>setperpage_active</venda_block label=92>"><a href="<venda_pgn_baseurl>&setpagenum=1&perpage=20">20</a></li>
				<li class="<venda_block label=93,mode=value,<venda_pgn_perpage>=30>setperpage_active</venda_block label=93>"><a href="<venda_pgn_baseurl>&setpagenum=1&perpage=30">30</a></li>
			</ul>
		</div>	
		</venda_tpcomment>	
	</venda_block label=1119>		
</div>
<div id="tag-totalpages" style="display:none"><venda_pgn_totalpages></div>