<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/catgrid.css" type="text/css" media="screen, projector">
<script type="text/javascript" src="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/category_landing.js"></script>
<div id="category-container">
<div id="category-left-nav">
<div class="leftnav-header">
<p>Shop by category</p>
</div>
<div class="accordion_area">
	<h5 class="acc_trigger"><a href="<venda_text id=site.pendants_chandeliers>">Pendants & Chandeliers</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_lighting"> 
<p class="border-top"><a href="<venda_text id=site.pendants>">Pendants</a></p>
<p><a href="<venda_text id=site.chandeliers>">Chandeliers</a></p>
<p><a href="<venda_text id=site.pendant_shades>">Pendant Shades</a></p>
<p><a href="<venda_dispview icat=pendants_chandeliers>?pdxtbrowse=Bulb+Lights">Bulb Lights</a></p>
		</div> 
	</div> 

	<h5 class="acc_trigger"><a href="<venda_text id=site.lamps>">Lamps</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_lighting"> 
<p class="border-top"><a href="<venda_text id=site.floor_lamps>">Floor Lamps</a></p>
<p><a href="<venda_text id=site.table_lamps>">Table Lamps</a></p>
<p><a href="<venda_text id=site.desk_lamps>">Desk Lamps</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.lamp_shades>">Lamp Shades</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_lighting"> 
<p class="border-top"><a href="<venda_text id=site.shades>">Shades</a></p>
<p><a href="<venda_text id=site.lamp_bases>">Lamp Bases</a></p>
<p><a href="<venda_text id=site.floor_lamp_bases>">Floor Lamp Bases</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.ceiling_spot_lights>">Fitted Lights</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_lighting"> 
<p class="border-top"><a href="<venda_text id=site.spot_lights>">Spot Lights</a></p>
<p><a href="<venda_text id=site.wall_lights>">Wall Lights</a></p>
<p><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Bathroom+Lights">Bathroom Lights</a></p>
<p><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Illuminated+Mirrors">Illuminated Mirrors</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.all_novelty_lights>">Novelty Lights</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_lighting"> 
<p class="border-top"><a href="<venda_text id=site.string_lights_garlands>">String Lights & Garlands</a></p>
<p><a href="<venda_text id=site.childrens_lights>">Children's Lights</a></p>
		</div> 
	</div>
    
	<h5 class="acc_trigger"><a href="<venda_text id=site.outdoor_lighting>">Outdoor Lighting</a></h5> 
	<div class="acc_accordion_area"> 
		<div class="block_lighting"> 
<p class="border-top"><a href="<venda_text id=site.outdoor_lights>">Outdoor Lights</a></p>
<p><a href="<venda_text id=site.lanterns_torches>">Lanterns & Torches</a></p>
<p><a href="<venda_text id=site.outdoor_candles>">Outdoor Candles</a></p>
		</div> 
	</div>
</div>
<br clear="left" /><br /><br />
<div class="leftnav-header" style="margin-bottom:10px;">
<p>Shop by brand</p>
</div>
<div class="shopbybrand_area">
<div class="block_lighting">
<venda_category temp=brand_categories,ref=lighting_brands,rec=icat,cacheall=1>
</div>
</div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>
<div id="category-main-content">
<div class="category-top-banner">
<div class="seotext-overlay">
<p><venda_icatldesc></p>
</div>
<venda_media rec=icat,type=movie-swf-pict,key=top-banner,border=0>
</div>
<div id="sub_categories">
<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.pendants_chandeliers>"><venda_media rec=icat,type=movie-swf-pict,key=first,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_pendants_chandeliers>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.pendants_chandeliers>">Ceiling Pendants</a>
</div>
<div class="sub_category_sub_headings_lighting">
<div class="sub_headings"><a href="<venda_text id=site.pendants>">Pendants</a></div>
<div class="sub_headings"><a href="<venda_text id=site.chandeliers>">Chandeliers</a></div>
<div class="sub_headings"><a href="<venda_text id=site.pendant_shades>">Pendant Shades</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=pendants_chandeliers>?pdxtbrowse=Bulb+Lights">Bulb Lights</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.lamps>"><venda_media rec=icat,type=movie-swf-pict,key=second,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_lamps>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.lamps>">Lamps</a>
</div>
<div class="sub_category_sub_headings_lighting">
<div class="sub_headings"><a href="<venda_text id=site.floor_lamps>">Floor Lamps</a></div>
<div class="sub_headings"><a href="<venda_text id=site.table_lamps>">Table Lamps</a></div>
<div class="sub_headings"><a href="<venda_text id=site.desk_lamps>">Desk Lamps</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.lamp_shades>"><venda_media rec=icat,type=movie-swf-pict,key=third,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.lamp_shades>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.lamp_shades>">Lamp Shades</a>
</div>
<div class="sub_category_sub_headings_lighting">
<div class="sub_headings"><a href="<venda_text id=site.shades>">Shades</a></div>
<div class="sub_headings"><a href="<venda_text id=site.lamp_bases>">Lamp Bases</a></div>
<div class="sub_headings"><a href="<venda_text id=site.floor_lamp_bases>">Floor Lamp Bases</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.ceiling_spot_lights>"><venda_media rec=icat,type=movie-swf-pict,key=fourth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_ceiling_spot_lights>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.ceiling_spot_lights>">Fitted Lights</a>
</div>
<div class="sub_category_sub_headings_lighting">
<div class="sub_headings"><a href="<venda_text id=site.spot_lights>">Spot Lights</a></div>
<div class="sub_headings"><a href="<venda_text id=site.wall_lights>">Wall Lights</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Bathroom+Lights">Bathroom Lights</a></div>
<div class="sub_headings"><a href="<venda_dispview icat=bathroom_lights_mirrors>&pdxtbrowse=Illuminated+Mirrors">Illuminated Mirrors</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.all_novelty_lights>"><venda_media rec=icat,type=movie-swf-pict,key=fifth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_novelty_lights>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.all_novelty_lights>">Novelty Lights</a>
</div>
<div class="sub_category_sub_headings_lighting">
<div class="sub_headings"><a href="<venda_text id=site.string_lights_garlands>">String Lights & Garlands</a></div>
<div class="sub_headings"><a href="<venda_text id=site.childrens_lights>">Children's Lights</a></div>
</div>
</div>

<div class="sub_category_grid">
<div class="sub_category_image">
<a href="<venda_text id=site.outdoor_lighting>"><venda_media rec=icat,type=movie-swf-pict,key=sixth,border=0></a></div>
<div class="sub_category_title">
<a href="<venda_text id=site.all_outdoor_lighting>" style="float:right;text-transform:none;margin: 0 10px 0 0;">View all ></a>
<a href="<venda_text id=site.outdoor_lighting>">Outdoor Lighting</a>
</div>
<div class="sub_category_sub_headings_lighting">
<div class="sub_headings"><a href="<venda_text id=site.outdoor_lights>">Outdoor Lights</a></div>
<div class="sub_headings"><a href="<venda_text id=site.lanterns_torches>">Lanterns & Torches</a></div>
<div class="sub_headings"><a href="<venda_text id=site.outdoor_candles>">Outdoor Candles</a></div>
</div>
</div>
</div>

<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=slider_carousel>
</venda_detblock>
<div class="slider_container">
<div class="slider_inner">
<div class="slider_tab">
<venda_category temp=slider_name,ref=<venda_icatref>slider_1,rec=icat,cacheall=1>
<venda_category temp=slider_name2,ref=<venda_icatref>slider_2,rec=icat,cacheall=1>
</div>
<div class="slider_body">
<div class="window">
<div class="slider_carousel">
<div class="slider_carousel1">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider,rec=icat>
</ul>
</div>
<div class="slider_carousel2">
<ul>
<venda_category temp=slider_carousel,ref=<venda_icatref>slider2,rec=icat>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>