<div class="emailSignup static-wrapper">
<div class="static-content">
	<div class="static-header borderBt">
		<h1><venda_text id=mobile.heading.newsletter></h1>
	</div>
	<div class="boxContent">
		<form name="emailsonly1" action="<venda_codehttp>" method="get" data-ajax="false">
		<input type="hidden" name="ex" value="co_disp-view">
		<input type="hidden" name="bsref" value="<venda_bsref>">
		<input type="hidden" name="page" value="signupforemailsmobile">
			<div data-role="fieldcontain" class="ui-hide-label" data-theme="f">
				<label for="email"><venda_text id=mobile.form.email></label>
				<input type="email" name="email" id="email" value="" placeholder="<venda_text id=mobile.form.email> <venda_text id=mobile.form.required>" required />
			</div>
		<div id="signuplink_button"><input type="submit" value="Continue" id="newslettersubmit" class="submit"></div>
		</form>
	</div>
</div>
</div>