<venda_block label=112,workflow=>
<div class="box">
<venda_category rec=icat,ref=shop,temp=categoryNavigation,itemsperpage=100>
</div>
</venda_block label=112>
<div class="box">
<venda_inctemplate name=lastViewedItems,type=widgets>
</div>
<div class="box">
<venda_inctemplate name=emailSignup,type=widgets>
</div>
<div class="box">
<venda_inctemplate name=giftCertificateLink,type=widgets>
</div>
<div class="box">
<venda_inctemplate name=storeLocatorLink,type=widgets>
</div>
<div class="box">
<venda_category rec=scat,ref=customerquotes,temp=customerQuotes,cacheall=1>
</div>