<venda_detblock_pageslist>
	<venda_block label=1111,mode=value,<venda_currentpage>=<venda_number>>
		<span class="pagnCurrent"><venda_number></span>
	</venda_block label=1111>	
	<venda_block label=1112,mode=value,<venda_currentpage>!=<venda_number>>           
		<a href="<venda_searchurl>&setpagenum=<venda_number><venda_block label=1128,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1128>&perpage=<venda_perpage>&settemplate=wz_locayta-mobile&layout=mobile" title="<venda_text id=mobile.button.gotopage>"><venda_number></a>
	</venda_block label=1112>
</venda_detblock_pageslist>

<div class="pagnFirstRow">
	<venda_block label=1139,mode=value,<venda_setting type=ebiz,name=viewpagedisplaysearch>=1>
		<div class="pagnPageInfo<venda_block label=1140,mode=value,<venda_setting type=ebiz,name=alwaysshowpagenumsearch>!=1,<venda_pgn_totalpages>=1> alwaysShowPageNum</venda_block label=1140>"><venda_text id=mobile.info.showpaged></div>	
	</venda_block label=1139>
	<venda_block label=1121,mode=value,<venda_setting type=ebiz,name=viewitemsdisplaysearch>=1>
		<div class="pagnItemInfo"><venda_text id=mobile.info.viewingitem></div>	
	</venda_block label=1121>
	<div class="pagnLinkNavigate">
		<div class="pagnNumList">
			<venda_block label=4,mode=value,<venda_pgn_totalpages>&gt;1>
				<!-- show the previous link-->
				<venda_block label=1117,mode=value,<venda_pgn_currentpage>&gt;1>
					<span class="pagnPrev"><a href="<venda_searchurl><venda_block label=1129,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1129>&perpage=<venda_pgn_perpage>&settemplate=wz_locayta-mobile&layout=mobile&setpagenum=<venda_pgn_previouspage>"  title="<venda_text id=mobile.button.pagn.previous>"><span data-role="button" data-inline="true" data-icon="arrow-l" data-iconpos="notext" data-theme="b"></span><venda_text id=mobile.button.pagn.previous></a></span>
				</venda_block label=1117>
				<venda_block label=11171,mode=value,<venda_pgn_currentpage>=1>
					<span class="pagnPrev-off"><span data-role="button" data-inline="true" data-icon="arrow-l" data-iconpos="notext" data-theme="b"></span><venda_text id=mobile.button.pagn.previous></span>
				</venda_block label=11171>
				
				<!-- show the first page link-->
				<venda_block label=1115,mode=value,<venda_pgn_windowstartpage>&gt;1>
					<span class="pagnFirst">
					<a href="<venda_searchurl>&setpagenum=1<venda_block label=1130,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1130>&perpage=<venda_pgn_perpage>&settemplate=wz_locayta-mobile&layout=mobile" title="<venda_text id=mobile.info.gotofirstpage>">1</a></span>
				</venda_block label=1115>
						
				<venda_block label=1113,mode=value,<venda_pgn_leftgap>&gt;1>
					<!-- show the left ... -->
					<span class="pagnEllipsis"><venda_text id=mobile.info.ellipsis></span>
				</venda_block label=1113>
				
				<span class="pagnNumbers"><venda_detail_pageslist pgn_window_size=<venda_setting type=ebiz,name=windowsizesearch>></span>	
		
				<venda_block label=1114,mode=value,<venda_pgn_rightgap>&gt;1>
					<!-- show the right ... -->
					<span class="pagnEllipsis"><venda_text id=mobile.info.ellipsis></span>
				</venda_block label=1114>
		
				<!-- show the last link -->	
				<venda_block label=1118,mode=value,<venda_pgn_windowendpage>&lt;<venda_pgn_totalpages>>			
					<span class="pagnLast"><a href="<venda_searchurl>&setpagenum=<venda_pgn_totalpages><venda_block label=1131,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1131>&perpage=<venda_pgn_perpage>&settemplate=wz_locayta-mobile&layout=mobile" title="<venda_text id=mobile.info.gotolastpage>"><venda_pgn_totalpages></a></span>
				</venda_block label=1118>
				
				<!--show the next page -->	
				<venda_block label=1116,mode=value,<venda_pgn_currentpage>&lt;<venda_pgn_totalpages>>	
					<span class="pagnNext"><a href="<venda_searchurl><venda_block label=1132,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1132>&perpage=<venda_pgn_perpage>&settemplate=wz_locayta-mobile&layout=mobile&setpagenum=<venda_pgn_nextpage>" title="<venda_text id=mobile.button.pagn.next>"><venda_text id=mobile.button.pagn.next><span data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="notext" data-theme="b"></span></a></span>
				</venda_block label=1116>
				<venda_block label=11161,mode=value,<venda_pgn_currentpage>=<venda_pgn_totalpages>>
					<span class="pagnNext-off"><venda_text id=mobile.button.pagn.next><span data-role="button" data-inline="true" data-icon="arrow-r" data-iconpos="notext" data-theme="b"></span></span>
				</venda_block label=11161>
		
				<venda_block label=999,mode=value,<venda_pgn_isviewall>!=1>
					<venda_block label=1122,mode=value,<venda_setting type=ebiz,name=showsearchviewall>=1,<venda_pgn_totalpages>&gt;1>
						<venda_tpcomment><!-- show 'view all' link --></venda_tpcomment>
						<span class="pagnViewAll">
							<venda_block label=1125,mode=value,<venda_setting type=ebiz,name=setsearchviewallvalue>=notnull>
								<venda_block label=1123,mode=value,<venda_pgn_totalitems>&lt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
									<a href="<venda_searchurl>&setpagenum=1&isviewall=1&perpage=<venda_pgn_totalitems>&settemplate=wz_locayta-mobile&layout=mobile" title="<venda_text id=mobile.button.viewall>"><venda_text id=mobile.button.viewall></a>
								</venda_block label=1123>
								<venda_block label=1124,mode=value,<venda_pgn_totalitems>&gt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
									<a href="<venda_searchurl>&setpagenum=1&isviewall=1&perpage=<venda_setting type=ebiz,name=setsearchviewallvalue>&settemplate=wz_locayta-mobile&layout=mobile" title="<venda_text id=mobile.button.viewallmax>"><venda_text id=mobile.button.viewallmax></a>
								</venda_block label=1124>
							</venda_block label=1125>	
						</span>
					</venda_block label=1122>
				</venda_block label=999>
			</venda_block label=4>
		</div>
</div>
	<venda_block label=1120,mode=value,<venda_pgn_isviewall>=1>
		<!-- show paged view -->
		<span class="pagnShowViewByPaged<venda_block label=1136,mode=value,<venda_pgn_totalpages>=1> setMarginPagedView</venda_block label=1136>"><a href="/bin/venda?ex=co_wizr-locayta&<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setsearchviewbypagevalue>&settemplate=wz_locayta-mobile&layout=mobile" title="<venda_text id=mobile.button.viewbypage>"><venda_text id=mobile.button.viewbypage></a></span>
	</venda_block label=1120>
	<venda_block label=1119,mode=value,<venda_pgn_isviewall>!=1>
		<venda_block label=20,mode=value,<venda_setting type=ebiz,name=setitemsperpagestylesearch>=itemsperpagedropdownsearch>
			<venda_tpcomment><!-- show perpage dropdown --></venda_tpcomment>
			<div class="pagnPerpage" data-role="fieldcontain">
				<form><label for="perpagedpd"><span class="pagnTextView"><venda_text id=mobile.info.view></span></label>
					<select name="perpagedpd" id="perpagedpd" onchange="location = this.options[this.selectedIndex].value;" data-inline="true">	
					<option value=""> - </option>
					<venda_block label=30,mode=value,<venda_setting type=ebiz,name=setitemsperpage1dropdownsearch>=notnull><option value="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage1dropdownsearch>&settemplate=wz_locayta-mobile&layout=mobile" <venda_block label=71,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage1dropdownsearch>> selected</venda_block label=71>><venda_setting type=ebiz,name=setitemsperpage1dropdownsearch></option></venda_block label=30>	
					<venda_block label=31,mode=value,<venda_setting type=ebiz,name=setitemsperpage2dropdownsearch>=notnull><option value="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage2dropdownsearch>&settemplate=wz_locayta-mobile&layout=mobile" <venda_block label=72,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage2dropdownsearch>> selected</venda_block label=72>><venda_setting type=ebiz,name=setitemsperpage2dropdownsearch></option></venda_block label=31>	
					<venda_block label=32,mode=value,<venda_setting type=ebiz,name=setitemsperpage3dropdownsearch>=notnull><option value="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage3dropdownsearch>&settemplate=wz_locayta-mobile&layout=mobile" <venda_block label=73,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage3dropdownsearch>> selected</venda_block label=73>><venda_setting type=ebiz,name=setitemsperpage3dropdownsearch></option></venda_block label=32>
					<venda_block label=33,mode=value,<venda_setting type=ebiz,name=setitemsperpage4dropdownsearch>=notnull><option value="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage4dropdownsearch>&settemplate=wz_locayta-mobile&layout=mobile" <venda_block label=74,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage4dropdownsearch>> selected</venda_block label=74>><venda_setting type=ebiz,name=setitemsperpage4dropdownsearch></option></venda_block label=33>
					<venda_block label=34,mode=value,<venda_setting type=ebiz,name=setitemsperpage5dropdownsearch>=notnull><option value="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage5dropdownsearch>&settemplate=wz_locayta-mobile&layout=mobile" <venda_block label=75,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage5dropdownsearch>> selected</venda_block label=75>><venda_setting type=ebiz,name=setitemsperpage5dropdownsearch></option></venda_block label=34>
					<venda_block label=35,mode=value,<venda_setting type=ebiz,name=setitemsperpage6dropdownsearch>=notnull><option value="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage6dropdownsearch>&settemplate=wz_locayta-mobile&layout=mobile" <venda_block label=76,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage6dropdownsearch>> selected</venda_block label=76>><venda_setting type=ebiz,name=setitemsperpage6dropdownsearch></option></venda_block label=35>
					</select>
				</form>
			</div>
		</venda_block label=20>
		<venda_block label=21,mode=value,<venda_setting type=ebiz,name=setitemsperpagestylesearch>=itemsperpagelinkssearch>
			<venda_tpcomment><!-- show perpage textlinks --></venda_tpcomment>
			<div class="pagnPerpage" data-role="fieldcontain">
				<ul class="pagnItemPerPage">
					<li class="pagnTextView"><venda_text id=mobile.info.view></li>
					<venda_block label=40,mode=value,<venda_setting type=ebiz,name=setitemsperpage1linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage2linkssearch>=null>setlastperpage</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage2linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=91,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage1linkssearch>>setperpage_active</venda_block label=91>"><a href="<venda_searchurl>&setpagenum=1&setperpage=<venda_setitemsperpage1linkssearch>&settemplate=wz_locayta-mobile&layout=mobile"><venda_setting type=ebiz,name=setitemsperpage1linkssearch></a></li></venda_block label=40>
					<venda_block label=41,mode=value,<venda_setting type=ebiz,name=setitemsperpage2linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage3linkssearch>=null>setlastperpage</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage3linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=92,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage2linkssearch>>setperpage_active</venda_block label=92>"><a href="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage2linkssearch>&settemplate=wz_locayta-mobile&layout=mobile"><venda_setting type=ebiz,name=setitemsperpage2linkssearch></a></li></venda_block label=41>
					<venda_block label=42,mode=value,<venda_setting type=ebiz,name=setitemsperpage3linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage4linkssearch>=null>setlastperpage</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage4linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=93,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage3linkssearch>>setperpage_active</venda_block label=93>"><a href="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage3linkssearch>&settemplate=wz_locayta-mobile&layout=mobile"><venda_setting type=ebiz,name=setitemsperpage3linkssearch></a></li></venda_block label=42>
					<venda_block label=43,mode=value,<venda_setting type=ebiz,name=setitemsperpage4linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage5linkssearch>=null>setlastperpage</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage5linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=94,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage4linkssearch>>setperpage_active</venda_block label=94>"><a href="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage4linkssearch>&settemplate=wz_locayta-mobile&layout=mobile"><venda_setting type=ebiz,name=setitemsperpage4linkssearch></a></li></venda_block label=43>
					<venda_block label=44,mode=value,<venda_setting type=ebiz,name=setitemsperpage5linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage6linkssearch>=null>setlastperpage</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage6linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=95,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage5linkssearch>>setperpage_active</venda_block label=95>"><a href="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage5linkssearch>&settemplate=wz_locayta-mobile&layout=mobile"><venda_setting type=ebiz,name=setitemsperpage5linkssearch></a></li></venda_block label=44>
					<venda_block label=45,mode=value,<venda_setting type=ebiz,name=setitemsperpage6linkssearch>=notnull><li class="setlastperpage <venda_block label=96,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage6linkssearch>>setperpage_active</venda_block label=96>"><a href="<venda_searchurl>&setpagenum=1&setperpage=<venda_setting type=ebiz,name=setitemsperpage6linkssearch>&settemplate=wz_locayta-mobile&layout=mobile"><venda_setting type=ebiz,name=setitemsperpage6linkssearch></a></li></venda_block label=45>
				</ul>
			</div>
		</venda_block label=21><venda_tpcomment><!-- end itemsperpage style --></venda_tpcomment>
	</venda_block label=1119>
</div>
<div class="iconView"><a href="<venda_searchurl>&perpage=18" class="listView viewProduct">list</a><a href="<venda_searchurl>&perpage=12&settemplate=wz_locayta-mobile&layout=mobile" class="gridView viewProduct">grid</a><a href="<venda_searchurl>&perpage=27&settemplate=wz_locayta-mobile&layout=mobile" class="imageView viewProduct">image</a></div>

<div id="tag-totalpages" style="display:none"><venda_pgn_totalpages></div>

<venda_tpcomment><!-- the following glxt is needed for Recent Search History, please do not remove --></venda_tpcomment>
<!-- <venda_glxt mode=set,name=currentpage,value=<venda_currentpage>> -->

<venda_tpcomment><!-- the following tpxt is needed for Search Results page, please do not remove --></venda_tpcomment>
<venda_block label=6,pgn_totalpages=1,pgn_currentpage=1,operator=or><venda_tpxt mode=set,name=currentpage,value=1></venda_block label=6>