<venda_block label=332,med-bannersearch=notnull>
	<div id="subcatbanner">
			<venda_media rec=icat,type=movie-swf-pict,key=bannersearch,alt=<venda_text id=site.searchspecificbanner.alttext.cats>>
			<p id="shortdesc"><venda_sdesc></p>
	</div>       
</venda_block label=332>
<venda_tpcomment>
<!--
Default banner code examples
<venda_block label=331,med-bannersearch=null>
        <venda_category rec=icat,ref=xxx,temp=xxx,cacheall=1>
</venda_block label=331>
-->
</venda_tpcomment>
<style type="text/css">
	#subcatbanner {background: url(<venda_entmediaadd>/ebiz/<venda_bsref>/icat/<venda_icatref>/<venda_medname1>) 0 0 no-repeat; padding: 0; margin: 0; height: 126px;}
	#subcatbanner img {display: none;}
	#shortdesc {color: #FFFFFF; display: block; width: 261px; margin: 0 0 0 644px; padding: 17px 0 0 0; font-size: 0.9em;}
</style>