<link rel="stylesheet" href="
<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/myaccount.css" type="text/css" media="screen, projector">
<style>#content-checkout {margin-top:0;}fieldset div div {
width: 660px;}#checkout .checkoutR {padding:0;}.containeroradeditadd p {padding-left:0;}.f-oradedetail input, .f-oradedetail select, .f-oradeadd input, .f-oradeadd select, .f-oradename input, .f-oradename select {font-size: 1em;font-family: arial;}.error{background:none;color:#C1392D;}#checkout .error {padding:0;}</style>
<div id="myaccountWrapper">
<!-- start column 1 -->
<venda_inctemplate name=myaccount-leftNav,type=includes>
<!-- end column 1 -->

<!-- start column 2 -->
<div class="myaccountDetails">
<venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
<p><venda_text id=site.address_book.instructions></p>

<div style="overflow:hidden;">
<venda_block label=registereduser,ustype=R>
<div class="myaccountBillingTaboff">
<venda_block label=manageadressesflow1,workflow=manageaddresses>
<a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>">
</venda_block label=manageadressesflow1>
<venda_block label=checkoutflow1,workflow=shopcart,workflow=instore,operator=or>
<a href="#" onClick='<venda_wizbutton step=billto,mode=process,param1=show,param2=edit,callonly=yes> return false;'>
</venda_block label=checkoutflow1>
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-billing-address-off.gif" border="0">
</a>
</div>
</venda_block label=registereduser>

<div class="myaccountDeliveryTabon">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-delivery-address-on.gif" border="0">
</div>

<venda_block label=fullyregistered1,ustype=R,workflow=manageaddresses>
<div class="myaccountEmailTaboff">
<a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>">
<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-email-address-off.gif" border="0">
</a>
</div>
</venda_block label=fullyregistered1>
</div>

<div class="myaccountDetails-body">
<venda_form>
<input type="hidden" name="PrimaryForm">
<input type="hidden" name="default" value="1">
<input type="hidden" name="abrfnbr" value="<venda_abrfnbr>">
<venda_block label=134,workflow=singleadbook><input type=hidden name="copybilltodel" value="1"></venda_block label=134>

<venda_tpcomment><!-- Start: Contact Details --></venda_tpcomment>
<fieldset class="f-oradedetail">
<legend class="oradedetail"><venda_text id=site.delivery_address.legend.contact_details></legend>
<div><label for="title"><venda_text id=site.delivery_address.label.title> <span class="required">*</span></label> 
		<select name="title" id="title">
				<option value="Mr"<venda_block label=101,mode=value,<venda_title>=Mr> selected</venda_block label=101>>Mr</option>
				<option value="Mrs"<venda_block label=111,mode=value,<venda_title>=Mrs> selected</venda_block label=111>>Mrs</option>
				<option value="Miss"<venda_block label=121,mode=value,<venda_title>=Miss> selected</venda_block label=121>>Miss</option>
				<option value="Ms"<venda_block label=131,mode=value,<venda_title>=Ms> selected</venda_block label=131>>Ms</option>
				<option value=" "<venda_block label=1481,param1!=delivery,mode=value,<venda_title>= > selected</venda_block label=1481><venda_block label=141,param1!=delivery,mode=value,<venda_title>=> selected</venda_block label=141>>Other</option>
</select></div>

<div><label for="fname"><venda_text id=site.delivery_address.label.first_name> <span class="required">*</span></label> <input type="text" maxlength="30" size="25" value="<venda_fname>" name="fname" id="fname"></div>

<venda_block label=123,mode=value,<venda_setting type=ebiz,name=showmname>=1><div><label for="mname"><venda_text id=site.contact_address.label.middle_name></label> <venda_mname field=text,size=25,maxlength=30></div></venda_block label=123>

<div><label for="lname"><venda_text id=site.delivery_address.label.last_name> <span class="required">*</span></label> <input type="text" maxlength="30" size="25" value="<venda_lname>" name="lname" id="lname"></div>
</fieldset>
<venda_tpcomment><!-- End: Contact Details --></venda_tpcomment>

</venda_userinfo>
		
<venda_block label=52,param2!=storeadd>
<venda_tpcomment><!-- Start: Complete Delivery Address --></venda_tpcomment>
<fieldset class="f-oradeadd">
<legend class="oradeadd"><venda_text id=site.delivery_address.legend.complete_delivery_address></legend>
	
<venda_block label=124,mode=value,<venda_setting type=ebiz,name=showcompany>=1>
<div><label for="company"><venda_text id=site.contact_address.label.company></label> <venda_company field=text,size=25,maxlength=60></div>
</venda_block label=124>

<div><label for="addr1"><venda_text id=site.delivery_address.label.address> <span class="required">*</span></label> <venda_addr1 field=text,size=25,maxlength=50,required=yes></div>

<div><label for="addr2"><venda_text id=site.delivery_address.label.address2></label> <venda_addr2 field=text,size=25,maxlength=50></div>

<div><label for="city"><venda_text id=site.delivery_address.label.city> <span class="required">*</span></label> <venda_city field=text,size=25,maxlength=30,required=yes></div>
			
<div id="stateDiv"><label for="state" id="stateLabel"><venda_text id=site.my_account.edit_user_details.edit_contact_details.label.county></label> <input type="text" id="statetext" name="state" value="<venda_state>" class="admn_fieldsLarge" size="15" maxlength="20" /></div>

<div id="zipcDiv"><label for="zipc" id="zipcLabel"><venda_text id=site.delivery_address.label.postcode></label> <venda_zipc field=text,size=25,maxlength=20></div>

<div id="countryDiv"><label for="cntry" id="countryLabel"><venda_text id=site.delivery_address.label.country> <span class="required">*</span></label> <venda_cntry  field=combo,class=admn_fieldsLarge,required=yes,ship=1></div>

<venda_block label=50,param2!=storeadd><div><label for="phone">Phone Number</label> <venda_block label=103,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><label for="area" class="dontFloat invisible"></label></venda_block label=103> <venda_block label=104,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_area field=text,size=4,maxlength=6> </venda_block label=104><venda_phone field=text,size=18,maxlength=20></div></venda_block label=50>

<venda_block label=51,param2=storeadd><div><label for="phone">Phone Number <span class="required">*</span></label><venda_block label=102,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><label for="area" class="dontFloat invisible"></label></venda_block label=102> <venda_block label=100,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_area field=text,size=4,maxlength=6,required=yes> </venda_block label=100><venda_phone field=text,size=18,maxlength=20,required=yes></div></venda_block label=51>
</fieldset>
<venda_tpcomment><!-- End: Complete Delivery Address --></venda_tpcomment>
		
<venda_tpcomment><!-- Start: Address Name --></venda_tpcomment>
<venda_block label=48,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p,<venda_ustype>!=P>
<fieldset class="f-oradename">
<legend class="oradename"><venda_text id=site.delivery_address.legend.address_name></legend>
<div><label for="addrname"><venda_text id=site.delivery_address.label.address_name></label> <venda_addrname field=text,size=25,maxlength=30></div>
</fieldset>
</venda_block label=48>	
<venda_tpcomment><!-- End: Address Name --></venda_tpcomment>
</venda_block label=52>

<venda_tpcomment><!-- Start: JS Buttons --></venda_tpcomment>
		<script type="text/javascript">
		<!--
		// isRequiredField - this param is set to 'true' when country field is 'US', for validating State and Zipcode
		var isRequiredField = false;
		function nextPage () {
			<venda_block label=33,param2!=uk>	
			if(isRequiredField){
				if (document.wizform.statelist.value == "") { 
					alert('<venda_text id=site.delivery_address.js_validation.state>');
					return ; 
				}
				if (document.wizform.zipc.value == "") { 
					alert('<venda_text id=site.delivery_address.js_validation.zipc.us>');
					return ; 
				}
			}else{
			<venda_block label=53,param2!=storeadd>
				<venda_block label=188,mode=value,<venda_setting type=ebiz,name=nohousenum>!=1>
				if ((document.wizform.num.value == "") && (document.getElementById('houseNum').style.display != 'none')) {
					alert("<venda_text id=site.my_account.edit_user_details.edit_contact_details.js_validation.num>");
					document.wizform.num.focus();
					return;
				}
				</venda_block label=188>
			</venda_block label=53>
			}
			</venda_block label=33>
			<venda_block label=34,param2=uk>
			if (document.wizform.zcdropdown.selectedIndex==0) {
				alert("<venda_text id=site.delivery_address.js_validation.select_address>");
				document.wizform.zcdropdown.focus();
			}
			else {
			</venda_block label=34>
				<venda_block label=36,workflow=manageaddresses>
				// if in manageaddresses workflow
				<venda_wizbutton step=shipadd,mode=process,check=yes,param2=password,callonly=yes>
				</venda_block label=36>
				<venda_block label=37,workflow=giftlist>
				// if in giftlist workflow
				<venda_wizbutton step=shipadd,mode=process,check=yes,param2=password,callonly=yes>
				</venda_block label=37>
				<venda_block label=38,workflow=shopcart,workflow=instore,operator=or>

				<venda_block label=400,param3!=addgiftwrap>
					<venda_block label=40,mode=value,<venda_htxt mode=get,name=changeaddby>=multipledeliveryaddresses>
					// if in shopcart workflow - multipledeliveryaddresses no param3
					<venda_wizbutton step=itemship,mode=process,check=yes,param2=password,callonly=yes>
					</venda_block label=40>
					<venda_block label=41,mode=value,<venda_htxt mode=get,name=changeaddby>!=multipledeliveryaddresses>
					// if in shopcart workflow - edit button, no giftwrap
					<venda_wizbutton step=confirm,mode=process,check=yes,param2=password,callonly=yes>
					</venda_block label=41>
				</venda_block label=400>
				<venda_block label=401,param3=addgiftwrap>
					<venda_block label=40,mode=value,<venda_htxt mode=get,name=changeaddby>=multipledeliveryaddresses>
					// if in shopcart workflow - multipledeliveryaddresses param3
					<venda_wizbutton step=addgiftwrap,mode=process,check=yes,param2=password,callonly=yes>
					</venda_block label=40>
					<venda_block label=41,mode=value,<venda_htxt mode=get,name=changeaddby>!=multipledeliveryaddresses>
					// if in shopcart workflow - edit button, giftwrap
					<venda_wizbutton step=addgiftwrap,mode=process,check=yes,param2=password,callonly=yes>
					</venda_block label=41>
				</venda_block label=401>

				</venda_block label=38>
				<venda_block label=139,workflow=singleadbook>
				//express checkout
				<venda_wizbutton step=confirm,mode=process,param1=copybillto,check=yes,wizard=shopcart,callonly=yes>
				</venda_block label=139>
				<venda_block label=39,workflow!=shopcart,workflow!=manageaddresses,workflow!=giftlist,workflow!=instore,workflow!=singleadbook>
				// if in none of those workflows
				<venda_wizbutton step=next,mode=process,check=yes,param2=password,callonly=yes>
				</venda_block label=39>
				
			}
		<venda_block label=440,param2=uk>}</venda_block label=440>
		// -->
		</script>

		<div id="buttons" class="bottomButtons">

		<venda_block label=716,workflow=giftlist>
		<venda_block label=811,param2=edit>
				<a href="#" class="previous button buttonAlt2" onClick='<venda_wizbutton step=shipadd,mode=display,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a>
				</venda_block label=811>
				<venda_block label=812,param2!=edit>
				<venda_block label=29,mode=value,<venda_setting type=ebiz,name=bypasspclookup>!=1><a href="#" class="previous button buttonAlt2" onClick='<venda_wizbutton step=zipcodedelivery,mode=display,param1=delivery,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a></venda_block label=29>
				<venda_block label=30,mode=value,<venda_setting type=ebiz,name=bypasspclookup>=1><a href="#" class="previous button buttonAlt2" onClick='<venda_wizbutton step=shipadd,mode=display,param1=delivery,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a></venda_block label=30>
				</venda_block label=812>
		</venda_block label=716>

		<venda_block label=714,workflow=manageaddresses>
		<venda_block label=14,param1=delivery>
			<venda_tpcomment><!--Adding new address--></venda_tpcomment>
			<venda_block label=32,mode=value,<venda_setting type=ebiz,name=bypasspclookup>!=1><a href="#" class="previous button buttonAlt2" onClick='<venda_wizbutton step=zipcodedelivery,mode=display,param1=delivery,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a></venda_block label=32>
			<venda_block label=33,mode=value,<venda_setting type=ebiz,name=bypasspclookup>=1><a href="#" class="previous button buttonAlt2" onClick='<venda_wizbutton step=shipadd,mode=display,param1=delivery,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a></venda_block label=33>
		</venda_block label=14>
		<venda_block label=15,param1!=delivery>
			<venda_tpcomment><!--Editing existing address--></venda_tpcomment>
			<a href="<venda_codehttps>?ex=co_wizr-manageaddresses&bsref=<venda_bsref>" class="previous button buttonAlt2"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a>
		</venda_block label=15>
		</venda_block label=714>

		<venda_block label=313,workflow=shopcart>
			<venda_block label=78,param2!=adbook>
			<venda_tpcomment><!-- if you were previously at the zipcode screen you are not allowed to go back as you would add an incomplete entry to your addresses --></venda_tpcomment>
			<venda_tpcomment><!-- if you were previously at the billto screen you are not allowed to go back as you cannot resubmit the form - it has already been processed --></venda_tpcomment>
			</venda_block label=78>
			<venda_block label=79,param2=adbook>
			<venda_tpcomment><!-- ie you were previously at the address book screen --></venda_tpcomment>
			<a href="#" class="previous button buttonAlt2" onclick='<venda_wizbutton step=shipadd,mode=display,param2=adbook,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a>
			</venda_block label=79>
			<venda_block label=80,param2=storeadd,fname=null>
			<venda_tpcomment><!-- ie you were previously at the address book screen --></venda_tpcomment>
			<a href='#' onClick='<venda_wizbutton step=confirm,mode=display,param1=<venda_bsref>,callonly=yes> return false;' class="button buttonAlt2"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a>
			</venda_block label=80>			
		</venda_block label=313>

		<venda_block label=31,workflow=singleadbook>
				<venda_tpcomment><!-- ie has no address book so this will go back to the order confirmation--></venda_tpcomment>
				<a href="#" onclick='<venda_wizbutton step=confirm,mode=display,wizard=shopcart,callonly=yes> return false;' class="button buttonAlt2"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a>
		</venda_block label=31>

		<venda_block label=314,workflow!=shopcart,workflow!=manageaddresses,workflow!=giftlist,workflow!=singleadbook,workflow!=instore>
		<venda_block label=24,param2=uk,param2=add,param2=storeadd,operator=or>
				<venda_tpcomment><!-- try another postcode --></venda_tpcomment>
				<venda_block label=40,mode=value,<venda_setting type=ebiz,name=bypasspclookup>!=1><a href="#" class="button buttonAlt2" onClick='<venda_wizbutton step=zipcodedelivery,mode=display,param1=delivery,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-previous.gif" alt="Previous" style="margin:0;"></a></venda_block label=40>
				<venda_block label=35,mode=value,<venda_setting type=ebiz,name=bypasspclookup>=1><a href="#" class="button buttonAlt2" onClick='<venda_wizbutton step=shipadd,mode=display,param1=delivery,callonly=yes> return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-previous.gif" alt="Previous" style="margin:0;"></a></venda_block label=35>
			</venda_block label=24>
			<venda_block label=25,param2!=uk,param2!=add,param2!=storeadd>
				<venda_tpcomment><!-- back to my account --></venda_tpcomment>
				<a href="<venda_dispview page=myaccount>" class="button buttonAlt2"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-cancel.gif" alt="Cancel" style="margin:0;"></a>
			</venda_block label=25>
		</venda_block label=314>

			<venda_block label=225,param2!=storeadd>
			<input type="image" onClick="nextPage(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-submit.gif" alt="<venda_text id=site.button.submit>" class="right submit button buttonAlt buttonArrow">
			</venda_block label=225>
			<venda_block label=226,param2=storeadd>
			<input type="image" onClick="nextPage(); return false;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/my-account/my-account-submit.gif" alt="<venda_text id=site.button.submit>" class="right submit button buttonAlt buttonArrow dtsSubmit">
			</venda_block label=226>			
		</div>

		<venda_block label=244,param2!=uk>
		
		</venda_block label=244>
	<venda_tpcomment><!-- End: JS Buttons --></venda_tpcomment>
		
	</form>
	</div>
	</div>
<div style="margin:-1px 1px 0 1px;background-color:#b4b4b4;height:1px;
width:197px;clear:both;float:left;"></div>
</div>

<venda_block label=20,workflow=instore><venda_tpxt mode=set,name=instore,value=1></venda_block label=20>

<!-- 
step: <venda_curstep>
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: orad-editadd
 -->
<venda_tpxt mode=set,name=track,value=orad-editadd>

<!-- Venda vars to be passed to JS -->
<div id="venda_cntry" style="display: none;"><venda_cntry></div>
<div id="venda_state" style="display: none;"><venda_state></div>
<div id="venda_locn" style="display: none;"><venda_sessionlocation></div>

<!-- Localisation to be passed to JS -->
<div id="user_details_label_required" style="display: none;"><venda_text id=site.accessible.label.required></div>
<div id="user_details_label_us_state" style="display: none;"><venda_text id=site.contact_address.label.us_state></div>
<div id="user_details_label_us_zip" style="display: none;"><venda_text id=site.contact_address.zipc.us_zipcode></div>
<div id="user_details_label_uk_county" style="display: none;"><venda_text id=site.contact_address.label.uk_county></div>
<div id="user_details_label_non_us_postcode" style="display: none;"><venda_text id=site.contact_address.zipc.non_us_postcode></div>
<div id="user_details_label_non_us_uk_region" style="display: none;"><venda_text id=site.contact_address.label.non_us_uk_region></div>
<div id="please_select_multi_dot" style="display: none;"><venda_text id=site.attributes.product_detail.please_select_multi_dot></div>