<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<venda_tpcomment><!-- Home screen icons --></venda_tpcomment><link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<venda_tpcomment><!-- Home screen icons: stop adding a glossy semi-circle on top <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/--></venda_tpcomment>
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/mobile/jquery.mobile-1.1.0-rc.1.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/mobile/showcase.mobile.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/mobile/base.css" type="text/css" media="all" />