<html>
<head>
	<title>Heal's Update Confirmation</title>
</head>
<body>

<venda_inctemplate name=htmlEmailCssEtc,type=includes/email>
<div id="emailBody">
<div id="logo">
	<venda_inctemplate name=htmlEmailLogo,type=includes/email>
	<h1>Update Details Confirmation</h1>
	<div class="clear">&nbsp;</div>
</div>

<p>Dear <strong><venda_fname> <venda_lname></strong>,</p>

<p>Thank you for updating your account details for Heals.co.uk.</p>

<p>If you wish to amend any other account details you can do so in the '<a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>" title="My Account">My Account</a>' section of the website.</p>

<p>Regards,</p>

<div><venda_ebizname> Customer Services</div>
<div><a href="<venda_ebizurl>"><venda_ebizurl></a></div>
<div>Contact Us - <a href="mailto:customerservices@heals.co.uk">customerservices@heals.co.uk</a> or 08700 240 780</div>
<div>Registered Office: Heal & Son Limited, 196 Tottenham Court Road, London W1T 7LQ</div>
<div>VAT Number: GB 524 3006 89</div>
</div>
</body>
</html>