<venda_detblock>
	<venda_block label=789,itemcount1=1>
		<span><a title="<venda_pagename1>" href="<venda_dispview page=<venda_pageref1>?layout=static>"><venda_pagename1></a></span>	
	</venda_block label=789>
	<venda_block label=788,itemcount1!=1>
		&nbsp;&nbsp;|&nbsp;&nbsp;<span><a title="<venda_pagename1>" href="<venda_dispview page=<venda_pageref1>?layout=static>"><venda_pagename1></a></span>
	</venda_block label=788>
</venda_detblock>
<div class="content_box_catlist"><div class="contentb_box"><div class="contentl_box"><div class="contentr_box"><div class="contentbl_box"><div class="contentbr_box"><div class="contenttl_box"><div class="contenttr_box">
	<div class="title_block theader">About...</div>
	<div class="title_content">
		<div id="aboutcat_link">
			<venda_detail>
				<br class="clear-all">
		</div>
	</div>
	<br class="clear-all">
</div></div></div></div></div></div></div></div>