<div class="leftnav-header">
<p style="padding:0 0 0 8px;">Shop Gifts</p>
</div>
<div class="accordion_area">

        <h5 class="acc_trigger_gift"><a href="<venda_text id=site.womens_gifts>">All Women's Gifts</a></h5>
        <div class="acc_accordion_area">
                <div class="block_gifts">
<p class="border-top"><a href="<venda_text id=site.womens_fashion_accessories>">Women's Fashion</a></p>
<p><a href="<venda_text id=site.bath_body_perfume>">Bath, Body & Perfume</a></p>
<p><a href="<venda_text id=site.womens_food_alcohol_gifts>">Women's Food & Alcohol Gifts</a></p>
<p><a href="<venda_dispview icat=handbags_and_purses>">Handbags & Purses</a></p>
<p><a href="<venda_text id=site.womens_stocking_fillers>">Women's Novelty</a></p>
<p><a href="<venda_dispview icat=tech_and_gadgets>">Technology & Gadgets</a></p>
<p><a href="<venda_text id=site.candles_home_fragrance>">Candles & Home Fragrance</a></p>
<p><a href="<venda_text id=site.loungewear_slippers>">Loungewear & Slippers</a></p>
<p><a href="<venda_text id=site.gifts_for_home>">Gifts For The Home</a></p>
<p><a href="<venda_text id=site.womens_books>">Women's Books</a></p>
<p><a href="<venda_text id=site.womens_stationery_gifts>">Women's Stationery Gifts</a></p>
<p><a href="<venda_text id=site.womens_heals_favourites>">Women's Heal's Favourites</a></p>
</div>
        </div>

        <h5 class="acc_trigger_gift"><a href="<venda_text id=site.mens_gifts>">All Men's Gifts</a></h5>
        <div class="acc_accordion_area">
                <div class="block_gifts">
<p class="border-top"><a href="<venda_text id=site.mens_fashion_accessories>">Men's Fashion Accessories</a></p>
<p><a href="<venda_text id=site.mens_food_alcohol_gifts>">Men's Food & Alcohol Gifts</a></p>
<p><a href="<venda_text id=site.mens_grooming>">Men's Grooming</a></p>
<p><a href="<venda_text id=site.mens_stocking_fillers>">Men's Novelty</a></p>
<p><a href="<venda_dispview icat=watches_and_cufflinks>">Watches & Cufflinks</a></p>
<p><a href="<venda_dispview icat=tech_and_gadgets>">Technology & Gadgets</a></p>
<p><a href="<venda_text id=site.luggage_bags_wallets>">Luggage Bags & Wallets</a></p>
<p><a href="<venda_text id=site.mens_stationery_gifts>">Men's Stationery Gifts</a></p>
<p><a href="<venda_text id=site.mens_games>">Men's Games</a></p>
<p><a href="<venda_text id=site.mens_books>">Men's Books</a></p>
<p><a href="<venda_text id=site.mens_robes_slippers>">Men's Robes & Slippers</a></p>
<p><a href="<venda_text id=site.mens_heals_favourites>">Men's Heal's Favourites</a></p>
                </div>
        </div>

        <h5 class="acc_trigger_gift"><a href="<venda_text id=site.kids_gifts>">All Kid's Gifts</a></h5>
        <div class="acc_accordion_area">
                <div class="block_gifts">
<p class="border-top"><a href="<venda_text id=site.kids_stocking_fillers>">Kid's Novelty</a></p>
<p><a href="<venda_text id=site.kids_food_gifts>">Kid's Food Gifts</a></p>
<p><a href="<venda_text id=site.things_to_make_do>">Things To Make & Do</a></p>
<p><a href="<venda_text id=site.kids_bathtime_fun>">Kid's Bathtime Fun</a></p>
<p><a href="<venda_text id=site.kids_games>">Kid's Games</a></p>
<p><a href="<venda_text id=site.kids_stationery>">Kid's Stationery</a></p>
<p><a href="<venda_text id=site.soft_toys_baby_gifts>">Soft Toys & Baby Gifts</a></p>
<p><a href="<venda_text id=site.kids_room>">Kid's Room</a></p>
<p><a href="<venda_text id=site.kids_books>">Kid's Books</a></p>
<p><a href="<venda_text id=site.girls_gifts>">Girl's Gifts</a></p>
<p><a href="<venda_text id=site.boys_gifts>">Boy's Gifts</a></p>
<p><a href="<venda_text id=site.kids_heals_favourites>">Kid's Heal's Favourites</a></p>
                </div>
        </div>

        <h5 class="acc_trigger_gift"><a href="<venda_text id=site.home_gifts>">All Gifts For The Home</a></h5>
        <div class="acc_accordion_area">
                <div class="block_gifts">
<p class="border-top"><a href="<venda_text id=site.candles_home_fragrance>">Candles & Home Fragrance</a></p>
<p><a href="<venda_text id=site.gift_art>">Gift Art</a></p>
<p><a href="<venda_text id=site.gift_objets>">Gift Objets</a></p>
<p><a href="<venda_text id=site.gift_vases_bowls>">Vases & Bowls</a></p>
<p><a href="<venda_text id=site.gift_frames>">Frames</a></p>
<p><a href="<venda_text id=site.gifts_for_cooks>">Gifts For Cooks</a></p>
<p><a href="<venda_text id=site.gift_soft_furnishings>">Soft Furnishings</a></p>
<p><a href="<venda_text id=site.gift_office_stationery>">Office & Stationery Gifts</a></p>
<p><a href="<venda_text id=site.gift_books>">Books</a></p>
<p><a href="<venda_text id=site.christmas_party>">Christmas Party</a></p>
<p><a href="<venda_text id=site.kids_room>">Kid's Room</a></p>
<p><a href="<venda_text id=site.home_gifts_heals_favourites>">Heal's Favourites</a></p>
                </div>
        </div>

        <h5 class="acc_trigger_gift"><a href="<venda_text id=site.gift_toiletries>">All Toiletries</a></h5>
        <div class="acc_accordion_area">
                <div class="block_gifts">
<p class="border-top"><a href="<venda_text id=site.gift_toiletries_gift_sets>">Toiletries Gift Sets</a></p>
<p><a href="<venda_text id=site.bath_body_perfume>">Bath, Body & Perfume</a></p>
<p><a href="<venda_text id=site.candles_home_fragrance>">Candles & Home Fragrance</a></p>
<p><a href="<venda_text id=site.mens_grooming>">Men's Grooming</a></p>
<p><a href="<venda_text id=site.kids_bathtime_fun>">Kid's Bathtime Fun</a></p>
<p><a href="<venda_text id=site.gift_toiletries_stocking_fillers>">Novelty Toiletries</a></p>
<p><a href="<venda_text id=site.loungewear_slippers>">Loungewear & Slippers</a></p>
<p><a href="<venda_text id=site.gift_spa_gifts>">Spa Gifts</a></p>
<p><a href="<venda_text id=site.gift_hot_water_bottles>">Hot Water Bottles</a></p>
<p><a href="<venda_text id=site.gift_toiletries_heals_favourites>">Heal's Favourites</a></p>
                </div>
        </div>

        <h5 class="acc_trigger_gift"><a href="<venda_text id=site.gourmet_food_drink>">All Gourmet Food & Drink</a></h5>
        <div class="acc_accordion_area">
                <div class="block_gifts">
<p class="border-top"><a href="<venda_text id=site.deli>">Deli</a></p>
<p><a href="<venda_text id=site.chocolate>">Chocolate</a></p>
<p><a href="<venda_text id=site.alcohol_beverages>">Alcohol & Beverages</a></p>
<p><a href="<venda_text id=site.confectionery>">Confectionery</a></p>
<p><a href="<venda_text id=site.food_stocking_fillers>">Food Stocking Fillers</a></p>
<p><a href="<venda_text id=site.food_alcohol_gift_sets>">Food & Alcohol Gift Sets</a></p>
<p><a href="<venda_text id=site.womens_food_alcohol_gifts>">Women's Food & Alcohol Gifts</a></p>
<p><a href="<venda_text id=site.mens_food_alcohol_gifts>">Men's Food & Alcohol Gifts</a></p>
<p><a href="<venda_text id=site.kids_food_gifts>">Kid's Food Gifts</a></p>
<p><a href="<venda_text id=site.gifts_for_cooks>">Gifts For Cooks</a></p>
<p><a href="<venda_text id=site.gourmet_food_drink_heals_favourites>">Heal's Favourites</a></p>
                </div>
        </div>
<br clear="all" /><br /><br />
<div class="shopbybrand_area" style="height:270px;width:190px;background:url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/gift-vouchers.jpg) no-repeat;">
<div class="block_gift_voucher">
<p class="border-top"><a href="<venda_dispview invt=giftvouchers>">Store Gift Vouchers</a></p>
<p><a href="<venda_codehttp>/?ex=co_wizr-giftcertificates&bsref=heals">Online Gift Vouchers</a></p>
</div>
</div>
</div>

<script>
var ExpandCollapse = function() {
        var icatRef = $('#parentCatRef').text();
        $('#icatName').html($('#parentCatName').text());
        $('.acc_accordion_area').hide();

        //womensgift
        if (icatRef=="womens_fashion" || icatRef=="womens_food_alcohol" || icatRef=="handbags_and_purses" || icatRef=="womens_stocking_fillers" || icatRef=="girls_gadgets" || icatRef=="loungewear_and_slippers" || icatRef=="womens_books" || icatRef=="womens_stationery_gifts" || icatRef=="womens_favourites" || icatRef=="gifts_for_home") {
                $('.acc_trigger_gift:nth-child(1)').addClass('active').next().show();
        }
        //mensgift
        else if (icatRef=="mens_fashion" || icatRef=="mens_food_alcohol" || icatRef=="mens_grooming" || icatRef=="mens_stocking_fillers" || icatRef=="watches_and_cufflinks" || icatRef=="gadgets_boys_toys" || icatRef=="luggage_wallets_bags" || icatRef=="mens_games" || icatRef=="mens_books" || icatRef=="mens_stationery_gifts" || icatRef=="mens_favourites" || icatRef=="mens_robes_slippers") {
                $('.acc_trigger_gift:nth-child(3)').addClass('active').next().show();
        }
        //kidsgift
        else if (icatRef=="kids_stocking_fillers" || icatRef=="kids_food_gifts" || icatRef=="things_to_make_and_do" || icatRef=="bathtime_fun" || icatRef=="kids_games" || icatRef=="kids_stationery" || icatRef=="soft_toys_and_baby" || icatRef=="kids_room" || icatRef=="kids_books" || icatRef=="girls_gifts" || icatRef=="boys_gifts" || icatRef=="kids_heals_favourites") {
                $('.acc_trigger_gift:nth-child(5)').addClass('active').next().show();
        }
        //homegift
        else if (icatRef=="gift_art" || icatRef=="candles_home_fragrance" || icatRef=="gift_objet" || icatRef=="gift_vases_bowls" || icatRef=="gift_frames" || icatRef=="gift_soft_furnishings" || icatRef=="office_and_stationery" || icatRef=="gift_books" || icatRef=="xmas_party" || icatRef=="home_favourites") {
                $('.acc_trigger_gift:nth-child(7)').addClass('active').next().show();
        }
        //toiletriesgift
        else if (icatRef=="toiletries_gift_sets" || icatRef=="bath_body_perfume" || icatRef=="toiletries_stocking" || icatRef=="spa_gifts" || icatRef=="hot_water_bottles" || icatRef=="toiletries_favourites") {
                $('.acc_trigger_gift:nth-child(9)').addClass('active').next().show();
        }
        //foodgift
        else if (icatRef=="gift_deli" || icatRef=="chocolate" || icatRef=="alcohol_and_beverages" || icatRef=="confectionery" || icatRef=="bakery" || icatRef=="food_stocking_fillers" || icatRef=="food_alcohol_gift_sets" || icatRef=="gifts_for_cooks" || icatRef=="food_heals_favourites") {
                $('.acc_trigger_gift:nth-child(11)').addClass('active').next().show();
        }

        $('.acc_trigger_gift').live('click', function(){
                        if( $(this).next().is(':hidden') ) {
                                        $('.acc_trigger_gift').removeClass('active').next().slideUp();
                                        $(this).toggleClass('active').next().slideDown();
                        }
                        return false;
        });
};
if($('#parentCatRef').length > 0) {
                ExpandCollapse();
} else {
        jQuery(function () {
                ExpandCollapse();
        });
}

</script>
